<div mat-dialog-content>
  <h5 class="text-center">دیدگاه خود را ثبت نمایید</h5>

  <form [formGroup]="commentForm">
    <div class="form-group">
      <keleman-card [cardTitle]="'امتیاز شما'">
        <div class="card-body d-flex flex-column">
          <h5
            class="text-center"
            [ngClass]="{
              'text-danger': rate.value < 2,
              'text-warning': rate.value >= 2 && rate.value < 4,
              'text-success': rate.value >= 4
            }"
          >
            {{ ratesText[rate.value].title }}
          </h5>
          <div class="slider-with-ticks position-relative">
            <mat-slider
              class="example-margin w-100 m-0"
              [max]="5"
              [min]="0"
              [step]="1"
              [showTickMarks]="true"
              dir="ltr"
            >
              <input matSliderThumb formControlName="rate" />
            </mat-slider>
            <div class="mat-slider-ticks-container">
              <div class="mat-slider-tick" style="left: 0">0</div>
              <div class="mat-slider-tick" style="left: 20%">1</div>
              <div class="mat-slider-tick" style="left: 40%">2</div>
              <div class="mat-slider-tick" style="left: 60%">3</div>
              <div class="mat-slider-tick" style="left: 80%">4</div>
              <div class="mat-slider-tick" style="left: 100%">5</div>
            </div>
          </div>
        </div>
      </keleman-card>
    </div>
    <div class="form-group">
      <keleman-card [cardTitle]="'نظر شما'">
        <div class="card-body d-grid satisfaction">
          <a
            class="d-flex flex-column align-items-center text-success selected"
            (click)="selected = true"
            [ngClass]="{ selected: selected }"
          >
            <mat-icon>sentiment_satisfied</mat-icon>
            <h5>راضی هستم</h5>
          </a>
          <a class="d-flex flex-column align-items-center text-warning">
            <mat-icon>sentiment_neutral</mat-icon>
            <h5>نظری ندارم</h5>
          </a>
          <a class="d-flex flex-column align-items-center text-danger">
            <mat-icon>sentiment_dissatisfied</mat-icon>
            <h5>راضی نیستم</h5>
          </a>
        </div>
      </keleman-card>
    </div>
    <keleman-card [cardTitle]="'دیدگاه شما'">
      <div formGroupName="commentDetails" class="card-body">
        <div class="form-group">
          <input
            class="keleman-text-field"
            placeholder="عنوان دیدگاه"
            formControlName="title"
          />
        </div>
        <div class="form-group">
          <textarea
            class="keleman-text-field"
            placeholder="متن دیدگاه"
            formControlName="text"
          ></textarea>
        </div>
      </div>
    </keleman-card>
    <div class="w-100 text-center">
      <button class="btn btn-success text-white mx-3">ذخیره</button>
      <button class="btn btn-danger">انصراف</button>
    </div>
  </form>
</div>
