@import "base/variables/spacers";

img {
  border-radius: inherit;
}
section {
  margin-bottom: map-get($klm-spacers, 3);
}

.keleman-mag-banner-long {
  & > .card {
    height: 369px;
    max-height: 369px;
    margin-bottom: map-get($klm-spacers, 3);

    img {
      max-width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.grid-container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}
.grid-item:not(:last-child) {
  padding-left: 15px;
}
.empty-article-list img {
  width: 10rem;
}
