<div class="row mx-0">
  <div class="col-12 col-lg-9 row mx-0">
    <div class="col-12 col-lg-4 mb-3" *ngFor="let article of articles">
      <keleman-article-item [articleDetails]="article"></keleman-article-item>
    </div>
  </div>
  <div class="col-12 col-lg-3">
    <keleman-latest-articles></keleman-latest-articles>
    <div class="card card-rounded-3 shadow border border-gray-300">
      <div class="card-body">
        <h6 class="p-3">جستجو</h6>
        <div class="form-group">
          <label for="search">عنوان مورد نظر خود را وارد نمایید</label>
          <input id="search" class="keleman-text-field" placeholder="عنوان" />
        </div>
        <button class="btn btn-outline btn-outline-klm-primary float-start">
          جستجو
        </button>
      </div>
    </div>
  </div>
</div>
