<div class="d-flex h-100 mega-menu-body" id="mega-menu" #megamenu>
  <ul class="mega-menu-side-bar__menu">
    <li
      *ngFor="let rootCategory of productCategories; let i = index"
      (mouseenter)="onHover(i + 1)"
      [class.active]="i === 0"
      (click)="onClick({ c1: rootCategory.url })"
      appHoverClass
    >
      <span class="material-icons"> {{ iconNames[i] }} </span>
      <a> {{ rootCategory.titleFa }}</a>
    </li>
  </ul>
  <div class="mega-menu-items-menu flex-grow-1">
    <div
      *ngFor="let rootCategory of productCategories; let i = index"
      [ngClass]="activeIndex === i + 1 ? 'd-flex flex-column' : 'd-none'"
      class="container-fluid mega-menu-items-menu__inner"
    >
      <a class="text-klm-primary all-products">
        همه محصولات
        <mat-icon>chevron_left</mat-icon>
      </a>
      <ul class="column">
        <ng-template
          ngFor
          let-child
          [ngForOf]="rootCategory.children"
          let-i="index"
        >
          <li
            class="head"
            (click)="onClick({ c1: rootCategory.url, c2: child.url })"
          >
            <a>{{ child.titleFa }} </a>
          </li>
          <li
            *ngFor="let childChild of child.children"
            (click)="onClick({ c1: rootCategory.url, c2: childChild.url })"
          >
            <a>{{ childChild.titleFa }}</a>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</div>
