<div
  class="d-flex h-100 mega-menu-body justify-content-center p-3"
  id="mega-menu"
  #megamenu
>
  @for (category of productCategories;track category.id){
  <div
    class="product-category-item d-flex flex-column align-items-center px-3 cursor-pointer"
    (click)="onClick({ c1: category.url })"
  >
    <div class="mb-3 symbol symbol-13 symbol-circle">
      <img
        loadingLazy
        emptyImage
        [alt]="category.title"
        [src]="category.imageAddress"
      />
    </div>
    <a class="fs-6">{{ category.title }}</a>
  </div>

  }
</div>
