$side-bar-width: 13.75rem;

.mega-menu-side-bar__menu {
  width: $side-bar-width;
  padding: 0;
  margin: 0;
  list-style: none;
  > li {
    text-align: right;
    padding: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    span {
      margin: 0 0.5rem;
    }
    &:not(:last-child) {
      border-bottom: 1px solid #e4e6ef;
    }
    &:hover {
      border-right: 3px solid #001d8d;

      > .mega-menu-items-menu {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

.mega-menu-items-menu {
  height: 100% !important;
  right: $side-bar-width;
  width: calc(100vw - 13.75rem);
  max-width: 70rem;
  overflow-x: auto;
  position: absolute;
  top: 0;
  background-color: white;
  color: #000;
  min-height: 25rem;
  visibility: hidden;
  border: 1px solid #e4e6ef;
  padding: 1.5rem;
  opacity: 0;
  .column {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    max-height: 500px;
    ul {
      padding: 0;
      list-style: none;
      li {
        text-align: right;
        padding: 0.5rem;
        cursor: pointer;
        &.head {
          a {
            padding: 0 0.5rem;
            position: relative;
            font-weight: bolder;
            border-right: 3px solid #001d8d;
            &::after {
              position: absolute;
              font-family: "Material Icons";
              content: "\e5de";
              left: -1rem;
              top: 50%;
              font-size: 1.5rem;
              transform: translateY(-50%);
            }
          }
        }
        &:not(.head) {
          margin-right: 1.5rem;
          &:hover {
            font-weight: bold !important;
            transition: all 0.15s ease-in;
          }
        }
      }
    }
  }
}
