<div
  class="card card-rounded-3 border border-gray-300 product cursor-pointer"
  [routerLink]="['/products/detail/' + product.customUrl]"
>
  <div
    class="card-body d-flex align-items-center flex-row flex-md-column justify-content-md-between position-relative"
  >
    @if(product.rate > 0){
    <keleman-text-with-icon
      class="rate align-self-end rate"
      [text]="product.rate.toString()!"
      [iconName]="'star'"
      [iconClass]="'text-warning'"
    ></keleman-text-with-icon>
    }

    <div class="symbol symbol-lg-30 mb-0 mb-md-3">
      <img
        loadingLazy
        emptyImage
        [src]="product.thumbnailImage"
        [alt]="product.name!"
      />
    </div>
    <a
      class="fs-6 align-self-md-center flex-grow-1 text-center product-title"
      [routerLink]="['/products/detail/' + product.customUrl]"
    >
      {{ product.name! }}
    </a>
    <div class="d-flex flex-column">
      @if (product.price > 0){
      <keleman-price
        [value]="product.priceAfterDiscount!"
        [off]="false"
        [size]="'h6'"
        class="mb-md-3"
      ></keleman-price>
      } @else {
      <h5 class="mb-md-3 text-klm-primary fw-bold">تماس بگیرید</h5>
      } @if (product.discount > 0){
      <keleman-price
        [value]="product.price"
        [off]="true"
        [discount]="product.discount"
        [color]="'dark'"
        [size]="'h6'"
      ></keleman-price>
      }
    </div>
  </div>
</div>
