@media (min-width: 768px) {
  .product {
    min-height: 17rem;
  }
}

.rate {
  position: absolute;
  top: 1.5rem;
  left: 10%;
  transform: translate(-50%, -50%);
}
a {
  color: unset;
}
.test {
  transition: all 0.2s ease-in-out;
  &:hover {
    scale: 1.05;
    -webkit-box-shadow: 0px 0px 42px -14px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 42px -14px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 42px -14px rgba(0, 0, 0, 0.5);
  }
}
