<div
  class="card card-rounded-3 border border-gray-300 product cursor-pointer"
  [routerLink]="[product.name]"
>
  <div
    class="card-body d-flex align-items-center flex-row flex-md-column justify-content-md-between position-relative"
  >
    <keleman-text-with-icon
      *ngIf="product.rate > 0"
      class="rate align-self-end rate"
      [text]="product.rate.toString()!"
      [iconName]="'star'"
      [iconClass]="'text-warning'"
    ></keleman-text-with-icon>

    <div class="symbol symbol-25 symbol-lg-40 mb-3">
      <img
        loadingLazy
        emptyImage
        [src]="product.thumbnailImage!"
        [alt]="product.name!"
      />
    </div>
    <h2 class="fs-6 align-self-start align-self-md-center flex-grow-1">
      {{ product.name! }}
    </h2>
    <div class="d-flex flex-column">
      <ng-container
        *ngIf="product.price > 0; then price; else call"
      ></ng-container>
      <ng-template #price>
        <keleman-price
          [value]="product.priceAfterOff!"
          [off]="false"
          [size]="'h5'"
          class="mb-3"
        ></keleman-price>
      </ng-template>
      <ng-template #call>
        <h5 class="mb-3 text-klm-primary fw-bold">تماس بگیرید</h5>
      </ng-template>

      <ng-template [ngIf]="product.discount > 0">
        <keleman-price
          [value]="product.price"
          [off]="true"
          [discount]="product.discount"
          [color]="'dark'"
          [size]="'h6'"
        ></keleman-price>
      </ng-template>
    </div>
  </div>
</div>
