<div class="form-group">
  <label for="product-price-filter" class="text-warning fw-bold"
    >محدوده قیمت:</label
  >
  <div id="product-price-filter" class="card card-rounded-3 border-gray-300">
    <div class="card-body d-flex flex-column">
      <mat-slider
        [min]="min"
        [max]="max"
        [step]="500000"
        [discrete]="true"
        [displayWith]="formatLabel"
      >
        <input [(ngModel)]="minValue" matSliderStartThumb />
        <input [(ngModel)]="maxValue" matSliderEndThumb />
      </mat-slider>
      <div class="price-values">
        <span class="price-values__item">
          از
          <input
            class="keleman-text-field text-center my-3"
            [(ngModel)]="minValue"
          />
          تومان
        </span>

        <span class="price-values__item">
          تا
          <input
            class="keleman-text-field text-center my-3"
            [(ngModel)]="maxValue"
          />
          تومان
        </span>
      </div>
    </div>
  </div>
</div>
