<div class="keleman-mag-item mb-3">
  <div class="row mx-0">
    <div class="col-4">
      <div class="card keleman-mag-item__tumbnail">
        <img
          src="../../../../../../../assets/media/temp/SERVIC-ELEVATOR-SHAKH-scaled.jpg"
        />
      </div>
    </div>
    <div class="col-8">
      <div class="d-flex flex-column px-3">
        <span class="d-flex align-items-center mb-3">
          <div class="symbol symbol-10 symbol-circle">
            <img
              src="../../../../../../../assets/media/temp/80e39485-22e5-42e9-ad6c-c11486818a75-thumb.jpg"
            />
          </div>
          <h6 class="mb-0">کلمان</h6>
        </span>
        <h4 class="fw-bolder">ازکارافتادن آسانسور و مهم ترین دلایل</h4>
        <p class="keleman-mag-item__description">
          تابلو فرمان و تابلو برق آسانسور دو قسمت اصلی موتورخانه آسانسور را
          تشکیل می‌دهند. کنترل آسانسور به وسیله میکروکنترلر موجود در تابلو برق
          آسانسور و با استفاده از کنتاکتورهای فرمان و دیگر المان‌ها انجام
          می‌شود. اگر چه تابلو برق در حوزه تاییده اداره استاندارد آسانسور جای
          دارد؛ اما نظارت و تایید ناظرین حتما الزامی است. اگر سوالاتی نظیر تابلو
          برق آسانسور چیست؟ چه کاربردی دارد؟ از چه قطعاتی ساخته شده است؟ را در
          ذهنتان مرور می‌کنید، کافیست برای یافتن پاسخ این سوالات با کلمان همراه
          شوید تا با جزئیات و وظایف تابلو برق بیشتر آشنا شوید. تابلوهای برق در
          صنعت و ساختمان انواع مختلفی دارند، وظیفه اصلی تابلو برق‌ها حفاظت از
          مدارها، کنترل و فرمان آن‌ها و مدیریت توزیع برق در ساختمان و تجهیزات
          برقی است. این مدارها دارای المان‌های حفاظتی و کنترلی نظیر کلیدهای
          اتوماتیک، کلیدهای مغناطیسی، رله‌های کنترلی و نمایشگرها هستند که باعث
          محافظت از مدارهای برق در برابر اتصال کوتاه، اضافه بار، آتش ... تابلو
          فرمان و تابلو برق آسانسور دو قسمت اصلی موتورخانه آسانسور را تشکیل
          می‌دهند. کنترل آسانسور به وسیله میکروکنترلر موجود در تابلو برق آسانسور
          و با استفاده از کنتاکتورهای فرمان و دیگر المان‌ها انجام می‌شود. اگر چه
          تابلو برق در حوزه تاییده اداره استاندارد آسانسور جای دارد؛ اما نظارت و
          تایید ناظرین حتما الزامی است. اگر سوالاتی نظیر تابلو برق آسانسور چیست؟
          چه کاربردی دارد؟ از چه قطعاتی ساخته شده است؟ را در ذهنتان مرور
          می‌کنید، کافیست برای یافتن پاسخ این سوالات با کلمان همراه شوید تا با
          جزئیات و وظایف تابلو برق بیشتر آشنا شوید.
        </p>
        <button
          class="btn rounded-pill btn-primary align-self-end keleman-button"
        >
          بیشتر بخوانید
        </button>
      </div>
    </div>
  </div>
</div>
