<div class="article-item-thumbanil">
  <div class="symbol symbol-24">
    <img
      [alt]="article.title"
      loadingLazy
      emptyImage
      [src]="article.imageAddress"
    />
  </div>
  <div class="d-flex flex-column flex-grow-1 px-2">
    <a
      class="mb-3 d-inline-block fs-6"
      [routerLink]="['detail/' + article.url]"
      >{{ article.title }}</a
    >
    <span>
      <span class="fw-bold px-1">تاریخ انتشار:</span>
      <a>
        {{
          persianDateTimeService.fromGregorianString(
            article.date,
            "DD jMMMM YYYY"
          )
        }}</a
      >
    </span>
  </div>
</div>
