<div class="article-item-thumbanil">
  <div appSymbol [sizes]="[6]" [type]="'square'">
    <img
      [alt]="article.title"
      loadingLazy
      emptyImage
      [src]="article.imageAddress ? downloadUrl + article.imageAddress : ''"
    />
  </div>
  <div class="d-flex flex-column flex-grow-1 px-2">
    <h6 class="mb-3">
      <a [routerLink]="[article.url]">{{ article.title }}</a>
    </h6>
    <span>
      <span class="fw-bold px-1">نویسنده:</span>
      <a
        >{{ article.authorFullName }}
        {{
          persianDateTimeService.fromGregorianString(
            article.date,
            "DD jMMMM YYYY"
          )
        }}</a
      >
    </span>
  </div>
</div>
