<div class="keleman-input-group w-100 position-relative mb-3">
  <span class="input-group-append">
    <span class="prepend material-icons-outlined mx-2">search</span>
  </span>
  <input
    class="leaflet-geo-search rounded-1 w-100"
    type="text"
    placeholder="جستجو"
    #addressSearch
    (keyup)="onKeyUp(addressSearch.value)"
    [value]="
      addressSearch.value.length > 75
        ? (addressSearch.value | slice : 0 : 75) + '...'
        : addressSearch.value
    "
    [matAutocomplete]="auto"
  />
</div>

<mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
  <mat-option
    *ngFor="let option of searchAddressResult"
    [value]="option.label"
    (onSelectionChange)="selectOption(option)"
  >
    {{ option.label }}
  </mat-option>
</mat-autocomplete>
