.leaflet-geo-search {
}
.leaflet-geo-search {
  border: 1px solid #e6e6e6;
  line-height: 3.125rem;
  padding: 0 2rem;
}

.input-group-append,
.input-group-prepend {
  height: 100%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  line-height: 100%;
  display: flex;
  align-items: center;
}
.input-group-prepend {
  right: 0;
}
.input-group-append {
  left: 0;
}
.mat-mdc-progress-spinner {
  color: white !important;
}
.search-button {
  min-width: 125px;
}
