$badge-font-size: 0.85rem !default;
$badge-font-size-sm: 0.85rem !default;
$badge-font-size-lg: 1rem !default;
$badge-padding-y: 0.5em !default;
$badge-padding-x: 0.85em !default;
$badge-border-radius: 0.475rem !default;
$badge-size: 1.75rem !default; // Custom variable
$badge-size-sm: 1.5rem !default; // Custom variable
$badge-size-lg: 2rem !default; // Custom variable

@function theme-light-color($key: "primary") {
  @return get($theme-light-colors, $key);
}

.badge {
  // Circle
  &.badge-circle {
    border-radius: 50%;
    padding: 0;
    min-width: unset;
    width: $badge-size;
  }

  // Sizes
  &.badge-sm {
    min-width: $badge-size-sm;
    font-size: $badge-font-size-sm;

    &.badge-circle {
      width: $badge-size-sm;
      height: $badge-size-sm;
    }
  }

  &.badge-lg {
    min-width: $badge-size-lg;
    font-size: $badge-font-size-lg;

    &.badge-circle {
      width: $badge-size-lg;
      height: $badge-size-lg;
    }
  }
}

@each $name, $value in $theme-colors {
  .badge-#{$name} {
    color: $value;
    background-color: $value;
  }

  .badge-light-#{$name} {
    color: $value;
    background-color: theme-light-color($name);
  }
}
