@import "../base/variables/spacers";

.card {
  border: none !important;
  border-radius: 0 !important;
  .card-header {
    border: none;
  }
  .card-body {
    padding: map-get($k-spacers, 3);
  }
  @each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
      $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

      &.card-rounded#{$infix} {
        border-radius: 1rem !important;
        .card-header {
          border-radius: 1rem 1rem 0 0 !important;
        }
        .card-body {
          border-radius: 0 0 1rem 1rem !important;
        }
      }
    }
  }
}
