@import "base/variables/colors";
@mixin swiper-button() {
  [class*="-swiper-button-prev"],
  [class*="-swiper-button-next"] {
    position: absolute;
    top: 0;
    width: 15%;
    height: 100%;

    pointer-events: none;
  }
  [class*="-swiper-button-prev"] {
    z-index: 1;
    left: 0;
    background-image: linear-gradient(
      to left,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.85) 90%
    );
  }
  [class*="-swiper-button-next"] {
    z-index: 2;
    right: 0;
    background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.85) 90%
    );
  }
}

.swiper-button-disabled {
  display: none !important;
}
