.swiper-slide {
  width: auto !important;
}

@mixin swiper-button($prefix) {
  .#{$prefix}-swiper-button-prev,
  .#{$prefix}-swiper-button-next {
    width: 91px;
    z-index: 1;
    position: absolute;
    top: 0;
    height: 100%;

    span {
      z-index: 1;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .#{$prefix}-swiper-button-prev {
    left: 0;
    span {
      left: 0;
    }
    background-image: linear-gradient(
      to right,
      #eff2f7,
      rgba(239, 242, 247, 0)
    );
  }

  .#{$prefix}-swiper-button-next {
    right: 0;
    span {
      right: 0;
    }
    background-image: linear-gradient(to left, #eff2f7, rgba(239, 242, 247, 0));
  }
}

.swiper-button-disabled {
  display: none !important;
}
