@import "base/variables/colors";
@mixin swiper-button() {
  [class*="-swiper-button-prev"],
  [class*="-swiper-button-next"] {
    z-index: 1;
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    transform: translateY(-50%);
    background-color: white !important;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid map-get($theme-colors, "gray-300");
  }
  [class*="-swiper-button-prev"] {
    left: 1.5rem;
  }
  [class*="-swiper-button-next"] {
    right: 1.5rem;
  }
}
.swiper-button-disabled {
  display: none !important;
}
