.keleman-text-field {
  line-height: 3.125rem !important;
  padding: 0 1rem !important;
  background-image: none !important;
}
input.keleman-text-field {
  border-radius: 50rem !important;
}
textarea.keleman-text-field {
  border-radius: 25px !important;
  resize: none;
  min-height: 200px;
}

input:-moz-placeholder {
  text-align: right !important;
}
input:-ms-input-placeholder {
  text-align: right !important;
}
input::-webkit-input-placeholder {
  text-align: right !important;
}
