@use "sass:math";

.keleman-text-field {
  display: block;
  width: 100%;
  line-height: 3rem !important;
  background-image: none !important;

  border: none !important;
  border-radius: math.div(1rem, 4);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  &::placeholder {
    color: #b5b9ca !important;
  }
  &.is-invalid {
    border: 2px solid red !important;
  }
  &:focus {
    border: 1px solid $klm-primary !important;
  }
}

textarea.keleman-text-field {
  resize: none;
  min-height: 200px;
}

input:-moz-placeholder {
  text-align: right !important;
}
input:-ms-input-placeholder {
  text-align: right !important;
}
input::-webkit-input-placeholder {
  text-align: right !important;
}
input[type="number"] {
  -moz-appearance: textfield;
}

textarea:focus,
input:focus,
textarea:active,
input:active {
  outline: none !important;
  box-shadow: none !important;
}
