@import "base/variables/colors";
@import "base/variables/spacers";
::ng-deep .package-swiper {
  .swiper {
    width: 100%;
    max-width: map-get($klm-spacers, 300);
    height: map-get($klm-spacers, 75);
  }

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
    border-radius: 15px;
    color: #fff;
    width: 30rem !important;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    color: map-get($theme-colors, "klm-primary");
    &:after {
      font-size: 2rem !important;
      font-weight: bolder !important;
    }
  }
}
