<ng-container *ngIf="isLoading; then loading; else content"></ng-container>
<ng-template #loading>
  <ngx-skeleton-loader
    appearance="circle"
    [theme]="{ height: '5rem', width: '5rem', direction: 'rtl' }"
  ></ngx-skeleton-loader>
  <ngx-skeleton-loader></ngx-skeleton-loader>
</ng-template>

<ng-template #content>
  <div class="product-category-item d-flex flex-column align-items-center p-1">
    <div appSymbol [breakPoints]="['sm']" [sizes]="[5]" class="mb-3">
      <img
        loadingLazy
        emptyImage
        [alt]="category.titleFa"
        [src]="category.imageAddress"
      />
    </div>
    <h2 class="fs-6 fw-bold">{{ category.titleFa }}</h2>
  </div>
</ng-template>
