@if ((loadingService.getLoadingStateObservable('read','aboutUs')|async)!){
<div class="text-center">
  <ngx-skeleton-loader
    [theme]="{ width: '50%', height: '20px' }"
  ></ngx-skeleton-loader>
  <ngx-skeleton-loader
    [theme]="{ width: '100%', height: '200px' }"
  ></ngx-skeleton-loader>
</div>
} @else {
<div class="d-flex align-items-center mb-3">
  <h4 class="fw-bold text-klm-primary px-3">درباره ما</h4>
  <div class="gradient-border flex-grow-1"></div>
</div>

<div class="about-us text-justify" [innerHTML]="aboutUsSummary!"></div>

}
