<keleman-bottom-sheet>
  <span class="d-flex flex-column">
    <span class="d-flex align-items-center justify-content-between">
      <span class="d-flex align-items-center">
        <mat-icon class="mx-3" (click)="closeBottomSheet()">close</mat-icon>
        <h3>فیلتر بر اساس</h3>
      </span>
      <ng-template [ngIf]="productFilterService.canRemoveAll">
        <a (click)="productFilterService.removeAll()">
          <h6>حذف تمام فیلتر ها</h6>
        </a>
      </ng-template>
    </span>

    <keleman-filter-chip-list></keleman-filter-chip-list>
  </span>
  <ul>
    <li
      *ngFor="
        let option of productFilterService.propertyOptions;
        trackBy: tranckByFn
      "
      (click)="openFilterDialog(option)"
    >
      <a>{{ option.title }}</a>
      <mat-icon>chevron_left</mat-icon>
    </li>

    <li class="d-flex flex-column align-items-center">
      <a>محدوده قیمت</a>
      <keleman-product-price-filter
        (changePrice)="onChangePrice($event)"
        (afterReset)="productFilterService.priceSliderReset = false"
        [reset]="productFilterService.priceSliderReset"
      ></keleman-product-price-filter>
    </li>
    <li>
      <a>عدم موجودی</a>
      <mat-slide-toggle
        color="primary"
        [checked]="productFilterService.filterList.outOfStock"
        (change)="changeOutOfStock($event.checked)"
      ></mat-slide-toggle>
    </li>
  </ul>
</keleman-bottom-sheet>
