<div class="card card-rounded-1 mb-0">
  <div class="card-body">
    <h4 class="fw-bold text-klm-primary">امتیاز</h4>
    <div
      class="alert alert-accent d-flex justify-content-between align-items-center"
      role="alert"
    >
      <span class="fw-bold">میانگین امتیاز این کالا</span>
      <span>1 از 5</span>
    </div>
    <ul>
      <li>
        <span>امتیاز 1 از 5</span>
        <span class="rating">
          <bar-rating
            [theme]="'stars'"
            rate="1"
            size="sm"
            [readOnly]="true"
          ></bar-rating>
          1نفر
        </span>
      </li>
      <li>
        <span>امتیاز 2 از 5</span>
        <span class="rating">
          <bar-rating [theme]="'stars'" rate="1" [readOnly]="true"></bar-rating>
          1نفر
        </span>
      </li>
      <li>
        <span>امتیاز 3 از 5</span>
        <span class="rating">
          <bar-rating [theme]="'stars'" rate="1" [readOnly]="true"></bar-rating>
          1نفر
        </span>
      </li>
      <li>
        <span>امتیاز 4 از 5</span>
        <span class="rating">
          <bar-rating [theme]="'stars'" rate="1" [readOnly]="true"></bar-rating>
          1نفر
        </span>
      </li>
      <li>
        <span>امتیاز 5 از 5</span>
        <span class="rating">
          <bar-rating [theme]="'stars'" rate="1" [readOnly]="true"></bar-rating>
          1نفر
        </span>
      </li>
    </ul>
  </div>
</div>
