<div class="card mb-3 card-rounded-3 shadow-sm border border-gray-300">
  <div class="card-body d-flex flex-column">
    <span class="d-flex align-items-center justify-content-between mb-3">
      <h6>سفارش ها</h6>
      <a
        class="seeAll mx-3"
        (click)="changeTab(0)"
        *ngIf="!(selectedIndex$ | async)"
      >
        مشاهده همه
        <mat-icon class="material-icons-outlined">chevron_left</mat-icon>
      </a>
    </span>
    <ng-template [ngIf]="!(selectedIndex$ | async)" [ngIfElse]="tabBar">
      <div class="row mx-0 order-menu my-5">
        <a
          class="col-3 d-flex align-items-center order-link"
          (click)="changeTab(0)"
        >
          <img
            loadingLazy
            src="assets/media/user-orders/status-processing.svg"
          />
          <span class="d-flex flex-column align-items-start mx-3">
            <h6>0 سفارش</h6>
            <span class="processing">جاری</span>
          </span>
        </a>
        <a
          class="col-3 d-flex align-items-center order-link"
          (click)="changeTab(1)"
        >
          <img
            loadingLazy
            src="assets/media/user-orders/status-delivered.svg"
          />
          <span class="d-flex flex-column align-items-start mx-3">
            <h6>2 سفارش</h6>
            <span class="delivered">تحویل شده</span>
          </span>
        </a>
        <a
          class="col-3 d-flex align-items-center order-link"
          (click)="changeTab(2)"
        >
          <img loadingLazy src="assets/media/user-orders/status-returned.svg" />
          <span class="d-flex flex-column align-items-start mx-3">
            <h6>2 سفارش</h6>
            <span class="returned">مرجوع شده</span>
          </span>
        </a>
        <a
          class="col-3 d-flex align-items-center order-link"
          (click)="changeTab(3)"
        >
          <img
            loadingLazy
            src="assets/media/user-orders/status-cancelled.svg"
          />
          <span class="d-flex flex-column align-items-start mx-3">
            <h6>2 سفارش</h6>
            <span class="cancelled">لغوشده</span>
          </span>
        </a>
      </div>
    </ng-template>
    <ng-template #tabBar>
      <mat-tab-group
        class="order-tab-bar"
        animationDuration="0s"
        [selectedIndex]="selectedIndex$ | async"
        (selectedIndexChange)="changeTab($event)"
      >
        <mat-tab>
          <ng-template mat-tab-label>
            جاری
            <span class="text-danger mx-1">1</span>
          </ng-template>
          <ng-template [ngTemplateOutlet]="tabContent"> </ng-template>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            تحویل شده
            <span class="text-danger mx-1">1</span>
          </ng-template>
          <ng-template [ngTemplateOutlet]="tabContent"> </ng-template>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            مرجوع شده
            <span class="text-danger mx-1">1</span>
          </ng-template>
          <ng-template [ngTemplateOutlet]="tabContent"> </ng-template
        ></mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            لغو شده
            <span class="text-danger mx-1">1</span>
          </ng-template>
          <ng-template [ngTemplateOutlet]="tabContent"> </ng-template
        ></mat-tab>
      </mat-tab-group>
      <ng-template #tabContent>
        <ng-container *ngIf="false; then empty; else full"></ng-container>
        <ng-template #empty>
          <div class="card card-rounded-1">
            <div class="card-body">
              <keleman-empty-content></keleman-empty-content>
            </div>
          </div>
        </ng-template>
        <ng-template #full>
          <ng-container [ngSwitch]="selectedIndex$ | async">
            <keleman-current-orders *ngSwitchCase="0"> </keleman-current-orders>
            <keleman-delivered-orders *ngSwitchCase="1">
            </keleman-delivered-orders>
            <keleman-returned-orders *ngSwitchCase="2">
            </keleman-returned-orders>
          </ng-container>
        </ng-template>
      </ng-template>
    </ng-template>
  </div>
</div>
