<nav dir="ltr">

  <ul class="pagination justify-content-center">
    <li class="page-item previous"
        [class.disabled]="page===0" (click)="onPrevious()">
      <span class="page-link">
      <span class="svg-icon  svg-icon-primary"
            [ngClass]="[page===0?'svg-icon-muted':'svg-icon-primary']"
            [inlineSVG]="'assets/media/icons/duotune/arrows/arr074.svg'"></span>
      </span>
    </li>

    <li class="page-item" [class.active]="i===page" *ngFor="let item of counter(pageCount);let i =index"><a
      class="page-link" (click)="onChange(i)">{{i + 1}}</a></li>

    <li class="page-item next"  [class.disabled]="page===(pageCount-1)">
      <span class="page-link" (click)="onNext()">
       <span class="svg-icon  "
             [ngClass]="[page===(pageCount-1)?'svg-icon-muted':'svg-icon-primary']"
             [inlineSVG]="'assets/media/icons/duotune/arrows/arr071.svg'"></span>
      </span>
    </li>
  </ul>
</nav>
