<span class="d-flex justify-content-end align-items-center">
  @for (shares of include;track shares){
  <a [href]="determineUrl(shares)" class="btn btn-icon sc-icon">
    <div class="symbol symbol-7 cursor-pointer" appSymbol [ngSwitch]="shares">
      @switch (shares){ @case ('mail'){
      <i class="fab fa-1x fa-google"></i>
      } @case ('whatsapp'){
      <i class="fab fa-1x fa-square-whatsapp"></i>

      } @case ('twitter'){
      <i class="fab fa-1x fa-square-x-twitter"></i>
      } @case ('telegram'){
      <i class="fab fa-1x fa-telegram"></i>
      } }
    </div>
  </a>
  }

  <div class="address-copy">
    <input class="py-1 ps-5 pe-3" type="text" readonly [value]="this.pageUrl" />
    <mat-icon
      (click)="copyUrl()"
      class="cursor-pointer position-absolute left-3"
      >content_copy</mat-icon
    >
  </div>
</span>
