<ng-container *ngIf="isLoading$ | async; then loading; else renderedView">
</ng-container>
<ng-template #loading>
  <ngx-skeleton-loader
    count="1"
    [theme]="{ height: '25rem' }"
  ></ngx-skeleton-loader>
</ng-template>
<ng-template #renderedView>
  <div class="position-relative">
    <swiper
      [spaceBetween]="15"
      [pagination]="{ el: '.swiper-pagination' }"
      [loop]="true"
    >
      <ng-container
        *ngFor="let _ of sharedVariableService.counter(3); let i = index"
      >
        <ng-template swiperSlide>
          <div class="card slide">
            <picture class="img-container h-100 w-100">
              <img
                alt="keleman"
                class="main-slider-image"
                [src]="'assets/media/slider/menu-slide' + (i + 1) + '.jpg'"
              />
            </picture>
          </div>
        </ng-template>
      </ng-container>
    </swiper>

    <div class="swiper-pagination">
      <span
        class="swiper-pagination-bullet"
        *ngFor="let _ of sharedVariableService.counter(3)"
      ></span>
    </div>
  </div>
</ng-template>
