<ng-container *ngIf="isLoading | async; then loading; else renderedView">
</ng-container>
<ng-template #loading>
  <ngx-shimmer-loading
    [dir]="'rtl'"
    [shape]="'rect'"
    [width]="'100%'"
    [height]="'636px'"
  ></ngx-shimmer-loading>
</ng-template>
<ng-template #renderedView>
  <swiper [spaceBetween]="15">
    <ng-container
      *ngFor="let _ of sharedVariableService.counter(3); let i = index"
    >
      <ng-template swiperSlide>
        <div
          class="card slide"
          [class.is-phone]="
            applicationStateService.isPhone || applicationStateService.isTablet
          "
        >
          <figure class="img-container">
            <img
              alt="keleman"
              class="main-slider-image"
              [src]="'assets/media/slider/menu-slide' + (i + 1) + '.jpg'"
            />
          </figure>
        </div>
      </ng-template>
    </ng-container>
  </swiper>
</ng-template>
