<ng-container *ngIf="isLoading$ | async; then loading; else renderedView">
</ng-container>
<ng-template #loading>
  <ngx-shimmer-loading
    [dir]="'rtl'"
    [shape]="'rect'"
    [width]="'100%'"
    [height]="'636px'"
  ></ngx-shimmer-loading>
</ng-template>
<ng-template #renderedView>
  <div class="position-relative">
    <swiper
      [spaceBetween]="15"
      [navigation]="{
        prevEl: '.top-slider-swiper-button-next',
        nextEl: '.top-slider-swiper-button-prev'
      }"
      [pagination]="{ el: '.swiper-pagination' }"
      [autoplay]="{ delay: 2500 }"
    >
      <ng-container
        *ngFor="let _ of sharedVariableService.counter(3); let i = index"
      >
        <ng-template swiperSlide>
          <div
            class="card slide"
            [class.is-phone]="
              applicationStateService.isPhone ||
              applicationStateService.isTablet
            "
          >
            <ng-template [ngIf]="i === 0" [ngIfElse]="NextOne">
              <figure class="img-container">
                <img
                  alt="keleman"
                  class="main-slider-image"
                  [src]="'assets/media/slider/menu-slide' + (i + 1) + '.jpg'"
                />
              </figure>
            </ng-template>
            <ng-template #NextOne>
              <div class="grid-slide">
                <div class="right-side">
                  <div
                    [ngStyle]="{
                      'background-image':
                        'url(assets/media/slider/menu-slide' + (i + 1) + '.jpg)'
                    }"
                  ></div>
                  <div
                    [ngStyle]="{
                      'background-image':
                        'url(assets/media/slider/menu-slide' + (i + 1) + '.jpg)'
                    }"
                  ></div>
                </div>
                <div>
                  <figure class="img-container">
                    <img
                      alt="keleman"
                      class="main-slider-image"
                      [src]="
                        'assets/media/slider/menu-slide' + (i + 1) + '.jpg'
                      "
                    />
                  </figure>
                </div>
              </div>
            </ng-template>
          </div>
        </ng-template>
      </ng-container>
    </swiper>

    <div class="top-slider-swiper-button-next">
      <mat-icon fontIcon="chevron_right"></mat-icon>
    </div>
    <div class="top-slider-swiper-button-prev">
      <mat-icon fontIcon="chevron_left"></mat-icon>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</ng-template>
