form {
  font-family: IRANYekanXFaNum !important;
}

.map-container {
  height: 420px !important;
}

.address-container .mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 12px !important;
}

#address {
  resize: none !important;
}

mat-form-field {
  width: 100% !important;
}
.form-control {
  line-height: 40px !important;
}
.button-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 0.5rem;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.back {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  z-index: 501;
}
.num-and-unit {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1rem;
}
