@import "base/variables/colors";

.map-container {
  height: 420px !important;
}

.custom-mat-dialog {
  .mat-mdc-dialog-container .mdc-dialog__surface {
    border-radius: 12px !important;
  }

  @media (max-width: 768px) {
    & {
      max-width: 95vw !important;
    }
    .mdc-dialog .mdc-dialog__content {
      padding: 1rem !important;
    }
  }
}

#address {
  resize: none !important;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.back {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  z-index: 501;
}

.num-and-unit {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
}

.keleman-text-field {
  background-color: $gray-300;
}
