<div
  class="p-3 d-flex justify-content-between align-items-start border-bottom border-gray-300 mx-3"
>
  <span class="d-flex flex-column w-50">
    <ng-template [ngIf]="showMap" [ngIfElse]="addressDetailTitle">
      <h6 class="mb-0">آدرس جدید</h6>
      <span class="text-muted">موقعیت مکانی آدرس را انتخاب نمایید</span>
    </ng-template>
    <ng-template #addressDetailTitle>
      <h6 class="d-flex align-items-center mb-0">
        <mat-icon class="cursor-pointer" (click)="toggleShowMap()"
          >east</mat-icon
        >
        جزئیات آدرس
      </h6>
    </ng-template>
  </span>
  <span
    class="material-icons-outlined text-danger close cursor-pointer"
    (click)="close()"
  >
    close
  </span>
</div>

<div mat-dialog-content>
  <ng-container *ngIf="showMap; then map; else addressInfo"></ng-container>
  <ng-template #map>
    <keleman-map
      [zoom]="50"
      [showSearch]="true"
      (mapClick)="onMapClick($event)"
    ></keleman-map>
  </ng-template>
  <ng-template #addressInfo>
    <form [formGroup]="addressForm">
      <div class="row mx-0">
        <div class="form-group col-12 border-bottom border-gray-300">
          <label for="address">نشانی پستی </label>
          <textarea
            id="address"
            type="text"
            placeholder="آدرس"
            class="form-control mb-3"
            formControlName="address"
          ></textarea>
          <span class="d-block text-muted mb-3"
            >آدرس بالا بر اساس موقعیت انتخابی شما وارد شده است.</span
          >
          <a class="d-flex align-items-center mb-3" (click)="toggleShowMap()">
            اصلاح موقعیت از روی نقشه
            <mat-icon>chevron_left</mat-icon>
          </a>
        </div>

        <div class="col-6">
          <keleman-autocomplete
            [label]="'استان'"
            [options]="provinces"
            [formControl]="province"
          >
          </keleman-autocomplete>
        </div>
        <div class="col-6">
          <keleman-autocomplete
            [label]="'شهر'"
            [options]="provinces"
            [formControl]="city"
          >
          </keleman-autocomplete>
        </div>
        <div class="col-6 d-grid num-and-unit">
          <div class="form-group">
            <label for="num">پلاک</label>
            <input
              id="num"
              type="text"
              class="form-control"
              formControlName="name"
            />
          </div>
          <div class="form-group">
            <label for="unit">واحد</label>
            <input
              id="unit"
              type="text"
              class="form-control"
              formControlName="name"
            />
          </div>
        </div>
        <div class="form-group col-6">
          <label for="postal-code">کدپستی </label>
          <input
            id="postal-code"
            dir="ltr"
            type="number"
            placeholder="کدپستی"
            class="form-control"
            formControlName="postalCode"
          />
        </div>
        <span class="border-bottom border-gray-300"> </span>
        <mat-checkbox class="example-margin">
          گیرنده سفارش خودم هستم
        </mat-checkbox>
        <div class="form-group col-6">
          <label for="name">نام گیرنده </label>
          <input
            id="name"
            dir="ltr"
            type="number"
            class="form-control"
            formControlName="postalCode"
          />
        </div>
        <div class="form-group col-6">
          <label for="postal-code">نام خانوادگی گیرنده </label>
          <input
            id="family"
            dir="ltr"
            type="number"
            class="form-control"
            formControlName="postalCode"
          />
        </div>
        <div class="form-group col-6">
          <label for="mobile-number">شماره موبایل </label>
          <input
            id="mobile-number"
            dir="ltr"
            type="number"
            class="form-control"
            formControlName="postalCode"
          />
        </div>
      </div>
    </form>
  </ng-template>
</div>
<div
  class="border-top border-gray-300 d-flex align-items-center justify-content-between p-3 mx-3"
>
  <ng-container
    *ngIf="showMap; then mapButton; else submitButton"
  ></ng-container>
  <ng-template #mapButton>
    <span class="text-muted">مرسوله شما به این آدرس ارسال خواهد شد</span>
    <button
      type="submit"
      class="btn btn-warning submit-button text-white"
      [disabled]="!address.value"
      (click)="toggleShowMap()"
    >
      تایید و ادامه
    </button>
  </ng-template>
  <ng-template #submitButton>
    <button
      type="submit"
      class="btn btn-warning submit-button text-white w-100"
      [disabled]="!address.value"
      (click)="toggleShowMap()"
    >
      ثبت آدرس
    </button>
  </ng-template>
</div>
