<div
  class="address-content p-3 d-flex justify-content-between align-items-start border-bottom border-gray-300 mx-3"
>
  <span class="d-flex flex-column w-50">
    @if(showMap){
    <span>آدرس جدید</span>
    <span class="text-muted">موقعیت مکانی آدرس را انتخاب نمایید</span>
    } @else {
    <span class="d-flex align-items-center">
      <mat-icon class="cursor-pointer mx-1" (click)="toggleShowMap()"
        >east</mat-icon
      >
      جزئیات آدرس
    </span>
    }
  </span>
  <span
    class="material-icons-outlined text-danger close cursor-pointer"
    (click)="close()"
  >
    close
  </span>
</div>

<div mat-dialog-content>
  @if(showMap){
  <keleman-map
    [zoom]="50"
    [showSearch]="true"
    [markerLatLng]="location"
    (mapClick)="onMapClick($event)"
  ></keleman-map>
  } @else{
  <form [formGroup]="addressForm">
    <div class="row mx-0">
      <div class="form-group col-12 border-bottom border-gray-300">
        <label for="address">نشانی پستی </label>
        <textarea
          id="address"
          type="text"
          placeholder="آدرس"
          class="mb-3 keleman-text-field"
          formControlName="address"
          [class.is-invalid]="address.invalid && isFormSubmitted"
        ></textarea>
        @if (address.invalid && isFormSubmitted){
        <span class="invalid-feedback"> لطفا آدرس خود را وارد نمایید. </span>
        }

        <span class="d-block text-muted mb-3"
          >آدرس بالا بر اساس موقعیت انتخابی شما وارد شده است.</span
        >
        <a
          class="d-flex align-items-center mb-3 cursor-pointer text-warning"
          (click)="toggleShowMap()"
        >
          اصلاح موقعیت از روی نقشه
          <mat-icon>chevron_left</mat-icon>
        </a>
      </div>

      <div class="col-12 col-md-6">
        <keleman-auto-complete
          [options]="provinces"
          [formControl]="province"
          [label]="'استان'"
          [isLoading]="
            (loadingService.getLoadingStateObservable('read', 'states')
              | async)!
          "
          (onSelectionChange)="selectProvience($event)"
        >
        </keleman-auto-complete>
      </div>
      <div class="col-12 col-md-6">
        <keleman-auto-complete
          [options]="cities"
          [formControl]="city"
          [label]="'شهر'"
          [isLoading]="
            (loadingService.getLoadingStateObservable('read', 'cities')
              | async)!
          "
          [isInavlid]="city.invalid && isFormSubmitted"
          (onSelectionChange)="onCitySelect($event)"
        >
        </keleman-auto-complete>
      </div>

      <div class="form-group col-12 col-md-6">
        <label for="postal-code"> کدپستی </label>
        <input
          id="postal-code"
          dir="ltr"
          type="text"
          placeholder="کدپستی"
          class="keleman-text-field"
          [numberOnly]="10"
          required
          maxlength="10"
          minlength="10"
          [class.is-invalid]="postalCode.invalid && isFormSubmitted"
          formControlName="postalCode"
        />
        @if (postalCode.invalid && isFormSubmitted){
        <span class="invalid-feedback"> لطفا کدپستی را وارد نمایید. </span>
        }
      </div>
      <span class="border-bottom border-gray-300"> </span>
      <mat-checkbox
        class="example-margin"
        [color]="'primary'"
        [checked]="iAmReciver"
        (change)="changeCheckBox($event)"
      >
        گیرنده سفارش خودم هستم
      </mat-checkbox>

      <div class="form-group col-12 col-md-6">
        <label for="postal-code">اطلاعات گیرنده </label>
        <input
          id="reciverName"
          type="text"
          class="keleman-text-field"
          required
          [readonly]="iAmReciver"
          [class.is-invalid]="reciverName.invalid && isFormSubmitted"
          formControlName="reciverName"
        />
        @if(reciverName.invalid && isFormSubmitted){
        <span class="invalid-feedback">
          لطفااطلاعات گیرنده را وارد نمایید.
        </span>
        }
      </div>
      <div class="form-group col-12 col-md-6">
        <label for="mobile-number">شماره موبایل </label>
        <input
          id="mobile-number"
          dir="ltr"
          type="text"
          class="keleman-text-field"
          [readonly]="iAmReciver"
          [formControl]="reciverPhone"
          [numberOnly]="11"
          [class.is-invalid]="reciverPhone.invalid && isFormSubmitted"
          required
          maxlength="11"
          minlength="11"
        />
        @if (reciverPhone.hasError('required') && isFormSubmitted){
        <span class="invalid-feedback">
          لطفاشماره همراه گیرنده را وارد نمایید.
        </span>

        } @else if ( reciverPhone.hasError('mobileNumberFormat') &&
        !reciverPhone.hasError('required') && isFormSubmitted){
        <span class="invalid-feedback">
          فرمت شماره وارد شده صحیح نمی باشد
        </span>
        }
      </div>
    </div>
  </form>
  }
</div>
<span
  class="border-top border-gray-300 d-flex align-items-center justify-content-between p-3 mx-3"
>
  @if(showMap){
  <span class="text-muted">مرسوله شما به این آدرس ارسال خواهد شد</span>
  <button
    type="submit"
    class="btn btn-warning submit-button text-white"
    [disabled]="!address.value"
    (click)="toggleShowMap()"
  >
    تایید و ادامه
  </button>
  }@else{
  <button
    type="button"
    class="btn btn-warning submit-button text-white"
    kelemanLoadingProgress
    [loading]="
      (loadingService.getLoadingStateObservable('read', 'submitAddress')
        | async)!
    "
    (click)="sumbitForm()"
  >
    ثبت آدرس
  </button>
  }
</span>
