<div mat-dialog-content>
  <h3 class="text-center mb-3">پرسش ها ({{ data.length }})</h3>
  <div class="questions-list">
    @for (question of data;track question.id){ @defer {
    <div>
      <div
        class="card card-rounded-3 border border-gray-500 mb-3 bg-white question-item"
      >
        <div
          class="card-header bg-success-light d-flex justify-content-between p-3 border-bottom border-klm-primary"
        >
          <h6 class="fw-bolder commenter-name">
            {{ question.user.firstName! }} {{ question.user.lastName }}
          </h6>
          <h6>
            {{
              persianDateTime.fromGregorianString(
                question.dateTime,
                "DD jMMMM YYYY"
              )
            }}
          </h6>
        </div>

        <div class="card-body">
          <p class="py-3">{{ question.text }}</p>
        </div>
      </div>
      @if(question.answer.text){
      <div class="answer-section position-relative">
        <div
          class="card card-rounded-3 border border-gray-500 mb-3 bg-white me-5 answer-card"
        >
          <div
            class="card-header d-flex justify-content-between p-3 border-bottom border-klm-primary"
          >
            <h6 class="fw-bolder commenter-name">پاسخ مدیر</h6>
          </div>
          <div class="card-body">
            <p class="py-3">{{ question.answer.text }}</p>
          </div>
        </div>
      </div>
      }
    </div>
    } }
  </div>
</div>
