table {
  border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden;
  text-align: center !important;

  thead {
    background-color: #c7d3ff !important;
  }

  tbody {
    background-color: white;
  }
}
