@import "base/variables/colors";
.search-bar {
  height: 3.125rem;
  @media (max-width: 480px) {
    img {
      height: 30px !important;
      width: 60px !important;
    }
  }
  .search-input-group {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0 0.5rem;
    border-radius: 0.5rem;
    background-color: map-get($theme-colors, "gray-300") !important;
    .search-input {
      padding-right: 4.5rem;
      border: none !important;
      background-color: transparent !important;
      outline: none !important;
    }
    .search-icon {
      position: absolute;
      right: 1rem;
      top: 50%;
      transform: translateY(-50%);
    }
    mat-spinner {
      position: absolute;
      left: 1rem;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  @media (min-width: 769px) {
    .search-input-group {
      width: 70% !important;
    }
  }
}
