<div class="d-flex search-bar align-items-center">
  <div class="search-input-group w-100 position-relative px-2">
    <span class="search-icon material-icons-outlined mx-2">search</span>
    <input
      class="form-control search-input h-100"
      placeholder="جستجو"
      (keyup)="keyChange($event)"
      (click)="showMenu = searchText ? true : false"
    />
    @if (loadingService.getLoadingStateObservable('add', 'search') | async){
    <mat-spinner [diameter]="25"></mat-spinner>
    } @if (showMenu){
    <keleman-search-result-menu
      [searchResult]="searchResult!"
      [searchText]="searchText!"
      (onItemClick)="resetSearchResult()"
    ></keleman-search-result-menu>
    }
  </div>
</div>
