<div class="d-flex search-bar align-items-center">
  <div class="search-input-group w-100 position-relative px-2">
    <span class="search-icon material-icons-outlined mx-2">search</span>
    <input
      class="form-control search-input h-100"
      placeholder="جستجو"
      (keyup)="keyChange($event)"
      (click)="showMenu = searchText ? true : false"
    />

    <ng-template
      [ngIf]="loadingService.getLoadingStateObservable('add', 'search') | async"
    >
      <mat-spinner [diameter]="25"></mat-spinner>
    </ng-template>

    <ng-template [ngIf]="this.showMenu">
      <keleman-search-result-menu
        [searchResult]="searchResult!"
        [searchText]="searchText!"
        (onItemClick)="resetSearchResult()"
      ></keleman-search-result-menu>
    </ng-template>
  </div>
</div>
