<div class="profile container">
  <div class="row mx-0">
    <div class="col-3">
      <div class="side-bar">
        <keleman-user-info></keleman-user-info>
        <keleman-user-wallet></keleman-user-wallet>
        <keleman-side-bar-menu></keleman-side-bar-menu>
      </div>
    </div>
    <div class="col-9">
      <router-outlet></router-outlet>
    </div>
    <div class="col-12 mt-3">
      <keleman-swiper
        [title]="'محصولات پیشنهادی برای شما'"
        [spaceBetween]="10"
        [moreButtonText]="'مشاهده بیشتر محصولات'"
        [navigation]="true"
        [navigationButtonClassPrefix]="'suggestion-product'"
      >
        <appSwiperContent *ngFor="let slide of slides">
          <ng-template appSwiperTemplate>
            <keleman-swiper-item [product]="slide"></keleman-swiper-item>
          </ng-template>
        </appSwiperContent>
      </keleman-swiper>
    </div>
  </div>
</div>
