<div class="container py-3">
  <div class="row mx-0">
    <div class="col-12 col-lg-8 mb-3">
      <router-outlet></router-outlet>
    </div>
    <div class="col-12 col-lg-4">
      <keleman-latest-articles></keleman-latest-articles>
      <div class="card card-rounded-3 shadow border border-gray-300">
        <div class="card-body">
          <span class="fw-bold text-klm-primary p-3 d-flex align-items-center">
            <mat-icon class="material-icons-outlined">search</mat-icon>
            جستجو
          </span>
          <div class="form-group">
            <input
              id="search"
              class="keleman-text-field px-3"
              placeholder="عنوان مورد نظر خود را وارد نمایید"
              [formControl]="searchControl"
              (keydown.enter)="updateQueryParams()"
            />
          </div>
          <button
            class="btn btn-outline btn-outline-klm-primary float-start"
            (click)="updateQueryParams()"
          >
            جستجو
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
