.related-products {
  max-height: 1200px;
  overflow-y: auto;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  & > * {
    margin: 0.5rem 0;
  }
}
.related-products::-webkit-scrollbar {
  display: none;
}

.related-products {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
