<ng-template [ngIf]="products.length > 0">
  <h6 class="mb-3">محصولات مرتبط</h6>
  <div class="card card-rounded-3 related-products-container">
    <div class="card-body position-relative d-flex amazing-swiper">
      <div class="keleman-swiper">
        <keleman-swiper
          [spaceBetween]="0"
          [showMoreButton]="false"
          [showTitle]="false"
          [navigation]="true"
          [navigationButtonClassPrefix]="'related-product'"
        >
          <appSwiperContent *ngFor="let product of products; let i = index">
            <ng-template appSwiperTemplate>
              <keleman-background-swiper-item
                class="cursor-pointer"
                [routerLink]="['/products/detail/' + product.customUrl]"
                [product]="product"
              ></keleman-background-swiper-item>
            </ng-template>
          </appSwiperContent>
        </keleman-swiper>
      </div>
    </div>
  </div>
</ng-template>
