<ng-container class="product-list d-flex flex-column">
  <div
    class="top-categories card card-rounded-3 border border-gray-300 mb-3 d-none d-lg-block"
  >
    <div class="card-body">
      <h5>دسته بندی ها</h5>
      <ng-template [ngIf]="categoryId">
        <keleman-product-category
          [parentId]="categoryId"
          (onItemClick)="updateCurrentRoute($event)"
        ></keleman-product-category>
      </ng-template>
    </div>
  </div>
  <div class="products row mx-0">
    <div class="col-12 d-none d-lg-block col-lg-3">
      <keleman-product-search></keleman-product-search>
      <keleman-product-filters></keleman-product-filters>
    </div>
    <div class="col-12 col-lg-9">
      <div class="d-flex flex-column">
        <keleman-products-sort></keleman-products-sort>
        <div class="row mx-0 g-1">
          <ng-container
            *ngIf="products.length === 0; then loading; else productList"
          ></ng-container>
          <ng-template #loading>
            <div
              class="col-12 col-md-6 col-lg-4 col-xl-3"
              *ngFor="let _ of sharedVaribaleServie.counter(10)"
            >
              <ngx-skeleton-loader
                [theme]="{ width: '100%', height: '300px ' }"
              ></ngx-skeleton-loader>
            </div>
          </ng-template>
          <ng-template #productList>
            <div
              class="col-12 col-md-6 col-lg-4 col-xl-3"
              *ngFor="let product of products"
            >
              <keleman-product-item [product]="product"></keleman-product-item>
            </div>
          </ng-template>
        </div>
        <keleman-pagination
          *ngIf="products.length > 0"
          [totalElements]="totalElements"
          (pageChange)="pageChange($event)"
          [limit]="10"
          [currentPage]="page"
        ></keleman-pagination>
      </div>
    </div>

    <keleman-category-about [categoryId]="categoryId!"></keleman-category-about>
  </div>
</ng-container>
