<ng-container class="product-list d-flex flex-column">
  <div class="top-banner"></div>
  <div class="keleman-offer"></div>
  <div class="products row mx-0">
    <div class="col-12 d-none d-lg-block col-lg-3">
      <keleman-product-search></keleman-product-search>
      <keleman-product-filters></keleman-product-filters>
      <div class="form-group">
        <label for="product-price-filter" class="text-warning fw-bold"
          >محدوده قیمت:</label
        >
        <div
          id="product-price-filter"
          class="card card-rounded-3 border-gray-300"
        >
          <div class="card-body">
            <keleman-product-price-filter></keleman-product-price-filter>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-9">
      <div class="d-flex flex-column">
        <keleman-products-sort></keleman-products-sort>
        <div
          class="row mx-0"
          infinite-scroll
          [infiniteScrollDistance]="scrollDistance"
          [infiniteScrollThrottle]="throttle"
          (scrolled)="onScrollDown()"
        >
          <div
            class="col-12 col-md-6 col-lg-4 col-xl-3"
            *ngFor="let product of products"
          >
            <keleman-product-item [product]="product"></keleman-product-item>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
