<div class="card k-carousel-item ">
  <div class="card-body d-flex flex-column align-items-center justify-content-between pb-0">
    <div class="symbol symbol-250px">
      <img class="product-image" src="assets/media/temp/80e39485-22e5-42e9-ad6c-c11486818a75-thumb.jpg">
    </div>

    <h4 class="fw-normal text-center product-name">موتور گیربکس الکوNR12 5/5 KW AC2 1M/S</h4>
    <span class="keleman-head-strong-4 text-primary mb-0 product-price">{{38000000|number:'.0'}}تومان</span>
  </div>
  <div class="card bg-warning overlay">
    <div class="card-body d-flex flex-column">
      <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, aspernatur blanditiis excepturi harum ipsa labore magni minus molestiae nisi omnis porro possimus quas quod recusandae sed suscipit totam vero. Esse!</span>
      <button class="btn btn-primary">مشاهده محصول</button>

    </div>
  </div>
</div>
