<div>
  <h5 class="fw-bold mb-3">آخرین سفارش ها</h5>
  <div class="card card-rounded-1">
    <div class="card-body d-flex flex-column justify-content-center">
      <ng-container *ngIf="false; then empty; else full"></ng-container>
      <ng-template #empty>
        <keleman-empty-content></keleman-empty-content>
      </ng-template>
      <ng-template #full>
        <standalone-swiper
          [showTitle]="false"
          [showMoreButton]="false"
          [spaceBetween]="10"
          [navigation]="true"
          [navigationButtonClassPrefix]="'latest-orders'"
        >
          <appSwiperContent *ngFor="let slide of slides">
            <ng-template appSwiperTemplate>
              <keleman-swiper-item [product]="slide"></keleman-swiper-item>
            </ng-template>
          </appSwiperContent>
        </standalone-swiper>
      </ng-template>
    </div>
  </div>
</div>
