form {
  font-family: IRANYekanXFaNum !important;
}
.custom-container .mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 12px !important;
}
.close {
  position: absolute;
  top: 1rem;
  left: 1rem;
}
.submit-button {
  min-width: 400px;
  height: 55px;
}
