<div class="position-relative">
  <span
    class="material-icons-outlined text-danger close cursor-pointer"
    (click)="close()"
  >
    close
  </span>
  <h6 class="w-50" mat-dialog-title>ثبت درخواست برداشت از کیف پول</h6>
  <form [formGroup]="withDrawForm" (ngSubmit)="submitForm()">
    <div mat-dialog-content>
      <div class="form-group">
        <label for="amount">مبلغ</label>
        <input
          class="keleman-text-field form-control"
          placeholder="مبلغ مورد نظر را وارد کنید"
          formControlName="amount"
          id="amount"
          [class.is-invalid]="amount.invalid && formIsSubmitted"
        />
        <ng-template [ngIf]="amount.invalid && formIsSubmitted">
          <span class="invalid-feedback"
            >لطفا مبلغ مورد نظر خود را وارد کنید</span
          >
        </ng-template>
      </div>
      <div class="form-group">
        <label for="description">توضیحات</label>
        <textarea
          class="keleman-text-field form-control"
          placeholder="مبلغ مورد نظر را وارد کنید"
          id="description"
          formControlName="description"
          [class.is-invalid]="description.invalid && formIsSubmitted"
        >
        </textarea>
      </div>
    </div>
    <div mat-dialog-actions class="justify-content-center">
      <button
        type="submit"
        class="btn btn-warning rounded-pill text-white submit-button"
      >
        ثبت
      </button>
    </div>
  </form>
</div>
