@import "base/variables/colors";
.address-item {
  margin-bottom: 1rem;
  border: 1px solid map-get($theme-colors, "gray-300") !important;
  &.selected {
    border: 2px solid map-get($theme-colors, "klm-primary") !important;
  }
}
keleman-map {
  width: 100%;
}
.address-item ::ng-deep .map-container {
  height: 230px !important;
  border-radius: 13px !important;
}
.address-content {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
