@import "base/variables/colors";
.address-item {
  margin-bottom: 1rem;
  border: 1px solid map-get($theme-colors, "gray-300") !important;
  &.selected {
    border: 2px solid map-get($theme-colors, "klm-primary") !important;
  }
}
.address-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;

  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}
