<div
  class="card card-rounded-1 address-item mb-3"
  [class.selected]="address.isDefault"
>
  <div class="card-body align-items-center">
    <div class="d-flex justify-content-between align-items-center">
      <ul class="address-info">
        <li>
          <span class="mb-3 address-text">
            {{ address.addressText }}
          </span>
        </li>
        <li class="text-muted">
          <mat-icon class="material-icons-outlined">place</mat-icon>
          {{ address.city.title }}
        </li>
        <li class="text-muted">
          <mat-icon class="material-icons-outlined">email</mat-icon>
          {{ address.postalCode }}
        </li>
        <li class="text-muted">
          <mat-icon class="material-icons-outlined">call</mat-icon>
          {{ address.receiverPhone }}
        </li>
        <li class="text-muted">
          <mat-icon
            class="material-icons-outlined"
            [class.text-success]="address.iamReceiver"
            >person</mat-icon
          >
          {{ address.receiverName }}
        </li>
      </ul>
      <div class="d-flex align-items-center">
        <keleman-map
          [readOnly]="true"
          [markerLatLng]="getMarkerLatLng(address.latitude, address.longitude)"
          [zoom]="50"
        ></keleman-map>

        <span class="actions d-flex flex-column mx-3">
          @if (canSetDefault){
          <button
            class="btn btn-icon text-klm-primary"
            ngbTooltip="انتخاب به عنوان آدرس پیشفرض"
            [disabled]="address.isDefault"
            (click)="addToDefault(address.id)"
          >
            @if(isLoading){
            <mat-spinner [diameter]="20"></mat-spinner>
            } @else {

            <mat-icon>{{
              address.isDefault ? "bookmark" : "bookmark_border"
            }}</mat-icon>
            }
          </button>
          } @if (editable){
          <button (click)="openEditDialog()" class="btn btn-icon text-warning">
            <mat-icon>edit</mat-icon>
          </button>
          } @if (deletable){
          <button
            href="#"
            class="btn btn-icon text-danger"
            [disabled]="deleteLoading"
            (click)="getAcceptBeforeRemove($event)"
          >
            @if (deleteLoading){
            <mat-spinner [diameter]="20"></mat-spinner>
            } @else {
            <mat-icon>delete</mat-icon>
            }
          </button>
          }
        </span>
      </div>
    </div>
  </div>
</div>
