<div
  class="card card-rounded-1 address-item mb-3"
  [class.selected]="address.selected"
>
  <div class="card-body align-items-center">
    <span class="d-flex align-items-center justify-content-between mb-3">
      <h6 class="mb-3 address-text">
        {{ address.address }}
      </h6>
      <span class="actions">
        <button
          class="btn btn-icon btn-info"
          ngbTooltip="انتخاب به عنوان آدرس پیشفرض"
          [disabled]="address.selected"
        >
          <mat-icon>star</mat-icon>
        </button>
        <a href="#" class="btn btn-icon btn-warning text-white">
          <mat-icon>edit</mat-icon>
        </a>
        <a href="#" class="btn btn-icon btn-danger">
          <mat-icon>delete</mat-icon>
        </a>
      </span>
    </span>

    <div class="d-flex justify-content-between align-items-start">
      <ul class="address-info">
        <li class="text-muted">
          <mat-icon class="material-icons-outlined">place</mat-icon>
          شیراز
        </li>
        <li class="text-muted">
          <mat-icon class="material-icons-outlined">email</mat-icon>
          7134715136
        </li>
        <li class="text-muted">
          <mat-icon class="material-icons-outlined">call</mat-icon>
          09394241607
        </li>
        <li class="text-muted">
          <mat-icon class="material-icons-outlined">person</mat-icon>
          سجاد منشی
        </li>
      </ul>
      <keleman-map
        [readOnly]="true"
        [markerLatLng]="getMarkerLatLng(address.lat, address.lng)"
        [zoom]="50"
      ></keleman-map>
    </div>
  </div>
</div>
