<div
  class="card card-rounded-1 address-item mb-3"
  [class.selected]="address.selected"
>
  <div class="card-body d-flex align-items-center">
    <div class="flex-column align-items-start flex-grow-1">
      <h6 class="mb-3 address-text">
        {{ address.address }}
      </h6>
      <span class="d-flex align-items-center mb-3">
        <mat-icon class="text-danger ms-3">schedule</mat-icon>
        2022/01/02
      </span>
      <span class="d-flex align-items-center mb-3">
        <mat-icon class="text-danger ms-3">person</mat-icon>
        2022/01/02
      </span>
    </div>
    <div>
      <mat-icon class="text-gray-500">chevron_left</mat-icon>
    </div>
  </div>
</div>
