@import "base/variables/colors";

.btn:disabled {
  border-color: transparent !important;
}

.address-item ::ng-deep .map-container {
  width: 9rem !important;
  height: 9rem !important;
  border-radius: 13px !important;
}

.address-item {
  margin-bottom: 1rem;
  border: 1px solid map-get($theme-colors, "gray-300") !important;
  &.selected {
    border: 2px solid map-get($theme-colors, "klm-primary") !important;
  }
}

.actions {
  button {
    margin: 0.25rem 0;
  }
}

.address-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;

  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}
.address-info {
  list-style: none;
  padding: 0;
  li {
    display: flex;
    align-items: center;
    padding: 0.25rem 0;
    mat-icon {
      margin: 0 0.5rem;
    }
  }
}
