<div
  class="p-3 d-flex justify-content-between align-items-center border-bottom border-gray-300 mx-3"
>
  <h6>
    نمودار قیمت فروش
    <span class="text-muted mx-1">({{ data.productTitle }})</span>
  </h6>
  <span
    class="material-icons-outlined text-danger close cursor-pointer"
    (click)="close()"
  >
    close
  </span>
</div>
<div mat-dialog-content>
  <highcharts-chart
    class="d-flex justify-content-center"
    [Highcharts]="Highcharts"
    [options]="chartOptions"
  ></highcharts-chart>
</div>
