<div>
  @if((this.loadingService.getLoadingStateObservable('read','orders')|async)!){
  <ngx-skeleton-loader
    [theme]="{ width: '100%', height: '300px' }"
    count="2"
  ></ngx-skeleton-loader>
  } @else { @if(status === statusEnum.Current){

  <span class="d-flex align-items-center mb-3 filters">
    <a
      class="text-black mx-3 cursor-pointer"
      [class.active]="orderPaidStatus === undefined"
      (click)="filterOrders()"
      >همه</a
    >
    <a
      class="text-success mx-3 cursor-pointer"
      [class.active]="orderPaidStatus === true"
      (click)="filterOrders(true)"
      >پرداخت شده</a
    >
    <a
      class="text-danger mx-3 cursor-pointer"
      [class.active]="orderPaidStatus === false"
      (click)="filterOrders(false)"
      >پرداخت نشده</a
    >
  </span>
  } @if(orders.length > 0){
  <keleman-order-item
    *ngFor="let order of orders"
    [orderDetail]="order"
    [orderStatus]="status"
  ></keleman-order-item>
  <keleman-pagination
    [currentPage]="page"
    [limit]="limit"
    [totalElements]="totalElements"
    (pageChange)="pageChange($event)"
  ></keleman-pagination>
  } @else {
  <keleman-empty-content></keleman-empty-content>
  } }
</div>
