
<div class="card elevator-package-container">
  <div class="card-body ">
    <div class="row mx-0">
      <div class="col-2">
        <div class="h-100 d-flex flex-column align-items-center elevator-package-container-start">
          <img class="elevator-package-container-text"  ngSrc="assets/media/img_1.png" height="146" width="127">
          <img class="elevator-package-container-box" ngSrc="assets/media/img_2.png" height="157" width="213" >
        </div>
      </div>
      <div class="col-10">
        <div class=" position-relative">
          <swiper [grabCursor]="true" [navigation]="{  prevEl: '.elevator-packages-swiper-button-next',
      nextEl: '.elevator-packages-swiper-button-prev'}"
                  [slidesPerView]="'auto'"

                  [spaceBetween]="5">

            <ng-template swiperSlide>
              <app-amazing-offer-item></app-amazing-offer-item>
            </ng-template>
            <ng-template swiperSlide>
              <app-amazing-offer-item></app-amazing-offer-item>
            </ng-template>
            <ng-template swiperSlide>
              <app-amazing-offer-item></app-amazing-offer-item>
            </ng-template>
            <ng-template swiperSlide>
              <app-amazing-offer-item></app-amazing-offer-item>
            </ng-template>
            <ng-template swiperSlide>
              <app-amazing-offer-item></app-amazing-offer-item>
            </ng-template>
            <ng-template swiperSlide>
              <app-amazing-offer-item></app-amazing-offer-item>
            </ng-template>

          </swiper>
          <div class="elevator-packages-swiper-button-prev">
      <span class="svg-icon svg-icon-5x svg-icon-primary"
            [inlineSVG]="'assets/media/icons/duotune/arrows/arr074.svg'"></span>
          </div>
          <div class="elevator-packages-swiper-button-next">
      <span class="svg-icon svg-icon-5x svg-icon-primary"
            [inlineSVG]="'assets/media/icons/duotune/arrows/arr071.svg'"></span>
          </div>
        </div>
      </div>
    </div>



  </div>
</div>

