@import "../../../../../../../../styles/base/variables/colors";

ul {
  list-style: none;
  padding: 0;
  max-height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
  li {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:not(:last-child) {
      border-bottom: 1px solid $gray-300;
    }
  }
}
.mat-mdc-raised-button:not(:disabled) {
  background-color: map-get($theme-text-colors, "success") !important;
}
