<div class="card card-rounded-3">
  <div class="card-body d-flex align-items-center">
    <mat-radio-group
      aria-labelledby="example-radio-group-label"
      class="shipping-time"
      [labelPosition]="'before'"
    >
      <mat-radio-button
        class="example-radio-button"
        *ngFor="let day of shippingTimes"
        [value]="day.id"
      >
        <div class="deliver-time-item d-flex flex-column">
          <span>{{ day.day }}</span>
          <span class="mb-3">{{ day.date }}</span>
          <span class="text-danger mb-3">{{ day.time }}</span>
        </div>
      </mat-radio-button>
    </mat-radio-group>
  </div>
</div>
