@import "base/variables/colors";
@import "components/swiper";
@include swiper-button();
.keleman-swiper {
  margin-right: 14rem !important;
}
.related-products-title {
  border-bottom: 2px solid black;
}
.swiper-start {
  position: absolute;
  right: 1rem;
  top: 1rem;

  .swiper-start-text {
    font-family: Aviny !important;
    word-wrap: break-word;
  }
  @media (max-width: 768px) {
    .swiper-start-text {
      line-height: 6rem;
      font-size: 4rem;
    }
  }
}
