@import "base/variables/colors";
.back-to-home {
  position: fixed;
  right: 5%;
  top: 5%;
}

.keleman-register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.keleman-logo {
  margin-bottom: 1rem;
}

.keleman-register-body {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 10px;
}
.mobile-number-text-field::placeholder {
  text-align: center !important;
}
