<div class="d-flex align-items-center justify-content-between top-part w-100">
  <a class="keleman-logo" routerLink="">
    <img
      alt="بازرگانی آساسنسور و پله برقی کلمان"
      src="assets/media/logo/keleman-logo.webp"
      loading="lazy"
  /></a>

  <keleman-search-bar class="flex-grow-1"></keleman-search-bar>

  <ng-content *ngIf="isLoggedIn; then userInfo; else register"></ng-content>
  <ng-template #register>
    <div class="align-items-center bg-klm-primary rounded-1 p-1 login-register">
      <button class="btn text-warning w-50" [routerLink]="['register']">
        ثبت نام
      </button>
      <button
        class="btn bg-white rounded-1 text-klm-primary w-50"
        [routerLink]="['register']"
      >
        ورود
      </button>
    </div>
  </ng-template>

  <ng-template #userInfo>
    <div ngbDropdown class="d-inline-block">
      <ng-content
        *ngIf="profileInfoLoading; then loading; else content"
      ></ng-content>
      <ng-template #loading>
        <span class="d-flex align-items-center">
          <ngx-skeleton-loader
            [theme]="{ width: '5rem', height: '1rem' }"
          ></ngx-skeleton-loader>

          <ngx-skeleton-loader
            [theme]="{ width: '50px', height: '50px' }"
            [appearance]="'circle'"
          ></ngx-skeleton-loader>
        </span>
      </ng-template>
      <ng-template #content>
        <span
          class="d-flex align-items-center cursor-pointer"
          ngbDropdownToggle
        >
          <p class="mx-3">
            {{ userProfileInfo.firstName }}
            {{ userProfileInfo.lastName }}
          </p>
          <div class="symbol symbol-10 symbol-circle">
            <img
              loadingLazy
              emptyImage
              [src]="userProfileInfo.avatar!"
              [isAvatar]="true"
            />
          </div>
        </span>
      </ng-template>

      <div
        ngbDropdownMenu
        aria-labelledby="dropdownBasic1"
        class="rounded-3 shadow-lg border-0"
      >
        <keleman-user-dropdown-menu
          [userInfo]="userProfileInfo"
          [userCredit]="userCreditInfo"
        ></keleman-user-dropdown-menu>
      </div>
    </div>
  </ng-template>

  <a
    class="d-flex position-relative flex-column align-items-center basket cursor-pointer"
    [routerLink]="['checkout']"
  >
    <h5 class="basket-count text-warning">{{ basketCount }}</h5>
    <img
      alt="سبد خرید"
      src="assets/media/static-resources/basket-icon.svg"
      class="basket-icon"
    />
  </a>
</div>
