<div class="d-flex align-items-center justify-content-between top-part w-100">
  <a class="keleman-logo" routerLink="">
    <img
      alt="بازرگانی آساسنسور و پله برقی کلمان"
      src="assets/media/logo/keleman-logo.webp"
      loading="lazy"
  /></a>

  <keleman-search-bar class="flex-grow-1"></keleman-search-bar>

  <ng-container
    *ngIf="
      isLoggedIn && userService.userSimpleInfo;
      then userInfo;
      else register
    "
  ></ng-container>
  <ng-template #register>
    <div class="align-items-center bg-klm-primary rounded-1 p-1 login-register">
      <button class="btn text-warning w-50" [routerLink]="['register']">
        ثبت نام
      </button>
      <button
        class="btn bg-white rounded-1 text-klm-primary w-50"
        [routerLink]="['register']"
      >
        ورود
      </button>
    </div>
  </ng-template>

  <ng-template #userInfo>
    <div ngbDropdown class="d-inline-block" [autoClose]="'outside'">
      <div class="d-flex flex-column align-items-center">
        <div appSymbol [sizes]="[3]" class="cursor-pointer" ngbDropdownToggle>
          <img src="assets/media/blank.webp" />
        </div>
        <p>
          {{ userService.userSimpleInfo.firstName }}
          {{ userService.userSimpleInfo.lastName }}
        </p>
      </div>

      <div
        ngbDropdownMenu
        aria-labelledby="dropdownBasic1"
        class="rounded-3 shadow-lg border-0"
      >
        <keleman-user-dropdown-menu
          [userInfo]="userService.userSimpleInfo"
        ></keleman-user-dropdown-menu>
      </div>
    </div>
  </ng-template>

  <a
    class="d-flex position-relative flex-column align-items-center basket"
    [routerLink]="['checkout']"
  >
    <div appSymbol [sizes]="[2.2]" [type]="'square'" class="cursor-pointer">
      <h3 class="basket-count text-warning">0</h3>
      <img
        alt="سبد خرید"
        src="assets/media/static-resources/basket-icon.svg"
        class="basket-icon"
      />
    </div>
  </a>
</div>
