<div class="card amazing-offer-item mb-0">
  <div
    class="card-body d-flex flex-column justify-content-between align-items-center"
  >
    <div class="symbol symbol-100px mb-3">
      <img class="amazing-offer-item__image" [src]="product.image!" />
    </div>
    <h6 class="text-center fw-light">
      {{
        product.title.length > 20
          ? (product.title | slice : 0 : 20) + "..."
          : product.title
      }}
    </h6>
    <standalone-price
      class="mb-3"
      [value]="product.price!"
      [size]="'h5'"
      [color]="'dark'"
    ></standalone-price>
    <span
      class="w-100 d-flex align-items-center mb-3 justify-content-between pt-1"
    >
      <h5 class="fw-normal text-danger mb-0">{{ 15 }}%</h5>
      <standalone-price
        [value]="product.price!"
        [off]="true"
        [size]="'h5'"
        [color]="'dark'"
      ></standalone-price>
    </span>
  </div>
</div>
