<div class="card amazing-offer-item mb-0 bg-white">
  <div
    class="card-body d-flex flex-column justify-content-between align-items-center"
  >
    <div class="symbol symbol-25 symbol-lg-39 mb-3">
      <img class="amazing-offer-item__image" [src]="product.defaultPic!" />
    </div>
    <span class="d-flex align-items-center justify-content-between w-100 mb-3">
      <h6 class="text-center fw-light">
        {{ product.name }}
      </h6>
      <span class="d-flex align-items-center">
        <span class="text-success">{{ product.rate.average }}</span>
        <mat-icon class="text-warning">star</mat-icon>
      </span>
    </span>

    <keleman-price
      [value]="product.price!"
      [size]="'h5'"
      [color]="'dark'"
      class="mb-3"
    ></keleman-price>
    <keleman-price
      [value]="product.price!"
      [off]="true"
      [size]="'h6'"
      [color]="'dark'"
      [discount]="10"
    ></keleman-price>
  </div>
</div>
