<div
  class="card card-rounded-md-4 shadow product-details-navbar mb-3 border-0 box-shadow-none"
>
  <div class="card-body">
    <ng-container
      *ngIf="
        applicationState.isPhone || applicationState.isTablet;
        then mobile;
        else web
      "
    ></ng-container>
    <ng-template #mobile>
      <ul
        ngbNav
        #nav="ngbNav"
        class="nav-pills justify-content-center mobile-nav sticky-top bg-white rounded shadow p-3"
      >
        <li ngbNavItem="details">
          <a ngbNavLink>
            <span class="material-icons"> list </span>
            مشخصات
          </a>
          <ng-template ngbNavContent>
            <keleman-product-specifications></keleman-product-specifications>
          </ng-template>
        </li>

        <li ngbNavItem="check">
          <a ngbNavLink>
            <span class="material-icons"> list </span>
            بررسی تخصصی
          </a>
          <ng-template ngbNavContent>
            <keleman-product-introduction></keleman-product-introduction>
          </ng-template>
        </li>
        <li ngbNavItem="rate">
          <a ngbNavLink>
            <span class="material-icons"> star_border </span>
            دیدگاه ها</a
          >
          <ng-template ngbNavContent>
            <comments></comments>
          </ng-template>
        </li>
        <li ngbNavItem="comment">
          <a ngbNavLink>
            <span class="material-icons"> message </span>
            پرسش ها</a
          >
          <ng-template ngbNavContent>
            <comments></comments>
          </ng-template>
        </li>
      </ul>

      <div [ngbNavOutlet]="nav" class="ms-4"></div>
    </ng-template>
    <ng-template #web>
      <nav class="navbar navbar-expand mx-5">
        <ul class="navbar-nav d-flex justify-content-between w-100 p-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="." fragment="specialization">
              <span class="material-icons"> list </span>
              مشخصات
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="." fragment="introduction">
              <mat-icon class="material-icons"> lightbulb </mat-icon>
              معرفی
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="." fragment="expert-check">
              <span class="material-icons"> verified </span>
              بررسی تخصصی
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="." fragment="comment">
              <span class="material-icons"> mark_chat_unread </span>
              دیدگاه ها</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="." fragment="comment">
              <span class="material-icons"> contact_support </span>
              پرسش ها</a
            >
          </li>
        </ul>
      </nav>
    </ng-template>
  </div>
</div>
