@import "base/variables/colors";
.stepper-header {
  color: $gray-400;
  mat-icon {
    margin: 0 0.25rem;
  }
  &.active,
  &.passed {
    color: black !important;
    mat-icon,
    &::before {
      color: $klm-secondary !important;
    }
  }
  &.active {
    font-weight: bold;
  }
  &.passed {
    opacity: 0.5;
  }
  &:not(:first-child) {
    &:before {
      margin: 0 1rem;
      width: 95px;
      content: "";
      height: 2px;
      background-color: $gray-300;
      display: flex;
    }
  }
}
