@import "base/variables/colors";
@import "base/variables/spacers";
.stepper-header {
  &.active,
  &:focus {
    border-color: transparent !important;
  }

  color: $gray-400;
  mat-icon {
    margin: 0 map-get($klm-spacers, 1);
  }
  &.active,
  &.passed {
    color: black !important;
    mat-icon,
    &::before {
      color: $klm-secondary !important;
    }
  }
  &.active {
    font-weight: bold;
  }
  &.passed {
    opacity: 0.5;
  }
  &:not(:first-child) {
    &:before {
      margin: 0 $klm-spacer;
      width: map-get($klm-spacers, 23);
      content: "";
      height: 2px;
      background-color: $gray-300;
      display: flex;
      @media (min-width: 426px) and (max-width: 768px) {
        & {
          width: 1.25rem;
        }
      }
    }
  }
}
