<keleman-swiper
  [showTitle]="false"
  [showMoreButton]="false"
  [spaceBetween]="10"
  [navigation]="false"
  [shimmerHeight]="'100px'"
  [shimmerWidth]="'100px'"
  class="mb-md-3"
>
  <appSwiperContent *ngFor="let imageDetail of gallery">
    <ng-template appSwiperTemplate>
      <div
        class="card card-rounded-2 my-1 border border-2 border-gray-300 product-galary-item cursor-pointer"
        (click)="onImageClick(imageDetail)"
      >
        <div appSymbol [type]="'square'" [sizes]="[4.5]">
          <img [src]="downloadUrl + imageDetail.image" />
        </div>
      </div>
    </ng-template>
  </appSwiperContent>
</keleman-swiper>
