<div class="card mb-3">
  <div class="card-body d-flex flex-column">
    <span class="d-flex align-items-center justify-content-between mb-3">
      <span class="d-flex align-items-center">
        <span class="material-icons-outlined">account_balance_wallet</span>
        <span>کیف پول</span>
      </span>
      <span>{{ 450000000 | number : ".0" }} تومان</span>
    </span>
    <a class="d-flex align-items-center">
      <span class="material-icons-outlined">credit_score</span>
      <span>برداشت از کیف پول</span>
    </a>
  </div>
</div>
