@import "base/variables/colors";

.user-wallet-menu {
  padding: 0;
  list-style: none;
  .menu-item {
    cursor: pointer;
    padding: 1rem;
    border-radius: 5px;
    &.active {
      border-right: 5px solid #f0bf00;
      background: rgba(240, 191, 0, 0.4);
    }
  }
}
