<div class="card mb-3 card-rounded-1">
  <div class="card-body px-0">
    <ul class="user-wallet-menu">
      <li
        class="d-flex align-items-center justify-content-between mb-3 menu-item"
        [routerLink]="'wallet/increase'"
        routerLinkActive="active"
      >
        <span class="d-flex align-items-center">
          <span class="material-icons-outlined">account_balance_wallet</span>
          <span>کیف پول</span>
        </span>
        <span>{{ 450000000 | number : ".0" }} تومان</span>
      </li>
      <li
        class="menu-item"
        [routerLink]="'wallet/decrease'"
        routerLinkActive="active"
      >
        <span class="d-flex align-items-center">
          <span class="material-icons-outlined">credit_score</span>
          <span>برداشت از کیف پول</span>
        </span>
      </li>
    </ul>
  </div>
</div>
