
<ng-container *ngIf="($mobileView|async) then mobileView else webView"></ng-container>
<ng-template #mobileView>
<div class="d-flex flex-column align-items-center">
  <h2 class="fw-bolder  related-products-title">دسته بندی محصولات</h2>
<div class="grid-container">
  <app-product-category-item></app-product-category-item>
  <app-product-category-item></app-product-category-item>
  <app-product-category-item></app-product-category-item>
  <app-product-category-item></app-product-category-item>
  <app-product-category-item></app-product-category-item>
  <app-product-category-item></app-product-category-item>
  <app-product-category-item></app-product-category-item>
  <app-product-category-item></app-product-category-item>
</div>
</div>
</ng-template>
<ng-template #webView>
  <h3 class="fw-bolder related-products-title">دسته بندی محصولات</h3>

  <div class="position-relative">
    <swiper [slidesPerView]="'auto'"
            [grabCursor]="true"
            [freeMode]="true"
            [navigation]="{  prevEl: '.product-category-swiper-button-next',
      nextEl: '.product-category-swiper-button-prev'}">

      <ng-template swiperSlide>
        <app-product-category-item></app-product-category-item>
      </ng-template>
      <ng-template swiperSlide>
        <app-product-category-item></app-product-category-item>
      </ng-template>
      <ng-template swiperSlide>
        <app-product-category-item></app-product-category-item>
      </ng-template>
      <ng-template swiperSlide>
        <app-product-category-item></app-product-category-item>
      </ng-template>
      <ng-template swiperSlide>
        <app-product-category-item></app-product-category-item>
      </ng-template>
      <ng-template swiperSlide>
        <app-product-category-item></app-product-category-item>
      </ng-template>
      <ng-template swiperSlide>
        <app-product-category-item></app-product-category-item>
      </ng-template>
      <ng-template swiperSlide>
        <app-product-category-item></app-product-category-item>
      </ng-template>
      <ng-template swiperSlide>
        <app-product-category-item></app-product-category-item>
      </ng-template>
      <ng-template swiperSlide>
        <app-product-category-item></app-product-category-item>
      </ng-template>

    </swiper>
    <div class="product-category-swiper-button-prev">
      <span class="svg-icon svg-icon-5x svg-icon-primary"
            [inlineSVG]="'assets/media/icons/duotune/arrows/arr074.svg'"></span>
    </div>
    <div class="product-category-swiper-button-next">
      <span class="svg-icon svg-icon-5x svg-icon-primary"
            [inlineSVG]="'assets/media/icons/duotune/arrows/arr071.svg'"></span>
    </div>
  </div>
</ng-template>
