@import "components/swiper";
@include swiper-button('product-category');

.grid-container{
  width: 100%;
  display:grid ;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows:  1fr 1fr 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  .grid-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
