@import "base/variables/spacers";

:host {
  width: 100%;
}

.basket-item {
  & > * {
    margin-left: map-get($klm-spacers, 5);
  }

  h6 {
    margin: 0;
  }

  span.svg-icon:not(.remove) {
    padding: 0 map-get($klm-spacers, 1);
  }
}
@media (min-width: 768px) {
  keleman-value-changer {
    width: 75% !important;
  }
}
