<div
  class="card card-rounded-3 shadow basket-item mb-3 box-shadow-none border border-gray-300"
>
  <div class="card-body p-0 d-flex justify-content-start align-items-center">
    <mat-icon class="text-danger mx-3 fs-3" inline="true">delete</mat-icon>

    <div class="row border-end border-gray-400 w-100 p-3">
      <div class="col-3 d-flex flex-column align-items-center">
        <div
          appSymbol
          [breakPoints]="['sm', 'lg']"
          [sizes]="[5.5, 7.5]"
          class="mb-3"
        >
          <img emptyImage [src]="basketItem.product.image" loadingLazy />
        </div>
        <keleman-value-changer
          class="w-100"
          [initialValue]="basketItem.count"
        ></keleman-value-changer>
      </div>
      <div class="col-9">
        <h6 class="fw-bold mb-3">
          {{ basketItem.product.name }}
        </h6>

        <h6 class="d-flex align-items-center">
          <mat-icon class="mx-3" inline> verified_user</mat-icon>
          گارانتی اصالت و سلامت فیزیکی کالا
        </h6>

        <h6 class="d-flex align-items-center">
          <mat-icon class="mx-3" inline>store</mat-icon>
          {{ basketItem.product.seller }}
        </h6>
        <span class="fs-6 d-flex align-items-center">
          <mat-icon class="mx-3" inline>local_shipping</mat-icon>
          4 تا 10 روز کاری
        </span>
        <div class="position-absolute left-4 bottom-4">
          <keleman-price
            [value]="basketItem.product.price"
            [color]="'dark'"
            [size]="'h5'"
          ></keleman-price>
          <keleman-price
            [value]="basketItem.product.priceAfterOff"
            [color]="'dark'"
            [size]="'h6'"
            [off]="true"
            [discount]="basketItem.product.off"
          ></keleman-price>
        </div>
      </div>
    </div>
  </div>
</div>
