@import "../../../../../../styles/base/variables/spacers";

:host {
  width: 100%;
}

.basket-item {
  & > * {
    margin-left: map-get($klm-spacers, 5);
  }

  .basket-item__remove {
    height: auto;
    width: auto;
    border: 0;
    padding: $klm-spacer;
    color: #ffff;
    border-radius: map-get($klm-spacers, 3) 0 0 map-get($klm-spacers, 3);
  }

  h6 {
    margin: 0;
  }

  span.svg-icon:not(.remove) {
    padding: 0 map-get($klm-spacers, 1);
  }
}
@media (min-width: 768px) {
  keleman-value-changer {
    width: 75% !important;
  }
}
