<li (click)="openFilterDialog(propertyOption)">
  <a class="d-flex align-items-center"
    >{{ propertyOption.title }}
    <mat-chip *ngIf="selectedItem" class="mx-1">
      <span class="d-flex align-items-center chip-text">
        <mat-icon
          class="cursor-pointer m-0"
          (click)="
            filterOptionService.removeFilter($event, selectedItem);
            selectedItem = undefined
          "
          >cancel</mat-icon
        >
        {{ selectedItem.title }}
      </span>
    </mat-chip>
  </a>
  <mat-icon>chevron_left</mat-icon>
</li>
