<ng-container>
  <h5 class="fw-bold mb-3">اطلاعات شخصی</h5>
  <div class="card card-rounded-1">
    <div class="card-body d-flex flex-column justify-content-between">
      <span class="row mx-0">
        <span class="col-6 personal-info-item">
          <h6 class="fw-bold">نام و نام خانوادگی:</h6>
          <h6 class="fw-normal">سجاد منشی</h6>
        </span>
        <span class="col-6 personal-info-item">
          <h6 class="fw-bold">پست الکترونیک:</h6>
          <h6 class="fw-normal">maneshisajjad@gmail.com</h6>
        </span>
        <span class="col-6 personal-info-item">
          <h6 class="fw-bold">شماره همراه:</h6>
          <h6 class="fw-normal">09394241607</h6>
        </span>
        <span class="col-6 personal-info-item">
          <h6 class="fw-bold">کد ملی:</h6>
          <h6 class="fw-normal">2281908331</h6>
        </span>
      </span>
      <div class="text-center">
        <a class="d-flex align-items-center justify-content-center">
          <span class="material-icons"> edit_square </span>
          ویرایش اطلاعات شخصی
        </a>
      </div>
    </div>
  </div>
</ng-container>
