<div class="article-container container">
  <div
    class="align-self-center badge bg-klm-primary rounded-pill category-chip keleman-badge"
  >
    سرویس آسانسور
  </div>

  <h1 class="display-6 fw-bold">از کار افتادن آسانسور و مهمترین دلیل آن</h1>
  <span class="d-flex justify-content-center article-container__meta mb-3">
    <h6 class="d-flex align-items-center mx-3">
      <div class="symbol symbol-circle symbol-20px">
        <img alt="keleman" src="../../../../../../assets/media/temp/4.jpg" />
        کلمان
      </div>
    </h6>
    <h6 class="d-flex align-items-center mx-3">
      <span
        class="svg-icon"
        [inlineSVG]="'assets/media/icons/duotune/general/gen013.svg'"
      ></span>
      2روز پیش
    </h6>
    <h6 class="d-flex align-items-center mx-3 keleman-body-strong-5">
      <span
        class="svg-icon"
        [inlineSVG]="'assets/media/icons/duotune/communication/com012.svg'"
      ></span>
      2
    </h6>
  </span>
  <div class="card card-rounded-1 article-container mb-3">
    <div class="card-body">
      <div
        class="d-flex align-items-center justify-content-between float-end pb-3"
      >
        <a
          href="https://www.youtube.com/c/KeenThemesTuts/videos"
          target="_blank"
          class="menu-link px-3"
        >
          <img
            alt="keleman facebook"
            src="/assets/media/svg/social-logos/facebook.svg"
            class="w-20px"
          />
        </a>
        <a
          href="https://www.youtube.com/c/KeenThemesTuts/videos"
          target="_blank"
          class="menu-link px-3"
        >
          <img
            alt="keleman twitter"
            src="/assets/media/svg/social-logos/twitter.svg"
            class="w-20px"
          />
        </a>
        <a
          href="https://www.youtube.com/c/KeenThemesTuts/videos"
          target="_blank"
          class="menu-link px-3"
        >
          <img
            alt="keleman youtube"
            src="/assets/media/svg/social-logos/youtube.svg"
            class="w-20px"
          />
        </a>
        <a
          href="https://www.youtube.com/c/KeenThemesTuts/videos"
          target="_blank"
          class="menu-link px-3"
        >
          <img
            alt="keleman instagram"
            src="/assets/media/svg/social-logos/instagram.svg"
            class="w-20px"
          />
        </a>
      </div>
      <div class="container">
        <p class="kh6 article-content__body">
          سیستم آسانسور یک سیستم الکتریکی مکانیکی است که از قطعات ریز و درشت
          بسیاری تشکیل شده است. اختلال در هر یک از بخش‌های حیاتی آسانسور مانند
          موتور آسانسور یا تابلو فرمان آسانسور منجر به از کار افتادن آسانسور و
          از دسترس خارج شدن سرویس‌دهی آن می‌شود. این اختلال‌ها ممکن از در بخش
          الکتریکی آسانسور یا در بخش‌های مکانیکی آن رخ دهد. گاهی عوامل از کار
          افتادن آسانسور از داخل خود سیستم آسانسور می‌باشد و گاهی ممکن است عوامل
          بیرونی همچون قطع شدن برق باعث از کار افتادن آسانسور شود. در این صفحه
          شرکت آسانسور کلمان قصد دارد مروری بر مهم‌ترین دلایل از کار افتادن
          آسانسور بیندازد و حوادث احتمالی از کار افتادن آسانسور را بررسی کند. پس
          تا انتها با کلمان همراه باشید. از کار افتادن آسانسور چگونه اتفاق
          میفتد؟ باورهای غلط آسانسوری بسیاری وجود دارد. به عنوان مثال باید دانست
          زمانی که در مورد از کار افتادن آسانسور صحبت می‌شود، حتما منظور سقوط
          آسانسور نیست. چرا که سیستم ایمنی آسانسور امروزی به گونه‌ای است که
          احتمال سقوط آسانسور در آن بسیار نادر خواهد بود. همچنین در صورتی که
          هریک از قسمت‌های اساسی آسانسور دچار مشکل شود، آسانسور حرکت نخواهد کرد
          و در این حالت می‌توان گفت که آسانسور از کار افتاده است. معمولا صاحبان
          یا مدیران ساختمان با قرار دادن اعلانی بر روی درب آسانسور، از کار
          افتادن آسانسور را به مسافران و ساکنان ساختمان اطلاع می‌دهند. اما دلایل
          از کار افتادن آسانسور چیست؟ قطع جریان برق اصلی قطع جریان برق ورودی
          سیستم آسانسور نمی‌تواند به تنهایی باعث از کار افتادن آسانسور شود. چرا
          که تمامی آسانسورهای امروزی مجهز به باطری‌های پشتیبان هستند. در صورتی
          که برق ورودی بصورت ناگهانی قطع شود، باطری وارد مدار شده و آسانسور را
          به نزدیک‌ترین طبقه خواهد رساند. سپس پس از توقف در طبقه مد نظر، آسانسور
          تا وصل شدن دوباره‌ی جریان برق و در صورت آسیب ندیدن قسمت‌های الکتریکی
          یا مکانیکی آن، دوباره راه خواهد افتاد. بطور کلی از عوامل الکتریکی که
          باعث از کار افتادن آسانسور می‌شود، می‌توان موارد زیر را لیست کرد:
          نوسان بالای برق ورودی قطع کامل برق ورودی سیستم آسانسور نبود باطری
          پشتیبان دوفاز شدن برق آسانسور تک‌فاز شدن برق آسانسور تداخل فرکانس
          بالای برق ورودی استفاده نادرست مسافران از آسانسور پیش از این در
          مقاله‌ی خرابی آسانسور در مورد انواع خرابی آسانسور در استفاده نادرست از
          آسانسور صحبت شد. البته در این مبحث استفاده نادرست همیشه به معنی خراب
          شدن آسانسور نیست. به عنوان مثال سوار شدن بیش از اندازه‌ی ظرفیت آسانسور
          باعث می‌شود که آسانسور به طور کلی حرکت نکند و با به صدا در آوردن صدای
          بوق در کابین آسانسور، ظرفیت غیرمجاز را به مسافران هشدار ‌دهد. برخی از
          موارد استفاده‌ی نادرست از آسانسور که باعث از کار افتادن آسانسور می‌شود
          عبارتند از: دستکاری و خراب‌کاری عمدی در برخی از بخش‌های آسانسور همچون
          شستی‌های احضار انواع کابین آسانسور ظرفیت غیرمجاز در کابین آسانسور
          فشردن کلید درب طبقات آسانسور هنگام حرکت آسانسور وجود مانع روبروی سنسور
          درب
        </p>
      </div>
    </div>
  </div>
  <div class="card card-rounded-1 article-container__banner mb-3">
    <img src="../../../../../../assets/media/temp/4.jpg" />
  </div>
  <section class="mb-3">
    <app-comment></app-comment>
  </section>

  <section id="related-products">
    <!--    <app-carousel-slider [moreButtonText]="'مشاهده محصولات بیشتر'" [title]="'محصولات مرتبط'"></app-carousel-slider>-->
  </section>
</div>
