<div class="card card-rounded-3 shadow border border-gray-300">
  <div class="card-body">
    <div class="d-flex align-items-center mb-3">
      <a
        class="d-flex align-items-center rounded text-black p-2 rounded-lg bg-success-light"
      >
        <mat-icon>article</mat-icon>
        لینوکس
      </a>
      <h6 class="mx-3 text-muted">سجاد منشی - 13 اردیبهشت 1403</h6>
    </div>

    <h3 class="fw-bold mb-3">از کار افتادن آسانسور و مهمترین دلیل آن</h3>

    <div class="article-cover mb-3">
      <img src="assets/media/temp/article-cover.jpg" />
    </div>

    <article articleLink class="container mb-3">
      <!-- wp:paragraph -->
      <p style="text-align: justify; line-height: 2">
        <span style="font-family: iranyekan"
          >همیشه این احتمال وجود دارد که پس از تکمیل و اتمام ساخت و ساز ساختمان،
          نیاز به نصب آسانسور احساس شود. اما آیا این امر امکان پذیر است؟ آیا به
          استحکام ساختمان صدمه ای وارد نمی شود؟ آیا آسانسور نصب شده ایمنی لازم
          را تامین می کند؟ این موضوع تا چه اندازه هزینه بر است؟
          <strong>آسانسور خانگی</strong> که به <strong>هوم لیفت</strong> معروف
          است قابلیت نصب در ساختمان هایی که پروسه ساخت آن ها تکمیل شده است را
          دارد و در ساختمان هایی که از قبل جایی برای نصب آن ها در نظر گرفته نشده
          است بسیار مناسب اند. <strong>آسانسور خانگی</strong> نوعی بالابر است که
          که امکاناتی شبیه آسانسور را دارد. ولی یک آسانسور کامل نیست اما دارای
          امکاناتی فراتر از یک بالابر است. در اصطلاح به
          <strong>آسانسورهای خانگی</strong>، <strong>مینی آسانسور</strong> نیز
          گفته می شود. برای آشنایی بیشتر با جزئیات و ویژگی های
          <strong>هوم لیفت ها</strong> با
          <span style="color: #333399">کلمان</span> همراه شوید و ادامه مقاله را
          از دست ندهید.</span
        >
      </p>

      <h2 style="text-align: justify; line-height: 2" id="آسانسور خانگی چیست؟0">
        <span style="font-family: iranyekan">آسانسور خانگی چیست؟</span>
      </h2>
      <p style="text-align: justify; line-height: 2">
        <span style="font-family: iranyekan"
          ><strong>آسانسور خانگی</strong>، بالابرهایی با ویژگی ها و امکانات
          آسانسور هستند که مینی آسانسور نامیده می شوند. هوم لیفت ها برای ساختمان
          هایی که از قبل برای مکان آسانسور برنامه ریزی نشده است، بسیار کاربردی
          هستند. هوم لیفت (آسانسور خانگی) آسانسورهای کوچک با ظرفیت 2 تا 6 نفر
          هستند. که اغلب برای ساختمان های 2 تا 4 طبقه، آپارتمان های دوبلکس،
          ویلا، رستوران یا مغازه و ساختمان های ویلایی با تعداد طبقات کم کاربرد
          دارد.</span
        >
      </p>
      <h2 style="text-align: justify; line-height: 2" id="مزایای هوم لیفت ها1">
        <span style="font-family: iranyekan">مزایای هوم لیفت ها</span>
      </h2>
      <p style="text-align: justify; line-height: 2">
        <span style="font-family: iranyekan"
          >با توجه به اینکه یکی از مشکلات ساختمان های قدیمی، تامین برق سه فاز و
          کمبود فضا برای نصب آسانسور است، به کمک هوم لیفت ها، این مشکل برطرف شده
          است. به علاوه استفاده از <strong>آسانسور خانگی</strong> به جای
          آسانسورهای معمولی بر قیمت نهایی منزل نیز تاثیرگذار خواهد بود. هوم لیفت
          ها فاقد
          <span style="color: #333399"
            ><a
              href="https://keleman.org/elevator-balance-counterweight/"
              style="color: #333399"
              ><strong>وزنه تعادل آسانسور</strong></a
            ></span
          >
          هستند. بنابراین در صورت استفاده از آن ها به جای آسانسورهای کششی
          معمولی، تا میزان 13 درصد به فضای مفید ساختمان اضافه خواهد شد.
          آسانسورهای خانگی، به ارتفاع بسیار کمی برای گودال نیاز دارند، این
          ارتفاع تقریباً 35-45 سانتی متر است که نسبت به آسانسورهای معمولی بسیار
          کمتر است.</span
        >
      </p>
      <p style="text-align: justify; line-height: 2">
        <span style="font-family: iranyekan"
          >از دیگر مزیت هوم لیفت ها، عدم نیاز به فضای بزرگ برای
          <span style="color: #333399"
            ><a
              href="https://keleman.org/elevator-engine-room-standard/"
              style="color: #333399"
              ><strong>موتورخانه آسانسور</strong></a
            ></span
          >
          و صفحه کنترل است. <strong>آسانسور خانگی</strong> در دو نوع کششی و<span
            style="color: #333399"
            >&nbsp;<a
              href="https://keleman.org/%d8%a2%d8%b3%d8%a7%d9%86%d8%b3%d9%88%d8%b1-%d9%87%db%8c%d8%af%d8%b1%d9%88%d9%84%db%8c%da%a9/"
              style="color: #333399"
              ><strong>آسانسور هیدرولیکی</strong></a
            ></span
          >
          تولید می شود و در مقایسه با آسانسورهای معمولی، قیمت بسیار ارزانی دارد.
          نکته قوت آسانسورهای خانگی، امکان استفاده از برق تک فاز است. این در
          حالیست که آسانسورهای معمولی به برق سه فاز نیاز دارند.</span
        >
      </p>
      <p style="text-align: justify; line-height: 2">
        <span style="font-family: iranyekan"
          >در صورت قطع برق، شیر سلونوئیدی با یک باتری فعال می شود و باعث پایین
          آمدن آسانسور در اولین طبقه می شود. البته با مکانیزم دیگری نیز می توان
          کابین را به صورت دستی از روی پاوریونیت به سمت پایین هدایت کرد.</span
        >
      </p>
      <p style="text-align: justify; line-height: 2">
        <span style="font-family: iranyekan"
          >به لحاظ عملکرد و سیستم، تفاوتی بین آسانسورهای هیدرولیکی و هوم لیفت
          وجود ندارد و در اکثر تجهیزات و
          <span style="color: #333399"
            ><a href="https://keleman.org/lift-parts/" style="color: #333399"
              ><strong>قطعات آسانسور</strong></a
            ></span
          >
          به صورت مشترک هستند. جنس آسانسور خانگی از pvc و شیشه و استیل است.
          همچنین مجهز به ترمز ضد سقوط (پاراشوت)، سیستم فرمان به صورت سفارشی،
          <span style="color: #333399"
            ><a
              href="https://keleman.org/elevator-emergency-battery/"
              style="color: #333399"
              ><strong>سیستم برق اضطراری آسانسور</strong></a
            ></span
          >
          در زمان قطعی، دارای قفل برقی درب و روشنایی هستند. در صورتیکه هزینه
          تمام شده کار برای شما مهم است، استفاده از
          <strong>آسانسور خانگی</strong> راه حل بسیار مناسبی خواهد بود.</span
        >
      </p>
      <h2
        style="text-align: justify; line-height: 2"
        id="ویژگی های آسانسور خانگی2"
      >
        <span style="font-family: iranyekan">ویژگی های آسانسور خانگی</span>
      </h2>
      <p style="text-align: justify; line-height: 2">
        <span style="font-family: iranyekan"
          >برخی از مهمترین ویژگی های آسانسور های خانگی عبارتند از:</span
        >
      </p>
      <ul>
        <li style="text-align: justify; line-height: 2">
          <span style="font-family: iranyekan"
            >عدم نیاز به ساخت
            <span style="color: #333399"
              ><a
                href="https://keleman.org/elevator-pit-and-its-dimensions/"
                style="color: #333399"
                ><strong>چاهک آسانسور</strong></a
              ></span
            >
            به صورت کامل</span
          >
        </li>
        <li style="text-align: justify; line-height: 2">
          <span style="font-family: iranyekan"
            >عدم نیاز به ساخت موتورخانه در پشت بام</span
          >
        </li>
        <li style="text-align: justify; line-height: 2">
          <span style="font-family: iranyekan">بسیار ایمن و مطمئن</span>
        </li>
        <li style="text-align: justify; line-height: 2">
          <span style="font-family: iranyekan">سفری امن بدون احتمال سقوط</span>
        </li>
        <li style="text-align: justify; line-height: 2">
          <span style="font-family: iranyekan">دارای حرکتی روان و بی صدا</span>
        </li>
        <li style="text-align: justify; line-height: 2">
          <span style="font-family: iranyekan"
            >ارزان و بسیار مقرون به صرفه</span
          >
        </li>
        <li style="text-align: justify; line-height: 2">
          <span style="font-family: iranyekan">راه اندازی با برق تک فاز</span>
        </li>
        <li style="text-align: justify; line-height: 2">
          <span style="font-family: iranyekan">استهلاک پایین و عمر طولانی</span>
        </li>
        <li style="text-align: justify; line-height: 2">
          <span style="font-family: iranyekan"
            >عدم نیاز به دیوارکشی اطراف آسانسور قبل یا بعد از احداث</span
          >
        </li>
        <li style="text-align: justify; line-height: 2">
          <span style="font-family: iranyekan"
            >صرفه جویی در مصرف برق تا ۴۰ درصد</span
          >
        </li>
        <li style="text-align: justify; line-height: 2">
          <span style="font-family: iranyekan">کاهش میزان آهن کشی آسانسور</span>
        </li>
      </ul>
      <p style="text-align: center">
        <span style="font-family: iranyekan"><br /></span>
      </p>

      <h2 style="text-align: justify; line-height: 2" id="نصب هوم لیفت ها3">
        <span style="font-family: iranyekan">نصب هوم لیفت ها</span>
      </h2>
      <p style="text-align: justify; line-height: 2">
        <span style="font-family: iranyekan"
          >ابتدا بررسی های فنی جهت مشخص شدن ابعاد و ویژگی های
          <strong>آسانسور خانگی</strong> صورت می گیرد. جک، کابین و کاراسلینگ به
          داخل چاهک منتقل می شود. دقت داشته باشید که به بدنه،
          <span style="color: #333399"
            ><a
              href="https://keleman.org/elevator-rails-and-reviews-its-use/"
              style="color: #333399"
              ><strong>ریل آسانسور</strong></a
            ></span
          >
          و سایر آهن آلات آسیبی وارد نشود. مهمترین کار، مونتاژ و نصب تجهیزات،
          قطعات و صفحه کنترل با دقت بالاست. در غیر این صورت در آینده با مشکلات و
          <span style="color: #333399"
            ><a
              href="https://keleman.org/elevator-motor-failure/"
              style="color: #333399"
              ><strong>خرابی های مداوم آسانسور</strong></a
            ></span
          >
          سروکار خواهید داشت.</span
        >
      </p>
      <p style="text-align: justify; line-height: 2">
        <span style="font-family: iranyekan"
          >آسانسور هیدرولیکی می تواند از نوع مستقیم و یا غیر مستقیم باشد. در نوع
          مستقیم، جک به صورت مستقیم و بردن واسطه به زیر یوک
          <span style="color: #333399"
            ><a
              href="https://keleman.org/%da%a9%d8%a7%d8%a8%db%8c%d9%86-%d8%a2%d8%b3%d8%a7%d9%86%d8%b3%d9%88%d8%b1/"
              style="color: #333399"
              ><strong>کابین آسانسور</strong></a
            ></span
          >
          یا یوک کنار کابین متصل می شود و جک به طور مستقیم بر کابین آسانسور
          تاثیر گذاشته و کابین را به حرکت در می آورد.</span
        >
      </p>
      <p style="text-align: justify; line-height: 2">
        <span style="font-family: iranyekan"
          >در نوع آسانسور هیدرولیکی جک غیر مستقیم (جک بغل) جک توسط فیکستچر ریل
          هدایت شده و به فلکه ها وصل شده که روی آن فلکه های سیم بکسل به کابین
          متصل است و حرکت فلکه ها موجب حرکت سیم بکسل و در نهایت حرکت کابین
          آسانسور می شود.</span
        >
      </p>
      <p style="text-align: justify; line-height: 2">
        <span style="font-family: iranyekan"
          >&nbsp;پس از نصب، به سرویس های دوره ای و نگهداری اهمیت دهید و از این
          طریق از هزینه های بالای احتمالی برای تعمیر پیشگیری کنید. &nbsp;</span
        >
      </p>
      <table
        style="
          width: 99.9995%;
          border-collapse: collapse;
          background-color: #333399;
          height: 104px;
        "
      >
        <tbody>
          <tr>
            <td style="width: 100%; text-align: center">
              <div style="text-align: center; line-height: 2">
                <span style="font-family: iranyekan"
                  ><span style="font-size: 14pt; color: #f4c03b"
                    ><strong
                      ><a
                        href="https://keleman.org/elevator-maintenance/"
                        style="color: #f4c03b"
                        >چرا آسانسور نیاز به سرویس و نگهداری دارد؟</a
                      ></strong
                    ></span
                  ></span
                >
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <h2
        style="text-align: justify; line-height: 2"
        id="مشخصات فنی آسانسور خانگی4"
      >
        <span style="font-family: iranyekan">مشخصات فنی آسانسور خانگی</span>
      </h2>
      <p style="text-align: justify; line-height: 2">
        <span style="font-family: iranyekan"
          >مشخصات فنی هوم لیفت ها به شرح زیر می باشد:</span
        >
      </p>
      <ul>
        <li style="text-align: justify; line-height: 2">
          <span style="font-family: iranyekan"
            >استفاده از حسگر پوششی برای اتاقک</span
          >
        </li>
        <li style="text-align: justify; line-height: 2">
          <span style="font-family: iranyekan"
            >کارکرد از شیر هیدرولیکی مخصوص</span
          >
        </li>
        <li style="text-align: justify; line-height: 2">
          <span style="font-family: iranyekan"
            >مجهز به سیستم ایمنی ضد سقوط و ترمز مکانیکی (پاراشوت)</span
          >
        </li>
        <li style="text-align: justify; line-height: 2">
          <span style="font-family: iranyekan"
            >امکان نصب تا ارتفاع 5.12 متر</span
          >
        </li>
        <li style="text-align: justify; line-height: 2">
          <span style="font-family: iranyekan"
            >مناسب برای حداکثر تا 4 توقف</span
          >
        </li>
      </ul>
      <h2
        style="text-align: justify; line-height: 2"
        id="چگونگی کاهش بار ساختمان در هوم لیفت ها5"
      >
        <span style="font-family: iranyekan"
          >چگونگی کاهش بار ساختمان در هوم لیفت ها</span
        >
      </h2>
      <p style="text-align: justify; line-height: 2">
        <span style="font-family: iranyekan"
          >مالکان ساختمان از بار اضافه ای که ممکن است پس از نصب
          <strong>آسانسور خانگی</strong> به ساختمان اضافه شود نگران هستند. و از
          اینکه استقامت ساختمان ضعیف شود یا در اثر حوادث طبیعی، ساختمان دچار
          خسارت شود، واهمه دارند. اما باید متذکر شویم که سازه آسانسور، هیچ گونه
          بار اضافه ای به ساختمان وارد نمی کند. بلکه وزن و سنگینی آسانسور
          مستقیما به زمین منتقل می شود. همانطور که در مقاله<span
            style="color: #333399"
            >&nbsp;<a
              href="https://keleman.org/elevator-structure/"
              style="color: #333399"
              ><strong>آهن کشی آسانسور&nbsp;</strong></a
            ></span
          >شرح داده شد، آهن کشی آسانسور به جهت متعادل نگهداشتن آسانسور انجام می
          شود و جنبه پوششی دارد. آهن کشی و اتصال به سازه ساختمان موجب افزایش
          استحکام ساختمان خواهد شد.</span
        >
      </p>
      <p style="text-align: justify; line-height: 2">
        <span style="font-family: iranyekan"
          >در واقع با کاهش بار اضافی در راس چاه آسانسور که در اثر حذف موتورخانه
          در بالای ساختمان اتفاق می افتد، محاسبات فنی در ستون های جانبی چاه کمتر
          می شود. لذا موجب کاهش هزینه ساخت و کاهش میزان آهن کشی در چاه می شود.
          همین موضوع موجب کاهش وزن ساختمان می گردد.</span
        >
      </p>
      <h2
        style="text-align: justify; line-height: 2"
        id="عوامل تاثیرگذار در قیمت آسانسور خانگی6"
      >
        <span style="font-family: iranyekan"
          >عوامل تاثیرگذار در قیمت آسانسور خانگی</span
        >
      </h2>
      <p style="text-align: justify; line-height: 2">
        <span style="font-family: iranyekan"
          >مواردی که می تواند موجب تغییر قیمت تمام شده
          <strong>آسانسور خانگی</strong> شود:</span
        >
      </p>
      <ul>
        <li style="text-align: justify; line-height: 2">
          <span style="font-family: iranyekan"
            >میزان
            <span style="color: #333399"
              ><a
                href="https://keleman.org/elevator-cabin-capacity/"
                style="color: #333399"
                ><strong>ظرفیت کابین</strong></a
              ></span
            ></span
          >
        </li>
        <li style="text-align: justify; line-height: 2">
          <span style="font-family: iranyekan">تعداد طبقات</span>
        </li>
        <li style="text-align: justify; line-height: 2">
          <span style="font-family: iranyekan"
            >نوع ولتاژ ورودی که ممکن است تک فاز یا سه فاز باشد.</span
          >
        </li>
        <li style="text-align: justify; line-height: 2">
          <span style="font-family: iranyekan"
            >نوع سیستم که می تواند کششی یا هیدرولیکی باشد.</span
          >
        </li>
        <li style="text-align: justify; line-height: 2">
          <span style="font-family: iranyekan">دارا یا فاقد کابین بودن</span>
        </li>
        <li style="text-align: justify; line-height: 2">
          <span style="font-family: iranyekan">محل نصب</span>
        </li>
        <li style="text-align: justify; line-height: 2">
          <span style="font-family: iranyekan">ابعاد آسانسور</span>
        </li>
        <li style="text-align: justify; line-height: 2">
          <span style="font-family: iranyekan">هزینه نصب</span>
        </li>
      </ul>
      <p style="text-align: right">
        <span style="font-family: iranyekan"
          >در ادامه شما را با قیمت هوم لیفت آشنا خواهیم کرد و شما را با سایر
          عوامل موثر در قیمت اسانسور خانگی بیشتر آشنا خواهیم کرد.</span
        >
      </p>
      <h2 style="text-align: right" id="قیمت آسانسور خانگی7">
        <span style="font-family: iranyekan">قیمت آسانسور خانگی</span>
      </h2>
      <p style="text-align: right">
        <span style="font-family: iranyekan"
          >قیمت هوم لیفت و یا آسانسور خانگی بر اساس یکسری ویژگی&zwnj;ها و مشخصات
          برای هر آسانسور مشخص می&zwnj;شود. قیمت آسانسور خانگی با توجه به
          فاکتورهایی که در ادامه بیان خواهیم کرد، مشخص می&zwnj;شود.&nbsp;</span
        >
      </p>
      <ul>
        <li style="text-align: right">
          <span style="font-family: iranyekan"
            ><strong>برند سازنده آسانسور:</strong> برند و سازنده آسانسور در قیمت
            خانگی آسانسور تاثیر دارد. از این رو آسانسور شرکت&zwnj;هایی که نام
            آشناتری دارند، معمولاً گران&zwnj;تر از شرکت&zwnj;های بی نام و نشان
            است.&nbsp;</span
          >
        </li>
        <li style="text-align: right">
          <span style="font-family: iranyekan"
            ><strong>ظرفیت بار آسانسور:</strong> هر آسانسور خانگی دارای ظرفیت
            خاصی است و بیشتر از ظرفیتی که دارد توانایی حمل بار ندارد.</span
          >
        </li>
        <li style="text-align: right">
          <span style="font-family: iranyekan"
            ><strong>ارتفاع ساختمان:</strong> هر چه ارتفاع آسانسور بیشتر باشد،
            طول سفر نیز افزایش می&zwnj;یابد و هر چه طول سفر افزایش یابد، هزینه
            بیشتری برای نصب آسانسور بایستی پرداخت کنید.</span
          >
        </li>
        <li style="text-align: right">
          <span style="font-family: iranyekan"
            ><strong>نوع درب آسانسور:</strong> درب آسانسور در قیمت هوم لیفت
            تاثیر دارد؛ چرا که درب طبقه و کابین آسانسور انواع مختلفی دارد.
            درب&zwnj;های آسانسور قیمت&zwnj;های متفاوتی دارند و هر کدام در افزایش
            قیمت آسانسور خانگی تاثیر دارند.</span
          >
        </li>
        <li style="text-align: right">
          <span style="font-family: iranyekan"><strong>نوع کابین:</strong></span
          ><span style="font-family: iranyekan">
            کابین آسانسورهای خانگی انواع مختلفی دارد و هر کدام هزینه نصب متفاوتی
            دارند. معمولاً آسانسورهای خانگی شیشه&zwnj;ای هستند؛ اما
            می&zwnj;تواند از مدل&zwnj;های دیگر نیز در این آسانسور استفاده
            کرد.</span
          >
        </li>
      </ul>
      <p style="text-align: right">
        <span style="font-family: iranyekan"
          >طبق موارد گفته شده، قیمت آسانسور هوم لیفت می&zwnj;تواند چند ده میلیون
          یا چند صد میلیون باشد. برای آشنایی با قیمت آسانسورهای خانگی
          می&zwnj;توانید با کارشناسان ما تماس برقرار کنید.</span
        >
      </p>
      <table
        style="
          height: 150px;
          width: 100.284%;
          border-collapse: collapse;
          background-color: #333399;
        "
      >
        <tbody>
          <tr style="height: 18px">
            <td style="width: 100%; height: 18px; text-align: center">
              <div style="text-align: center; line-height: 2">
                <span style="font-family: iranyekan"
                  ><span style="font-size: 14pt; color: #ffffff"
                    ><strong
                      >برای بررسی بیشتر قیمت آسانسور میتوانید قیمت تمامی قطعات و
                      تجهیزات آسانسور را علاوه بر مقاله
                      <span style="color: #f4c03b"
                        ><a
                          href="https://keleman.org/%d9%82%db%8c%d9%85%d8%aa-%d8%a2%d8%b3%d8%a7%d9%86%d8%b3%d9%88%d8%b1-%d8%af%d8%b1-%d8%b3%d8%a7%d9%84/"
                          style="color: #f4c03b"
                          >قیمت آسانسور</a
                        ></span
                      >، از فروشگاه آنلاین کلمان نیز چک کنید و از تخفیف های ویژه
                      <span style="color: #f4c03b"
                        ><a
                          href="https://keleman.org/shop/"
                          style="color: #f4c03b"
                          >فروشگاه آسانسور کلمان</a
                        ></span
                      >
                      بهره مند شوید.</strong
                    ></span
                  ></span
                >
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <h2 style="text-align: justify; line-height: 2" id="&nbsp;جمع بندی8">
        <span style="font-family: iranyekan">&nbsp;جمع بندی</span>
      </h2>
      <p style="text-align: justify; line-height: 2">
        <span style="font-family: iranyekan"
          >آسانسورها انواع مختلفی دارند که آسانسور خانگی یکی از انواع آن&zwnj;ها
          به شمار می&zwnj;آید. این مدل از آسانسورها در ساختمان&zwnj;های 3 تا 5
          طبقه نصب می&zwnj;شوند و معمولاً درون ساختمان نصب می&zwnj;شوند. این مدل
          از آسانسورها مزایای زیادی دارند که بیشتر افراد این مدل از آسانسورها را
          به سایر آسانسورها ترجیح می&zwnj;دهند. خرید آسانسور خانگی برای
          ساختمان&zwnj;هایی که تعداد طبقات زیادی ندارند بسیار مناسب است. این مدل
          از آسانسورها توانایی حمل بار زیادی را ندارند برای همین توانایی
          جابه&zwnj;جایی مسافران و بار را برای ساختمان&zwnj;های بلند را ندارند.
          قیمت اسانسور خانگی با توجه به مواردی همچون برند، ظرفیت، اندازه و نوع
          کابین و غیره مشخص می&zwnj;شود. ما در این مقاله سعی بر این داشتیم تا
          شما را با یکی دیگر از انواع آسانسورها آشنا کنیم تا در صورت نصب آسانسور
          اطلاعات کامل&zwnj;تری درباره انواع آن داشته باشید.</span
        >
      </p>
      <h2 style="text-align: justify; line-height: 2" id="سوالات متداول9">
        <span style="font-family: iranyekan">سوالات متداول</span>
      </h2>
      <p style="text-align: right">
        <span style="font-family: iranyekan"
          ><strong>آیا نصب آسانسور خانگی سخت است؟</strong></span
        >
      </p>
      <p style="text-align: right">
        <span style="font-family: iranyekan"
          >به طور کلی نصب انواع آسانسورها مشکل است و باید توسط افراد و یا
          شرکت&zwnj;های آسانسوری نصب شود؛ اما اگر فردی پیدا شود که تخصص لازم را
          برای این کار را داشته باشد به راحتی می&zwnj;تواند آسانسور خانگی را نصب
          کند.</span
        >
      </p>
      <p style="text-align: right">
        <span style="font-family: iranyekan"
          ><strong>ظرفیت آسانسورهای خانگی چقدر است؟</strong></span
        >
      </p>
      <p style="text-align: right">
        <span style="font-family: iranyekan"
          >معمولاً ظرفیت آسانسورهای خانگی یا هوم لیفت 4 تا 6 نفر است. از این رو
          ظرفیت هوم لیفت&zwnj;ها بین 250 کلیوگرم تا 400 کیلوگرم است.</span
        >
      </p>
      <p style="text-align: right">
        <span style="font-family: iranyekan"
          ><strong>آیا آسانسور خانگی با برق کار می&zwnj;کند؟</strong></span
        >
      </p>
      <p style="text-align: right">
        <span style="font-family: iranyekan"
          >آسانسورهای هیدرولیکی که در خانه&zwnj;ها نصب می&zwnj;شوند، برق زیادی
          مصرف نمی&zwnj;کنند؛ اما سایر آسانسورهای خانگی برای کارکردن به نیروی
          برق برای جابه&zwnj;جایی بین طبقات نیاز دارند.</span
        >
      </p>
      <p style="text-align: right">
        <span style="font-family: iranyekan"
          ><strong>هزینه نصب آسانسور خانگی چقدر است؟&nbsp;</strong></span
        >
      </p>
      <p style="text-align: right">
        <span style="font-family: iranyekan"
          >هزینه نصب و راه&zwnj;اندازی آسانسور هوم لیفت با توجه به شرکتی که از
          آن آسانسور را خریداری کرده&zwnj;اید، مشخص می&zwnj;شود؛ بنابراین
          هزینه&zwnj;ها متغیر است و نمی&zwnj;توان قیمت ثابتی برای آسانسور هوم
          لیفت مشخص کرد.</span
        >
      </p>
      <!-- /wp:paragraph -->
    </article>
    <h6 class="related-articles-title">
      <span>مقالات مرتبط</span>
    </h6>
    <div class="row mx-0 mb-3">
      <div class="col-12 col-md-6" *ngFor="let article of articles">
        <keleman-article-item-thumbnail
          [article]="article"
        ></keleman-article-item-thumbnail>
      </div>
    </div>
    <comments></comments>
  </div>
</div>
