@import "base/variables/spacers";
@import "base/variables/colors";
::ng-deep article {
  figure,
  p,
  span {
    margin-bottom: 1rem !important;
  }
  img {
    width: 100%;
  }
}

.article-cover {
  width: 100%;

  img {
    height: inherit;
    width: inherit;
    border-radius: $klm-spacer;
    object-fit: cover;
  }
}

.article-container__banner {
  height: auto;
  img {
    height: 100%;
    border-radius: inherit;
    object-fit: cover;
  }
}
.article-container__meta {
  img,
  .svg-icon {
    margin: 0 0.5rem;
  }
}

.related-articles-title {
  width: 100%;
  border-bottom: 1px solid $gray-500;
  span {
    border-bottom: 1px solid $klm-primary;
  }
}
