<div class="p-3">
  <div
    class="p-3 d-flex justify-content-between align-items-start border-bottom border-gray-300"
  >
    <h3 class="d-flex align-item-center">برندها</h3>

    <span
      class="material-icons-outlined text-danger close cursor-pointer"
      (click)="dialogRef.close()"
    >
      close
    </span>
  </div>

  <keleman-brand-filter-items
    [selectedArray]="data"
    (selectionChange)="selectionChange($event)"
  ></keleman-brand-filter-items>

  <div class="text-center">
    <button
      mat-raised-button
      class="btn-success"
      (click)="submit()"
      [disabled]="selectedArray.length === 0"
    >
      تایید
    </button>
  </div>
</div>
