<div class="text-center">
  <div class="text-center mb-3">
    <div class="d-flex align-items-center">
      <h4 class="fw-bold text-klm-primary px-3">درباره ما</h4>
      <div class="gradient-border flex-grow-1"></div>
    </div>
  </div>
  <h4 class="mb-3">آشنایی با برترین وب سایت خرید و فروش قطعات آسانسور</h4>
  <p class="text-justify">
    بازرگانی آسانسور کلمان با بیش از ۱۰ سال سابقه درخشان در صنعت آسانسور و پله
    برقی به عنوان برترین و تخصصی‌ترین وب سایت خرید و فروش قطعات آسانسور و پله
    برقی آنلاین، با اجرای کامل استاندارد‌های روز دنیا در حال فعالیت است. هدف
    اصلی بازرگانی آسانسور کلمان از ایجاد یک وبسایت تخصصی در زمینه خرید و فروش
    قطعات آسانسور باکیفیت، با حذف واسطه‌ها، کمک کردن به خریداران و فروشندگان
    است. سفارش و خرید تمامی قطعات مورد نیاز آسانسور اعم از خرید درب آسانسور،
    خرید موتور آسانسور، خرید تابلو فرمان آسانسور، خرید شستی آسانسور و دیگر
    متعلقات نصب و راه اندازی آسانسور در فروشگاه آنلاین کلمان امکان پذیر است. در
    فروشگاه آنلاین قطعات آسانسور و پله برقی کلمان، شما به عنوان خریدار می‌توانید
    تمامی قطعات مورد نیاز خود را به راحتی و با کمک مشاورین فنی ما خریداری کنید و
    در کوتاه ترین زمان ممکن در سراسر ایران تحویل بگیرید و تیم پشتیبانی کلمان در
    تمام مراحل از خرید تا زمان تحویل قطعات با خدمات قبل و پس از فروش در کنار
    شماست. همچنین کلمان اصالت و کیفیت تمام قطعات موجود در سایت را تضمین می‌کند.
    شما تولیدکنندگان و فروشندگان قطعات آسانسور و پله برقی با ثبت کالا‌های خود در
    فروشگاه آنلاین کلمان می‌توانید به جامعه بسیار بزرگ مشتریان قطعات آسانسور دست
    پیدا کنید و از مزیت‌های متعدد فروش قطعات آسانسور و به ویژه فروش درب آسانسور
    در کلمان همچون استفاده از درگاه پرداخت امن، دریافت مشاوره در حوزه فروش
    محصولات و… بهرمند شوید. بازرگانی فروش و خرید قطعات آسانسور کلمان داری نماد
    اعتماد الکترونیک، نماد رسانه‌های دیجیتال، گواهینامه عاملیت فروش توسط شرکت
    دیائوی چین، گواهینامه عاملیت برتر (درجه‌ی طلایی) از سوی شرکت اتوماتیک یاران،
    نمایندگی مجاز محصولات ویتور توسط شرکت کوپل آسانسور است و همچنین عنوان برترین
    غرفه در نمایشگاه بین‌المللی فارس در سال‌های اخیر را کسب کرده است.
  </p>
</div>
