@import "base/variables/colors";

::ng-deep .pagination {
  .page-item {
    margin: 0 0.25rem;
    a {
      border-radius: 0.25rem;
      color: $klm-primary;
    }
    &.active {
      a {
        background-color: $klm-secondary;
        color: $klm-primary;
        border-color: $klm-primary;
      }
    }
  }
}
