@import "base/variables/colors";

::ng-deep .pagination {
  .page-item {
    margin: 0 0.25rem;
    a {
      border-radius: 0.25rem;
      color: $klm-primary;
    }
    &.active {
      a {
        background-color: $klm-secondary;
        color: $klm-primary;
        border-color: $klm-primary;
      }
    }
    &:first-child .page-link {
      border-radius: 0.25rem;
      border-top-right-radius: var(--keleman-pagination-border-radius);
      border-bottom-right-radius: var(--keleman-pagination-border-radius);
    }
    &:last-child .page-link {
      border-radius: 0.25rem;
      border-top-left-radius: var(--keleman-pagination-border-radius);
      border-bottom-left-radius: var(--keleman-pagination-border-radius);
    }
  }
}
