<button class="payment-item" [disabled]="disabled" [class.selected]="selected">
  <div class="symbol">
    <img
      loadingLazy
      [src]="'assets/media/pGateway/' + gateway.enName + '.png'"
    />
  </div>
  <span class="fs-6 d-flex flex-column">
    <p>{{ gateway.name }}</p>
    @if
    (gateway.enName===paymentGatewyEnums.CreditPay||gateway.enName===paymentGatewyEnums.WalletPay){
    <span class="text-success text-center"
      >({{
        gateway.enName === paymentGatewyEnums.CreditPay
          ? credit.creditValue > 0
            ? (credit.creditValue | number : ".0") + "تومان"
            : 0
          : credit.walletValue > 0
          ? (credit.walletValue | number : ".0") + "تومان"
          : 0
      }})</span
    >
    }
  </span>
</button>
