.article-content {
  width: 250px !important;
  height: 355px !important;
  .article-content__body > * {
    margin-bottom: 1rem;
  }
  .read-more-button {
    border-radius: 0 1.5rem 0 1.5rem;
    width: fit-content;
    align-self: end;
  }
  .article-image {
    border-radius: 1rem;
    max-width: 276px;
  }
  .article-description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;

    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
}
@media (max-width: 768px) {
  .article-content {
    height: 270px !important;
  }
}
