<div class="magazine row mx-0">
  <div class="col-12 text-center mb-3">
    <div class="d-flex align-items-center">
      <h3 class="fw-bold text-klm-primary px-3">مجله کلمان</h3>
      <div class="gradient-border flex-grow-1"></div>
    </div>
  </div>
  <div class="col-12 col-lg-8">
    <div class="card card-rounded-lg pb-3">
      <img src="assets/media/temp/2.jpg" />
    </div>
  </div>
  <div class="col-12 col-lg-4 row m-0 p-0">
    <div class="col-12 col-md-6 col-lg-12 pb-3">
      <img src="assets/media/temp/2.jpg" />
    </div>
    <div class="col-12 col-md-6 col-lg-12 pb-3">
      <img src="assets/media/temp/2.jpg" />
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-3 pb-3">
    <img src="assets/media/temp/2.jpg" />
  </div>
  <div class="col-12 col-md-6 col-lg-3 pb-3">
    <img src="assets/media/temp/2.jpg" />
  </div>
  <div class="col-12 col-md-6 col-lg-3 pb-3">
    <img src="assets/media/temp/2.jpg" />
  </div>
  <div class="col-12 col-md-6 col-lg-3 pb-3">
    <img src="assets/media/temp/2.jpg" />
  </div>
</div>
