<div class="magazine d-flex flex-column">
  <div class="text-center mb-3">
    <div class="d-flex align-items-center">
      <h3 class="fw-bold text-klm-primary px-3">مجله کلمان</h3>
      <div class="gradient-border flex-grow-1"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mb-3 col-md-6 mb-lg-0 col-lg-4">
      <ng-container
        *ngIf="isLoading; then loading; else content"
      ></ng-container>
      <ng-template #loading>
        <ngx-skeleton-loader
          [theme]="{ width: '100%', height: '500px' }"
        ></ngx-skeleton-loader>
      </ng-template>
      <ng-template #content>
        <keleman-magazine-item
          [isNew]="true"
          [date]="'2022/01/02'"
        ></keleman-magazine-item>
      </ng-template>
    </div>
    <div class="col-12 mb-3 col-md-6 mb-lg-0 col-lg-4">
      <ng-container
        *ngIf="isLoading; then loading; else content"
      ></ng-container>
      <ng-template #loading>
        <ngx-skeleton-loader
          [theme]="{ width: '100%', height: '500px' }"
        ></ngx-skeleton-loader>
      </ng-template>
      <ng-template #content>
        <keleman-magazine-item
          [isNew]="true"
          [date]="'2022/01/02'"
        ></keleman-magazine-item>
      </ng-template>
    </div>
    <div class="col-12 mb-3 col-md-6 mb-lg-0 col-lg-4">
      <ng-container
        *ngIf="isLoading; then loading; else content"
      ></ng-container>
      <ng-template #loading>
        <ngx-skeleton-loader
          [theme]="{ width: '100%', height: '500px' }"
        ></ngx-skeleton-loader>
      </ng-template>
      <ng-template #content>
        <keleman-magazine-item
          [isNew]="true"
          [date]="'2022/01/02'"
        ></keleman-magazine-item>
      </ng-template>
    </div>
  </div>
</div>
