<div class="d-flex justify-content-center flex-column align-items-center">
  <div class="symbol symbol-15">
    <img src="assets/media/crisis.png" />
  </div>

  <h4>پیام</h4>
</div>
<div mat-dialog-content>
  <p>{{ data.message }}</p>
</div>
<div mat-dialog-actions class="justify-content-center">
  <button class="btn btn-warning" (click)="data.callBackFunction(); onClose()">
    {{ data.callBackButtonText }}
  </button>
  <button mat-button cdkFocusInitial (click)="onClose()">متوجه شدم</button>
</div>
