.mat-mdc-dialog-container .mdc-dialog__content {
  font-family: IRANYekanXFaNum !important;
}
.custom-mat-dialog {
  .mat-mdc-dialog-container .mdc-dialog__surface {
    padding: 2rem;
    border-radius: 20px;
  }
}
