.mat-mdc-dialog-container .mdc-dialog__content {
  font-family: IRANYekanXFaNum !important;
}
.custom-mat-dialog {
  .mat-mdc-dialog-content {
    max-height: 100vh;
  }
  .mat-mdc-dialog-container .mdc-dialog__surface {
    border-radius: 20px;
  }
}
