@import "base/variables/colors";

@import "bootstrap/scss/bootstrap";

@import "base/init";
@import "../../node_modules/swiper/swiper";
@import "../../node_modules/swiper/modules/pagination/pagination";
@import "../../node_modules/swiper/modules/navigation/navigation";
@import "../../node_modules/swiper/modules/autoplay/autoplay";
@import "../../node_modules/swiper/modules/effect-creative/effect-creative";

@import "../assets/fonts/Webfonts/style.css";
@import "material-icons/iconfont/outlined";
@import "material-icons/iconfont/sharp";
@import "material-icons/iconfont/round";
@import "leaflet/dist/leaflet.css";
@import "leaflet-geosearch/dist/geosearch.css";
@import "mat_dialog_custom";

html,
body,
app-root {
  margin: 0;
  height: 100%;
}
body {
  background: url("../assets/media/static-resources/keleman-logo-background.svg")
    no-repeat 10% 0;
}

a {
  text-decoration: none !important;
}
.grid-divider > * {
  position: relative;
  margin-bottom: 15px;
}
.grid-divider > [class*="col-"]:nth-child(2n) {
  border-right: 2px solid map-get($theme-colors, "gray-500");
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
textarea:focus,
input:focus,
textarea:active,
input:active {
  outline: none !important;
  box-shadow: unset !important;
}

.underline-text {
  padding-bottom: 1rem;
  font-weight: bold;
  display: inline-block;
  border-bottom: 2px solid map-get($theme-colors, "klm-primary");
}
.gradient-border {
  border-bottom: 5px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    to left,
    map-get($theme-colors, "klm-primary"),
    white
  );
}
.sticky-top {
  z-index: 1000 !important;
}
