@import "base/variables/colors";

@import "bootstrap/scss/bootstrap";

@import "base/init";
@import "../../node_modules/swiper/swiper";
@import "../../node_modules/swiper/modules/pagination/pagination";
@import "../../node_modules/swiper/modules/navigation/navigation";
@import "../../node_modules/swiper/modules/autoplay/autoplay";

@import "../../node_modules/ngx-bar-rating/themes/br-stars-theme";
@import "../assets/fonts/Webfonts/style.css";
@import "material-icons/iconfont/material-icons";
html,
body,
app-root {
  height: 100%;
}

a {
  text-decoration: none !important;
}
.grid-divider > * {
  position: relative;
  margin-bottom: 15px;
}
.grid-divider > [class*="col-"]:nth-child(2n) {
  border-right: 2px solid map-get($theme-colors, "gray-500");
}
