<div class="card card-rounded-3 amazing-offer-container">
  <div class="card-body position-relative d-flex amazing-swiper">
    <div class="swiper-start d-flex flex-column justify-content-between">
      <h4 class="fs-1 swiper-start-text text-center text-klm-primary">
        پیشنهادات <br />شگفت انگیز <br />کِلِمان
      </h4>
      <img
        alt="پیشنهادات شگفت انگیز کلمان"
        class="swiper-start-image"
        src="../../../../../../../assets/media/amazing-offer/amazing-offer.svg"
      />
    </div>

    <div class="keleman-swiper">
      <keleman-swiper
        [spaceBetween]="0"
        [showMoreButton]="false"
        [showTitle]="false"
        [navigation]="true"
        [navigationButtonClassPrefix]="'amazing-offer'"
      >
        <ng-container
          *ngIf="isLoading | async; then loading; else content"
        ></ng-container>
        <ng-template #loading>
          <appSwiperContent *ngFor="let _ of sahredVariableService.counter(10)">
            <ng-template appSwiperTemplate>
              <ngx-skeleton-loader
                [theme]="{ height: '18.75rem', width: '12.5rem' }"
              ></ngx-skeleton-loader>
            </ng-template>
          </appSwiperContent>
        </ng-template>

        <ng-template #content>
          <appSwiperContent *ngFor="let slide of slides; let i = index">
            <ng-template appSwiperTemplate>
              <keleman-background-swiper-item
                class="cursor-pointer"
                [routerLink]="['/products/detail/' + slide.customUrl]"
                [product]="slide"
              ></keleman-background-swiper-item>
            </ng-template>
          </appSwiperContent>
        </ng-template>
      </keleman-swiper>
    </div>
  </div>
</div>
