<span class="d-flex justify-content-end align-items-center w-100">
  <ng-container [ngSwitch]="size">
    <ng-template [ngSwitchCase]="'h1'">
      <h1 class="text-danger ms-3" *ngIf="off">{{ discount }}%</h1>
      <h1
        class="fw-bold product-price"
        [ngClass]="{
          'text-black': color === 'dark',
          'text-light': color === 'light',
          'text-klm-primary': color === 'primary',
          'text-secondary': color === 'secondary',
          'text-danger': color === 'danger',
          'text-success': color === 'success',
          'line-through': off
        }"
      >
        {{ (value | number : ".0") + append }}
      </h1>
    </ng-template>
    <ng-template [ngSwitchCase]="'h2'">
      <h2 class="text-danger ms-3" *ngIf="off">{{ discount }}%</h2>
      <h2
        class="fw-bold product-price"
        [ngClass]="{
          'text-black': color === 'dark',
          'text-light': color === 'light',
          'text-klm-primary': color === 'primary',
          'text-secondary': color === 'secondary',
          'text-danger': color === 'danger',
          'text-success': color === 'success',
          'line-through': off
        }"
      >
        {{ (value | number : ".0") + append }}
      </h2>
    </ng-template>
    <ng-template [ngSwitchCase]="'h3'">
      <h3 class="text-danger ms-3" *ngIf="off">{{ discount }}%</h3>
      <h3
        class="fw-bold product-price"
        [ngClass]="{
          'text-black': color === 'dark',
          'text-light': color === 'light',
          'text-klm-primary': color === 'primary',
          'text-secondary': color === 'secondary',
          'text-danger': color === 'danger',
          'text-success': color === 'success',
          'line-through': off
        }"
      >
        {{ (value | number : ".0") + append }}
      </h3>
    </ng-template>
    <ng-template [ngSwitchCase]="'h4'">
      <h4 class="text-danger ms-3" *ngIf="off">{{ discount }}%</h4>
      <h4
        class="fw-bold product-price"
        [ngClass]="{
          'text-black': color === 'dark',
          'text-light': color === 'light',
          'text-klm-primary': color === 'primary',
          'text-secondary': color === 'secondary',
          'text-danger': color === 'danger',
          'text-success': color === 'success',
          'line-through': off
        }"
      >
        {{ (value | number : ".0") + append }}
      </h4>
    </ng-template>
    <ng-template [ngSwitchCase]="'h5'">
      <h5 class="text-danger ms-3" *ngIf="off">{{ discount }}%</h5>
      <h5
        class="fw-bold product-price"
        [ngClass]="{
          'text-black': color === 'dark',
          'text-light': color === 'light',
          'text-klm-primary': color === 'primary',
          'text-secondary': color === 'secondary',
          'text-danger': color === 'danger',
          'text-success': color === 'success',
          'line-through': off
        }"
      >
        {{ (value | number : ".0") + append }}
      </h5>
    </ng-template>
    <ng-template [ngSwitchCase]="'h6'">
      <h6 class="text-danger ms-3" *ngIf="off">{{ discount }}%</h6>
      <h6
        class="fw-bold product-price"
        [ngClass]="{
          'text-black': color === 'dark',
          'text-light': color === 'light',
          'text-klm-primary': color === 'primary',
          'text-secondary': color === 'secondary',
          'text-danger': color === 'danger',
          'text-success': color === 'success',
          'line-through': off
        }"
      >
        {{ (value | number : ".0") + append }}
      </h6>
    </ng-template>
  </ng-container>
</span>
