<div class="d-flex flex-column align-items-center mx-md-3 mx-lg-5">
  <span class="d-flex align-items-center mb-3 filters">
    <keleman-auto-complete
      [options]="statusMap"
      [(ngModel)]="selectedStatus.title"
      [placeHolder]="'وضعیت'"
      (onSelectionChange)="onSelectStatus($event)"
    >
    </keleman-auto-complete>
  </span>
  <div class="transactions w-100">
    <div class="alert alert-info row text-center">
      <h6 class="col-2">شماره سفارش</h6>
      <h6 class="col-2">تاریخ</h6>
      <h6 class="col-3">توضیحات</h6>
      <h6 class="col-3">وضعیت</h6>
      <h6 class="col-2">عملیات</h6>
    </div>
    @if(isLoading){
    <ngx-skeleton-loader
      [theme]="{ width: '100%', height: '5rem' }"
      count="3"
    ></ngx-skeleton-loader>
    } @else if (requests.length>0){ @for (request of requests;track request.id){
    <div>
      <div
        class="alert row text-center align-items-center"
        [ngClass]="{
          'alert-danger': request.status === statusEnum.Rejected,
          'alert-success': request.status === statusEnum.ApprovedByAdmin,
          'alert-warning': request.status === statusEnum.SentByUser,
          'alert-info': request.status === statusEnum.ReadByAdmin,
          'alert-secondary': request.status === statusEnum.Cancelled
        }"
      >
        <h6 class="col-2">{{ request.billId }}</h6>
        <h6 class="col-2">
          {{
            persianDateTimeService.fromGregorianString(
              request.dateTime,
              "DD jMMMM YYYY"
            )
          }}
        </h6>
        <h6 class="col-3">
          {{ request.description || "---" }}
        </h6>
        <h6 class="col-3">
          {{ getStatusTitle(request.status) }}
        </h6>

        <button
          class="btn btn-outline-danger col-2"
          [disabled]="request.status > 2"
          (click)="getAcceptBeforeCancell($event, request.id)"
        >
          لفو درخواست
        </button>
      </div>
      <keleman-pagination
        [currentPage]="page"
        [limit]="limit"
        [totalElements]="totalElements"
        (pageChange)="pageChange($event)"
      ></keleman-pagination>
    </div>

    } } @else {
    <keleman-empty-content></keleman-empty-content>
    }
  </div>
</div>
