<div class="d-flex flex-column align-items-center mx-md-3 mx-lg-5">
  <span class="d-flex align-items-center mb-3 filters">
    <a class="text-black mx-3">همه</a>
    <a class="text-success mx-3">تایید شده</a>
    <a class="text-danger mx-3">رد شده</a>
  </span>
  <div class="transactions w-100">
    <div class="alert alert-info row  text-center">
      <span class="col-1">#</span>
      <h6 class="col-3">شماره درخواست</h6>
      <h6 class="col-3">شماره سفارش</h6>
      <h6 class="col-2">تاریخ</h6>
      <h6 class="col-3">وضعیت</h6>
    </div>
    <div
      *ngFor="let request of requests"
      class="alert row text-center "
      [ngClass]="{
        'alert-danger': request.status === statusEnum.rejected,
        'alert-success': request.status === statusEnum.approved,
        'alert-warning': request.status === statusEnum.inProgress
      }"
    >
      <span class="d-none d-md-block col-1">
          <mat-icon >{{
            request.status === statusEnum.inProgress
              ? "cached"
              : request.status === statusEnum.approved
                ? "done"
                : "remove"
            }}</mat-icon>
      </span>

      <h6 class="col-3">{{ request.returnedNum }}</h6>
      <h6 class="col-3">{{ request.orderNum }}</h6>
      <h6 class="mb-0 col-2">
        {{
          persianDateTimeService.fromGregorianString(
            request.date,
            "DD jMMMM YYYY"
          )
        }}
      </h6>
      <h6 class="col-3">
        {{
          request.status === statusEnum.inProgress
            ? "در حال بررسی"
            : request.status === statusEnum.approved
            ? "تایید شده"
            : "رد شده"
        }}
      </h6>
    </div>
  </div>
</div>
