.read-more-less-toggle {
  height: 35px;
  text-align: center;
  background: rgb(239, 242, 247);

  background: linear-gradient(
    0deg,
    rgba(239, 242, 247, 1) 0%,
    rgba(239, 242, 247, 0) 100%
  );
}
