<ul class="user-menu">
  <li class="d-flex flex-column p-3 position-relative user-base-info">
    <span class="vertical-line"></span>

    <span class="d-flex align-items-center mb-3">
      <div appSymbol class="mx-3 border border-1 border-success">
        <img src="assets/media/blank.webp" />
      </div>
      <div class="d-flex flex-column">
        <p class="text-klm-primary text-end h5 mb-3">
          {{ userInfo.firstName! }} {{ userInfo.lastName! }}
        </p>
        <a class="d-flex align-items-center text-muted" routerLink="profile">
          مشاهده پروفایل
        </a>
      </div>
    </span>
    <ul class="user-base-info-menu">
      <li class="position-relative mb-3">
        <span class="prefix1"></span>
        کیف پول

        <span class="text-success">{{ 200000 | number : ".0" }} تومان</span>
      </li>
      <li class="position-relative">
        <span class="prefix2"></span>
        اعتبار
        <span class="text-success">{{ 200000 | number : ".0" }} تومان </span>
      </li>
    </ul>
  </li>
  <li ngbDropdownItem>
    <span class="d-flex align-items-center">
      <span class="material-icons-outlined"> local_mall </span>
      <span>سفارشات</span>
    </span>
  </li>
  <li ngbDropdownItem>
    <span class="d-flex align-items-center">
      <span class="material-icons-outlined"> paid </span>
      <span>اعتبارات</span>
    </span>
  </li>
  <li ngbDropdownItem>
    <span class="d-flex align-items-center">
      <span class="material-icons-outlined"> map </span>
      <span>آدرس ها</span>
    </span>
  </li>
  <li ngbDropdownItem class="cursor-pointer" (click)="authService.logout()">
    <span class="d-flex align-items-center">
      <span class="material-icons-outlined"> logout </span>
      <span>خروج</span>
    </span>
  </li>
</ul>
