<ul class="user-menu">
  <li class="d-flex justify-content-between align-items-center p-3">
    <span class="d-flex align-items-center">
      <div class="symbol symbol-circle mx-1">
        <img src="assets/media/blank.png" />
      </div>
      <div class="d-flex flex-column">
        <h5 class="text-klm-primary text-end">سجاد منشی</h5>
        <a class="d-flex align-items-center text-muted" routerLink="profile">
          مشاهده پروفایل
          <mat-icon>keyboard_backspace</mat-icon>
        </a>
      </div>
    </span>
  </li>
  <li ngbDropdownItem>
    <span class="d-flex align-items-center">
      <span class="material-icons-outlined"> local_mall </span>
      <span>سفارشات</span>
    </span>
  </li>
  <li ngbDropdownItem>
    <span class="d-flex align-items-center">
      <span class="material-icons-outlined"> paid </span>
      <span>اعتبارات</span>
    </span>
  </li>
  <li ngbDropdownItem>
    <span class="d-flex align-items-center">
      <span class="material-icons-outlined"> map </span>
      <span>آدرس ها</span>
    </span>
  </li>
  <li ngbDropdownItem>
    <span class="d-flex align-items-center">
      <span class="material-icons-outlined"> logout </span>
      <span>خروج</span>
    </span>
  </li>
</ul>
