<div class="rounded-4 shadow-lg magazine-item bg-white">
  <div class="p-0 d-flex flex-column ribbon ribbon-end ribbon-clip">
    <ng-template [ngIf]="isNew">
      <div class="ribbon-label">
        جدید
        <span class="ribbon-inner bg-success"></span>
      </div>
    </ng-template>

    <img class="cover-image" src="assets/media/temp/2.jpg" />
    <div
      class="mag-content px-4 py-3 d-flex flex-column justify-content-between"
    >
      <h6 class="fw-bold">
        <a>بررسی کامل انواع درب آسانسور + مشخصات،کاربرد و قیمت آنها</a>
      </h6>
      <p class="magazine-description">
        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده
        از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و
        سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای
        متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه
        درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با
        نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان
        خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید
        داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان
        رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات
        پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
      </p>

      <button class="btn btn-outline btn-outline-klm-primary read-more">
        <span class="mx-3">بیشتر</span>
        <mat-icon>keyboard_backspace</mat-icon>
      </button>
    </div>
  </div>
</div>
