<mat-chip-listbox *ngIf="productFilterService.filterList">
  <mat-chip *ngFor="let category of productFilterService.filterList.categories">
    <span class="d-flex align-items-center">
      <mat-icon (click)="removeCategoryChip(category)">cancel</mat-icon>
      {{ category.title }}
    </span>
  </mat-chip>
  <mat-chip *ngFor="let brand of productFilterService.filterList.brands">
    <span class="d-flex align-items-center">
      <mat-icon (click)="removeBrandChip(brand)">cancel</mat-icon>
      {{ brand.title }}
    </span>
  </mat-chip>
  <mat-chip *ngFor="let seller of productFilterService.filterList.sellers">
    <span class="d-flex align-items-center">
      <mat-icon (click)="removeSellerChip(seller)">cancel</mat-icon>
      {{ seller.title }}
    </span>
  </mat-chip>
  <ng-template
    class="d-flex align-items-center"
    [ngIf]="productFilterService.filterList.outOfStock"
  >
    <mat-chip>
      <span class="d-flex align-items-center">
        <mat-icon (click)="removeOutOfStockChip()">cancel</mat-icon>
        عدم موجودی
      </span>
    </mat-chip>
  </ng-template>
  <ng-template [ngIf]="productFilterService.filterList.price">
    <mat-chip>
      <span class="d-flex align-items-center">
        <mat-icon (click)="removePriceRange()">cancel</mat-icon>
        از
        {{ productFilterService.filterList.price.min }} تا
        {{ productFilterService.filterList.price.max }} تومان
      </span>
    </mat-chip>
  </ng-template>
</mat-chip-listbox>
