<mat-chip-listbox *ngIf="productFilterService.filterList">
  <mat-chip *ngFor="let filter of productFilterService.filterList.filters">
    <span class="d-flex align-items-center chip-text">
      <mat-icon class="cursor-pointer" (click)="removeChip(filter)"
        >cancel</mat-icon
      >
      {{ filter.option.title }}:
      {{ filter.title }}
    </span>
  </mat-chip>

  <ng-template
    class="d-flex align-items-center"
    [ngIf]="productFilterService.filterList.outOfStock"
  >
    <mat-chip>
      <span class="d-flex align-items-center">
        <mat-icon (click)="removeOutOfStockChip()">cancel</mat-icon>
        عدم موجودی
      </span>
    </mat-chip>
  </ng-template>
  <ng-template [ngIf]="productFilterService.filterList.price">
    <mat-chip>
      <span class="d-flex align-items-center">
        <mat-icon (click)="productFilterService.removePriceFilter()"
          >cancel</mat-icon
        >
        از
        {{ productFilterService.filterList.price.min | number : ".0" }} تا
        {{ productFilterService.filterList.price.max | number : ".0" }} تومان
      </span>
    </mat-chip>
  </ng-template>
</mat-chip-listbox>
