<div class="card card-rounded-3 shadow-sm border-gray-300 mb-3">
  <div class="card-body">
    <h6 class="fw-bold">کیف پول</h6>

    <div class="row mx-0">
      <div class="col-7">
        <div class="form-group increase-credit">
          <label for="increase-amount" class="fw-normal text-muted"
            >افزایش موجودی کیف پول</label
          >
          <div class="d-flex align-items-center justify-content-between mb-3">
            <keleman-input-group
              id="increase-amount"
              [type]="'number'"
              [placeHolder]="'مقدار را به تومان وارد کنید'"
            >
              <span class="text-muted">تومان</span>
            </keleman-input-group>
            <button class="btn btn-warning text-white wallet-action-button">
              پرداخت
            </button>
          </div>
        </div>
        <div class="separator my-3"></div>
        <div class="form-group">
          <label for="gift-card" class="fw-normal text-muted"
            >برداشت از کیف پول</label
          >
          <div class="d-flex align-items-center justify-content-between mb-3">
            <keleman-input-group
              id="gift-card"
              [type]="'number'"
              [placeHolder]="'مقدار را به تومان وارد کنید'"
            >
            </keleman-input-group>
            <button class="btn btn-warning text-white wallet-action-button">
              بررسی
            </button>
          </div>
        </div>
      </div>
      <div class="col-5">
        <keleman-wallet-amount-card></keleman-wallet-amount-card>
      </div>
    </div>
  </div>
</div>

<div class="credits-history">
  <div class="card card-rounded-3 shadow-sm border-gray-300">
    <div class="card-body">
      <h6 class="fw-bold">تاریخچه تراکنش ها</h6>
      <ng-container *ngIf="true; then full"></ng-container>
      <ng-template #full>
        <keleman-wallet-transaction-history></keleman-wallet-transaction-history>
      </ng-template>
      <ng-template #empty>
        <keleman-empty-content></keleman-empty-content>
      </ng-template>
    </div>
  </div>
</div>
