<div class="d-flex flex-column container">
  <div class="d-flex align-items-center mb-3">
    <div class="keleman-logo px-3">
      <img
        alt="بازرگارنی آسانسور کلمان"
        loading="lazy"
        src="assets/media/logo/keleman-logo.png"
      />
    </div>
    <div class="gradient-border flex-grow-1"></div>
    <span class="social">
      <a
        class="symbol symbol-7"
        target="_blank"
        href="https://web.whatsapp.com/send?phone=+987138080000"
      >
        <img src="assets/media/social-icons/whatsapp.png" />
      </a>
      <a
        class="symbol symbol-7"
        target="_blank"
        href="https://www.aparat.com/kelemanasansor"
      >
        <img src="assets/media/social-icons/youtube.png" />
      </a>
      <a
        class="symbol symbol-7"
        target="_blank"
        href="https://www.instagram.com/keleman.official/"
      >
        <img src="assets/media/social-icons/instagram.png" />
      </a>
      <a
        class="symbol symbol-7"
        target="_blank"
        href="https://twitter.com/KelemanTrade?s=08"
      >
        <img src="assets/media/social-icons/twitter.png" />
      </a>
    </span>
  </div>
  <div class="row mx-0">
    <div class="col-12 col-lg-4">
      <p class="about">
        با چندین دهه تجربه در صنعت آسانسور و پله برقی، به عنوان تخصصی ترین
        فروشگاه آنلاين قطعات آسانسور به شما کمک می کنیم تا قطعات مورد نظرخود را
        آگاهانه و به راحتی سفارش دهید و در کوتاه ترین زمان ممکن تحویل بگیرید. در
        تمام مراحل خرید با خدمات قبل ، حين و پس از فروش در کنار شما هستیم.
      </p>
    </div>
    <ul class="menu col-6 col-lg-2">
      <header>دسترسی سریع</header>
      <li>
        <mat-icon>forum</mat-icon>
        <a>پرسش های متداول</a>
      </li>
      <li>
        <mat-icon>gavel</mat-icon>
        <a>قوانین و مقررات</a>
      </li>
      <li>
        <mat-icon> perm_phone_msg </mat-icon>
        <a>تماس با ما</a>
      </li>
    </ul>
    <ul class="menu col-6 col-lg-2">
      <header>راهنمای خرید</header>
      <li>
        <mat-icon>info</mat-icon>
        <a>شیوه های پرداخت</a>
      </li>
      <li>
        <mat-icon>groups</mat-icon>
        <a>راهنمای خرید</a>
      </li>
      <li>
        <mat-icon> credit_card </mat-icon>
        <a>رویه های بازگرداندن کالا</a>
      </li>
      <li>
        <mat-icon>local_mall</mat-icon>
        <a>سیاست حریم خصوصی</a>
      </li>
      <li>
        <mat-icon>assignment_returned</mat-icon>
        <a>مقالات کلمان</a>
      </li>
    </ul>
    <ul class="menu col-6 col-lg-3">
      <li>
        <mat-icon>local_mall</mat-icon>
        <a>سیاست حریم خصوصی</a>
      </li>
      <li>
        <mat-icon>assignment_returned</mat-icon>
        <a>مقالات کلمان</a>
      </li>
    </ul>
  </div>
  <div class="d-flex align-items-center mb-3">
    <h6 class="text-gray-500 px-3">تمامی حقوق این وبسایت محفوظ است</h6>

    <div class="after-border flex-grow-1"></div>
  </div>
</div>
