<div class="d-flex flex-column container">
  <div class="d-flex align-items-center mb-3">
    <div class="keleman-logo px-1">
      <img
        class="position-relative"
        alt="بازرگارنی آسانسور کلمان"
        ngSrc="assets/media/logo/keleman-logo.webp"
        width="980"
        height="387"
        priority
      />
    </div>
    <div class="gradient-border flex-grow-1"></div>
    <span class="social">
      <a
        target="_blank"
        aria-label="whatsapp"
        rel="noopener noreferrer"
        href="https://web.whatsapp.com/send?phone=+987138080000"
      >
        <i class="fab fa-square-whatsapp fa-2x"></i>
      </a>
      <a
        target="_blank"
        aria-label="aparat"
        rel="noopener noreferrer"
        href="https://www.aparat.com/kelemanasansor"
      >
        <i class="fab fa-square-youtube fa-2x"></i>
      </a>
      <a
        target="_blank"
        aria-label="instagram"
        rel="noopener noreferrer"
        href="https://www.instagram.com/keleman.official/"
      >
        <i class="fab fa-square-instagram fa-2x"></i>
      </a>
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://twitter.com/KelemanTrade?s=08"
        aria-label="twitter"
      >
        <i class="fab fa-square-x-twitter fa-2x"></i>
      </a>
    </span>
  </div>
  @if (footerData){
  <div class="row mx-0 gy-3">
    <div class="col-12 col-lg-4">
      <p class="about lh-lg" [innerHTML]="footerData.aboutUsSummary!"></p>
    </div>
    <ul
      class="footer-menu col-6"
      *ngFor="let col of footerData.links; let colIndex = index"
      [ngClass]="colIndex === 2 ? 'col-lg-3' : 'col-lg-2'"
    >
      <li class="head fw-bold mb-3">
        <span class="px-1">{{ col.title }} </span>
      </li>
      <li *ngFor="let item of col.links; let i = index" class="mb-2">
        <mat-icon>{{
          colIndex === 0 ? iconNamesCol1[i] : iconNamesCol2[i]
        }}</mat-icon>
        <a [href]="item.url">{{ item.title }}</a>
      </li>
    </ul>
  </div>
  }

  <div class="d-flex align-items-center mb-3">
    <h6 class="text-gray-700 px-3">تمامی حقوق این وبسایت محفوظ است</h6>
    <div class="after-border flex-grow-1"></div>
  </div>
</div>
