@import "base/variables/colors";
.keleman-logo img {
  height: 3.1rem;
}
.menu {
  list-style: none;
  li {
    padding: 1rem;
    display: flex;
    align-items: center;
    color: map-get($theme-colors, "gray-700");
    mat-icon {
      margin: 0 1rem;
    }
    h6 {
      margin: 0 !important;
    }
  }
}
.after-border {
  border-bottom: 2px solid map-get($theme-colors, "gray-500");
}
