<div class="d-flex flex-column container">
  <div class="d-flex align-items-center mb-3">
    <div class="keleman-logo px-1">
      <img
        class="position-relative"
        alt="بازرگارنی آسانسور کلمان"
        ngSrc="assets/media/logo/keleman-logo.webp"
        width="980"
        height="387"
        priority
      />
    </div>
    <div class="gradient-border flex-grow-1"></div>
    <span class="social">
      <a
        target="_blank"
        aria-label="whatsapp"
        rel="noopener noreferrer"
        href="https://web.whatsapp.com/send?phone=+987138080000"
      >
        <fa-icon [icon]="['fab', 'square-whatsapp']" [size]="'2x'"></fa-icon>
      </a>
      <a
        target="_blank"
        aria-label="aparat"
        rel="noopener noreferrer"
        href="https://www.aparat.com/kelemanasansor"
      >
        <fa-icon [icon]="['fab', 'square-youtube']" [size]="'2x'"></fa-icon>
      </a>
      <a
        target="_blank"
        aria-label="instagram"
        rel="noopener noreferrer"
        href="https://www.instagram.com/keleman.official/"
      >
        <fa-icon [icon]="['fab', 'square-instagram']" [size]="'2x'"></fa-icon>
      </a>
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://twitter.com/KelemanTrade?s=08"
        aria-label="twitter"
      >
        <fa-icon [icon]="['fab', 'square-twitter']" [size]="'2x'"></fa-icon>
      </a>
    </span>
  </div>
  <ng-template [ngIf]="footerData">
    <div class="row mx-0 gy-3">
      <div class="col-12 col-lg-4">
        <p class="about lh-lg" [innerHTML]="footerData.aboutUsSummary!"></p>
      </div>
      <ul
        class="footer-menu col-6"
        *ngFor="let col of footerData.links; let colIndex = index"
        [ngClass]="colIndex === 2 ? 'col-lg-3' : 'col-lg-2'"
      >
        <li class="head fw-bold mb-3">
          <span class="px-1">{{ col.title }} </span>
        </li>
        <li *ngFor="let item of col.links; let i = index" class="mb-2">
          <mat-icon>{{
            colIndex === 0 ? iconNamesCol1[i] : iconNamesCol2[i]
          }}</mat-icon>
          <a [href]="item.url">{{ item.title }}</a>
        </li>
      </ul>
    </div>
  </ng-template>

  <div class="d-flex align-items-center mb-3">
    <h6 class="text-gray-700 px-3">تمامی حقوق این وبسایت محفوظ است</h6>
    <div class="after-border flex-grow-1"></div>
  </div>
</div>
