@import "base/variables/colors";
.mat-expansion-panel {
  box-shadow: none !important;
}

.isSelected:after {
  position: absolute;
  left: -50%;
  top: 50%;
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 100px;
  transform: translateY(-50%);
  background-color: #00e7df;
}

mat-chip {
  background-color: $klm-secondary !important;

  mat-icon {
    margin-left: 0.25rem !important;
  }
}
