@import "base/variables/colors";
@import "components/swiper";

@include swiper-button("amazing-offer");

.related-products-title {
  border-bottom: 2px solid black;
}

.amazing-offer-container {
  height: 350px !important;
  background-color: map-get($theme-colors, "secondary");
}

.keleman-amazing-offer-box {
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.amazing-offer-text {
  width: 127px;
  height: 146px;
}
