<div class="card amazing-offer-container">
  <div class="card-body">
    <div class="row mx-0">
      <div class="col-6 col-sm-3 col-lg-2">
        <div class="h-100 d-flex flex-column align-items-center">
          <img
            src="assets/media/amazing-offer/slider/text/img_lg.png"
            appImage
            [srcSet]="srcSetText"
          />
          <img
            src="assets/media/amazing-offer/slider/image/img_lg.png"
            appImage
            [srcSet]="srcSetBox"
          />
        </div>
      </div>
      <div class="col-6 col-sm-9 col-lg-10">
        <div class="position-relative h-100">
          <swiper
            [grabCursor]="true"
            [navigation]="{
              prevEl: '.amazing-offer-swiper-button-next',
              nextEl: '.amazing-offer-swiper-button-prev'
            }"
            [slidesPerView]="'auto'"
            [spaceBetween]="5"
            class="h-100"
          >
            <ng-template swiperSlide>
              <app-amazing-offer-item></app-amazing-offer-item>
            </ng-template>
            <ng-template swiperSlide>
              <app-amazing-offer-item></app-amazing-offer-item>
            </ng-template>
            <ng-template swiperSlide>
              <app-amazing-offer-item></app-amazing-offer-item>
            </ng-template>
            <ng-template swiperSlide>
              <app-amazing-offer-item></app-amazing-offer-item>
            </ng-template>
            <ng-template swiperSlide>
              <app-amazing-offer-item></app-amazing-offer-item>
            </ng-template>
            <ng-template swiperSlide>
              <app-amazing-offer-item></app-amazing-offer-item>
            </ng-template>
            <ng-template swiperSlide>
              <app-amazing-offer-item></app-amazing-offer-item>
            </ng-template>
          </swiper>
          <div class="amazing-offer-swiper-button-prev">
            <span
              class="svg-icon svg-icon-5x svg-icon-primary"
              [inlineSVG]="'assets/media/icons/duotune/arrows/arr074.svg'"
            ></span>
          </div>
          <div class="amazing-offer-swiper-button-next">
            <span
              class="svg-icon svg-icon-5x svg-icon-primary"
              [inlineSVG]="'assets/media/icons/duotune/arrows/arr071.svg'"
            ></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
