@import "base/variables/spacers";
picture {
  display: block;
  position: relative;
  padding-top: 40%;
  img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}

.banners {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: $klm-spacer;
}
