<div class="d-block px-5">
  <div
    class="d-flex align-items-center justify-content-between top-part w-100 mb-3"
  >
    <span
      class="material-icons-outlined cursor-pointer"
      (click)="openOffCanvas(content)"
    >
      menu
    </span>
    <a class="flex-grow-1 text-center" routerLink="">
      <img
        alt="بازرگانی آساسنسور و پله برقی کلمان"
        class="keleman-logo"
        src="assets/media/logo/keleman-logo.webp"
        loading="lazy"
    /></a>

    <ng-container
      *ngIf="
        isLoggedIn && userService.userSimpleInfo;
        then userInfo;
        else register
      "
    ></ng-container>

    <ng-template #register>
      <a routerLink="/register">
        <span class="d-flex align-items-center text-klm-primary">
          <mat-icon class="mx-1">login</mat-icon>
          ورود
        </span>
      </a>
    </ng-template>

    <ng-template #userInfo>
      <div ngbDropdown class="d-inline-block" [autoClose]="'outside'">
        <div class="symbol symbol-13 cursor-pointer" ngbDropdownToggle>
          <img src="assets/media/blank.webp" />
        </div>

        <div
          ngbDropdownMenu
          aria-labelledby="dropdownBasic1"
          class="rounded-3 shadow-lg border-0"
        >
          <keleman-user-dropdown-menu
            [userInfo]="userService.userSimpleInfo"
          ></keleman-user-dropdown-menu>
        </div>
      </div>
    </ng-template>
  </div>
  <keleman-search-bar class="flex-grow-1 w-100"></keleman-search-bar>
  <div class="py-3">
    <keleman-product-categories
      [parentId]="null"
      (onItemClick)="navigateToPage($event)"
    ></keleman-product-categories>
  </div>
</div>

<ng-template #content let-offcanvas>
  <keleman-off-canvas-menu
    (close)="offcanvas.close('cross click')"
  ></keleman-off-canvas-menu>
</ng-template>
