<div class="d-block px-5">
  <div
    class="d-flex align-items-center justify-content-between top-part w-100 mb-3"
  >
    <span
      class="material-icons-outlined cursor-pointer"
      (click)="openOffCanvas(content)"
    >
      menu
    </span>
    <a class="flex-grow-1 text-center" routerLink="">
      <img
        alt="بازرگانی آساسنسور و پله برقی کلمان"
        class="keleman-logo"
        src="assets/media/logo/keleman-logo.webp"
        loading="lazy"
    /></a>

    @if (isLoggedIn && userProfileInfo;){
    <div ngbDropdown class="d-inline-block" [autoClose]="'outside'">
      <div
        class="symbol symbol-10 symbol-circle cursor-pointer"
        ngbDropdownToggle
      >
        <img
          loadingLazy
          emptyImage
          [src]="userProfileInfo.avatar!"
          [isAvatar]="true"
        />
      </div>

      <div
        ngbDropdownMenu
        aria-labelledby="dropdownBasic1"
        class="rounded-3 shadow-lg border-0"
      >
        <keleman-user-dropdown-menu
          [userInfo]="userProfileInfo"
          [userCredit]="userCreditInfo"
        ></keleman-user-dropdown-menu>
      </div>
    </div>
    } @else {
    <a routerLink="/register">
      <span class="d-flex align-items-center text-klm-primary">
        <mat-icon class="mx-1">login</mat-icon>
        ورود
      </span>
    </a>
    }

    <a
      class="d-flex position-relative flex-column align-items-center basket cursor-pointer"
      [routerLink]="['checkout']"
    >
      <h3 class="basket-count text-warning">{{ basketCount }}</h3>
      <img
        alt="سبد خرید"
        src="assets/media/static-resources/basket-icon.svg"
        class="basket-icon"
      />
    </a>
  </div>
  <keleman-search-bar class="flex-grow-1 w-100"></keleman-search-bar>
  <div class="py-3">
    <keleman-product-categories
      [parentId]="null"
      (onItemClick)="navigateToPage($event)"
    ></keleman-product-categories>
  </div>
</div>

<ng-template #content let-offcanvas>
  <keleman-off-canvas-menu
    (close)="offcanvas.close('cross click')"
  ></keleman-off-canvas-menu>
</ng-template>
