<div class="card card-rounded-3 amazing-offer-container">
  <div class="card-body position-relative d-flex amazing-swiper">
    <div class="swiper-start d-flex flex-column justify-content-between">
      <h4 class="fs-1 swiper-start-text text-center text-klm-primary">
        پیشنهادات <br />شگفت انگیز <br />کِلِمان
      </h4>
      <div class="swiper-start-image">
        <img
          alt="پیشنهادات شگفت انگیز کلمان"
          src="../../../../../assets/media/amazing-offer.webp"
        />
      </div>
    </div>

    <div class="keleman-swiper">
      <keleman-swiper
        [spaceBetween]="0"
        [showMoreButton]="false"
        [showTitle]="false"
        [navigation]="true"
        [navigationButtonClassPrefix]="'amazing-offer'"
      >
        @if(isLoading | async){
        <appSwiperContent *ngFor="let _ of sahredVariableService.counter(10)">
          <ng-template appSwiperTemplate>
            <ngx-skeleton-loader
              [theme]="{ height: '18.75rem', width: '12.5rem' }"
            ></ngx-skeleton-loader>
          </ng-template>
        </appSwiperContent>
        } @else { @for (slide of slides;track slide.id){
        <appSwiperContent>
          <ng-template appSwiperTemplate>
            <keleman-background-swiper-item
              class="cursor-pointer"
              [routerLink]="['/products/detail/' + slide.customUrl]"
              [product]="slide"
            ></keleman-background-swiper-item>
          </ng-template>
        </appSwiperContent>
        } }
      </keleman-swiper>
    </div>
  </div>
</div>
