@import "base/variables/colors";
.card-title {
  background-color: $gray-300;
  padding: 1rem;
  text-align: center;
  border-radius: 0.5rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  border: 0;
  outline: none;
}
