<div class="purchase card border-0 card-rounded-3 shadow sticky-top">
  <div class="card-body text-center d-flex flex-column">
    <div class="flex-grow-1">
      <span class="d-flex justify-content-between kfs-3 pb-3">
        <h6 class="fw-bold">مجموع قیمت کالا ها</h6>
        <h6>{{ 3500000 | number : ".0" }} تومان</h6>
      </span>
      <span class="d-flex justify-content-between kfs-3 pb-3">
        <h6 class="fw-bold">مبلغ پرداختی</h6>
        <h6>{{ 3500000 | number : ".0" }} تومان</h6>
      </span>
      <span class="d-flex justify-content-between kfs-3 pb-3 text-success">
        <h6 class="fw-bold">سود شما ازین خرید</h6>
        <h6>{{ 3500000 | number : ".0" }} تومان</h6>
      </span>
    </div>

    <button
      class="btn btn-warning submit-button align-self-center"
      (click)="checkoutService.nextStep()"
    >
      ادامه خرید
    </button>
  </div>
</div>
