<div class="border-bottom mb-3">
  <div class="mb-3 d-flex align-items-center">
    <div class="symbol symbol-md-20" appSymbol>
      <img src="src/assets/media/blank.webp" />
    </div>
    <span class="d-inline-flex flex-column flex-grow-1 align-items-start mx-4">
      <h5>سجاد منشی</h5>
      <a routerLink="personal-info" routerLinkActive="active" class="text-muted"
        >تکمیل اطلاعات کاربری</a
      >
    </span>
    <mat-icon class="material-icons-outlined text-muted"
      >drive_file_rename_outline</mat-icon
    >
  </div>
  <ul class="user-wallet-menu p-0">
    <li
      class="d-flex align-items-center justify-content-between mb-3 menu-item cursor-pointer"
      [routerLink]="'wallet/increase'"
      routerLinkActive="active"
    >
      <span class="d-flex align-items-center">
        <mat-icon class="mx-1"> account_balance_wallet </mat-icon>

        <span>کیف پول</span>
      </span>
      <span class="flex-grow-1 text-start mx-3"
        >{{ 450000000 | number : ".0" }} تومان</span
      >
      <mat-icon> more_vert</mat-icon>
    </li>
    <li
      class="d-flex align-items-center justify-content-between mb-3 menu-item"
      [routerLink]="'wallet/decrease'"
      routerLinkActive="active"
    >
      <span class="d-flex align-items-center">
        <mat-icon class="mx-1"> credit_card </mat-icon>
        <span>اعتبار</span>
      </span>

      <span class="flex-grow-1 text-start mx-3"
        >{{ 450000000 | number : ".0" }} تومان</span
      >
      <mat-icon> more_vert</mat-icon>
    </li>
  </ul>
</div>
<ul class="profile-menu me-lg-3">
  <li class="menu-item" [routerLink]="'orders'" routerLinkActive="active">
    <a class="menu-link">
      <mat-icon class="mx-2">shopping_basket</mat-icon>
      سفارش ها
    </a>
    <mat-icon> chevron_left</mat-icon>
  </li>
  <li class="menu-item" [routerLink]="'favorites'" routerLinkActive="active">
    <a class="menu-link">
      <mat-icon class="mx-2">favorite</mat-icon>
      علاقه مندی ها
    </a>
    <mat-icon> chevron_left</mat-icon>
  </li>
  <li
    class="menu-item"
    [routerLink]="'returned-requests'"
    routerLinkActive="active"
  >
    <a class="menu-link">
      <mat-icon class="mx-2">assignment_return</mat-icon>
      درخواست مرجوعی
    </a>
    <mat-icon> chevron_left</mat-icon>
  </li>
  <li class="menu-item" [routerLink]="'address'" routerLinkActive="active">
    <a class="menu-link">
      <mat-icon class="mx-2">place</mat-icon>
      آدرس ها
    </a>
    <mat-icon> chevron_left</mat-icon>
  </li>

  <li class="menu-item" [routerLink]="'comments'" routerLinkActive="active">
    <a class="menu-link">
      <mat-icon class="mx-2">chat</mat-icon>
      دیدگاه ها
    </a>
    <mat-icon> chevron_left</mat-icon>
  </li>
  <li class="menu-item" [routerLink]="'my-box'" routerLinkActive="active">
    <a class="menu-link">
      <mat-icon class="mx-2">inventory_2</mat-icon>
      باکس های من
    </a>
    <mat-icon> chevron_left</mat-icon>
  </li>
  <li class="menu-item">
    <a class="menu-link text-danger">
      <mat-icon class="mx-2">power_settings_new</mat-icon>
      خروج
    </a>
  </li>
</ul>
