@import "base/variables/spacers";

img {
  border-radius: inherit;
}
@media (min-width: 769px) {
  #types-of-sales > div > [class*="col-"] {
    &:last-child {
      padding-left: 0;
    }

    &:first-child {
      padding-right: 0;
    }
  }
}

.category-keleman {
  position: sticky;
  top: 9.2rem;
  z-index: 30000;
}
