@import "base/variables/spacers";

section {
  margin-bottom: map-get($k-spacers, 8);
}

img {
  border-radius: inherit;
}
@media (min-width: 769px) {
  #types-of-sales > div > [class*="col-"] {
    &:last-child {
      padding-left: 0;
    }

    &:first-child {
      padding-right: 0;
    }
  }
}
picture {
  display: block;
  position: relative;
  padding-top: 56.25%;
}

img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
