<!--main-slider-->
<section id="top-slider">
  <keleman-top-slider></keleman-top-slider>
</section>
<!--main-slider-->

<div class="main-content container">
  <section id="product-category" class="d-none d-lg-block">
    <keleman-product-category></keleman-product-category>
  </section>

  <section id="amazing-offer">
    <app-amazing-offer-swiper></app-amazing-offer-swiper>
  </section>
  <section id="advertisement-banner">
    <keleman-advertising-banners></keleman-advertising-banners>
  </section>
  <section id="keleman-packages">
    <keleman-package-swiper></keleman-package-swiper>
  </section>

  <section id="banner">
    <div class="text-center mb-3">
      <img src="assets/media/static-resources/banner.png" class="w-100" />
    </div>
  </section>

  <section id="keleman-magazine">
    <keleman-magazine></keleman-magazine>
  </section>
  <section id="keleman-partners">
    <keleman-partner-brands></keleman-partner-brands>
  </section>
</div>
