<section id="top-slider">
  <app-top-slider></app-top-slider>
</section>
<section id="product-category">
  <keleman-product-category></keleman-product-category>
</section>

<section id="amazing-offer">
  <app-amazing-offer-swiper></app-amazing-offer-swiper>
</section>

<section id="type-of-motors">
  <keleman-types-of-motor></keleman-types-of-motor>
</section>

<section>
  <app-elevator-packages-swiper></app-elevator-packages-swiper>
</section>

<section>
  <section id="types-of-sales">
    <div class="row mx-0">
      <div class="col-6 col-lg-3 mb-3">
        <div class="card h-100">
          <img
            src="assets/media/temp/9a6d4a6c-43ac-481f-87ee-ce8f00a3b634.jpg"
            class="h-100"
          />
        </div>
      </div>
      <div class="col-6 col-lg-3 mb-3">
        <div class="card h-100">
          <img
            class="h-100"
            src="assets/media/temp/ddc55288-999a-40b6-bde1-77518c0eaa3f.jpg"
          />
        </div>
      </div>
      <div class="col-6 col-lg-3 mb-3">
        <div class="card h-100">
          <img
            class="h-100"
            src="assets/media/temp/9a6d4a6c-43ac-481f-87ee-ce8f00a3b634.jpg"
          />
        </div>
      </div>
      <div class="col-6 col-lg-3 mb-3">
        <div class="card h-100">
          <img
            class="h-100"
            src="assets/media/temp/ddc55288-999a-40b6-bde1-77518c0eaa3f.jpg"
          />
        </div>
      </div>
    </div>
  </section>
</section>
