<section id="top-slider">
  <keleman-top-slider></keleman-top-slider>
</section>
<div class="main-content container">
  <section id="product-category">
    <keleman-product-category></keleman-product-category>
  </section>

  <section id="amazing-offer">
    <app-amazing-offer-swiper></app-amazing-offer-swiper>
  </section>
  <section id="advertisement-banner">
    <div class="container text-center w-50">
      <picture>
        <img src="assets/media/package/p1.jpg" />
      </picture>
    </div>
  </section>

  <keleman-package-swiper></keleman-package-swiper>

  <!--  <section id="keleman-magazine">-->
  <!--    <keleman-magazine></keleman-magazine>-->
  <!--  </section>-->
  <section id="keleman-partners">
    <keleman-partner-brands></keleman-partner-brands>
  </section>
</div>
