<div class="card card-rounded-1">
  <div class="card-body p-0">
    <ul class="side-bar-menu">
      <li class="menu-item default">
        <span>حساب کاربری شما</span>
      </li>
      <li
        class="menu-item"
        [routerLink]="'/profile'"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="menu-link">
          <span class="material-icons-outlined"> person </span>
          پروفایل
        </a>
      </li>
      <li class="menu-item" [routerLink]="'orders'" routerLinkActive="active">
        <a class="menu-link">
          <span class="material-icons-outlined"> list_alt </span>
          همه سفارش ها
        </a>
      </li>
      <li class="menu-item">
        <a class="menu-link">
          <span class="material-icons-outlined"> sticky_note_2 </span>
          پیام ها
        </a>
      </li>
      <li
        class="menu-item"
        [routerLink]="'favorites'"
        routerLinkActive="active"
      >
        <a class="menu-link">
          <span class="material-icons-outlined"> favorite </span>
          علاقه مندی ها
        </a>
      </li>
      <li
        class="menu-item"
        [routerLink]="'returned-requests'"
        routerLinkActive="active"
      >
        <a class="menu-link">
          <span class="material-icons-outlined"> settings_backup_restore </span>
          درخواست مرجوعی
        </a>
      </li>
      <li class="menu-item" [routerLink]="'address'" routerLinkActive="active">
        <a class="menu-link">
          <span class="material-icons-outlined"> location_on </span>
          آدرس ها
        </a>
      </li>
      <li class="menu-item">
        <a class="menu-link">
          <span class="material-icons-outlined"> percent </span>
          تخفیف ها
        </a>
      </li>
      <li class="menu-item">
        <a class="menu-link">
          <span class="material-icons-outlined"> inventory_2 </span>
          باکس های من
        </a>
      </li>
      <li class="menu-item">
        <a class="menu-link">
          <span class="material-icons-outlined"> receipt_long </span>
          اعتبارات
        </a>
      </li>
    </ul>
  </div>
</div>
