<div class="form-group">
  <label class="text-warning fw-bold" for="product-filters">فیلتر ها:</label>
  <div class="card card-rounded-3 border-gray-300" id="product-filters">
    <div class="card-body">
      <ul class="filter-list">
        <li>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> دسته بندی </mat-panel-title>
            </mat-expansion-panel-header>
          </mat-expansion-panel>
        </li>
        <li>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> برند </mat-panel-title>
            </mat-expansion-panel-header>
          </mat-expansion-panel>
        </li>
        <li>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> فروشنده </mat-panel-title>
            </mat-expansion-panel-header>
          </mat-expansion-panel>
        </li>
        <li>
          <span
            class="d-flex align-items-center justify-content-between available"
          >
            کالاهای موجود
            <mat-slide-toggle></mat-slide-toggle>
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>
