<div class="card mb-3 card-rounded-1">
  <div class="card-body d-flex flex-column">
    <div class="d-flex align-items-center mb-3">
      <div class="symbol symbol-75px symbol-circle">
        <img src="../../../../../../assets/media/temp/2.jpg" />
      </div>
      <h5 class="mx-4">سجاد منشی</h5>
    </div>
    <div class="user-functions">
      <span class="user-function-item">
        <mat-icon fontIcon="lock_open"></mat-icon>
        <span>تغییر رمز</span>
      </span>
      <span class="user-function-item">
        <mat-icon fontIcon="drafts"></mat-icon>
        <span>پیام ها</span>
      </span>
      <span class="user-function-item">
        <span class="material-icons-outlined"> power_settings_new </span>
        <span>خروج از حساب</span>
      </span>
    </div>
  </div>
</div>
