@if(levelTwoBreadCrumb){

<nav class="alert alert-warning text-muted mb-3">
  <a routerLink="/">خانه</a>
  @if(levelTwoBreadCrumb.route){ /
  <a [routerLink]="[levelTwoBreadCrumb.route]" [queryParams]="{ p: 0 }">
    {{ levelTwoBreadCrumb.title }}
  </a>
  } @for (breadcrumb of breadCrumbItems;track breadcrumb.title; let last=$last){
  / @if(last){
  <span class="text-klm-primary">{{ breadcrumb.title }}</span>
  } @else {
  <a [routerLink]="[levelTwoBreadCrumb.route + '/' + breadcrumb.url]">{{
    breadcrumb.title
  }}</a>
  } }
</nav>
}
