<nav class="alert alert-warning text-muted mb-3" *ngIf="levelTwoBreadCrumb">
  <a routerLink="/">خانه</a>/
  <a [routerLink]="levelTwoBreadCrumb.route" [queryParams]="{ p: 0 }"
    >{{ levelTwoBreadCrumb.title }}
    {{ breadCrumbItems.length > 0 ? "/" : "" }}</a
  >
  <ng-container *ngFor="let breadcrumb of breadCrumbItems; let last = last">
    <ng-container *ngIf="!last">
      <a [routerLink]="[levelTwoBreadCrumb.route + '/' + breadcrumb.url]">{{
        breadcrumb.title
      }}</a
      >/
    </ng-container>
    <ng-container *ngIf="last">
      <span class="text-klm-primary">
        {{ breadcrumb.title }}
      </span>
    </ng-container>
  </ng-container>
</nav>
