<div class="row klm-basket container">
  <div class="col-12 col-lg-8">
    <h5 class="fw-bolder pb-3">سبد خرید</h5>
    <div class="card card-rounded-1 border-0">
      <div class="card-body">
        <div class="basket-body d-flex flex-column align-items-center">
          <ng-container *ngIf="true; then empty; else full"> </ng-container>
          <ng-template #empty>
            <ng-container>
              <img
                class="empty-basket-img"
                src="assets/media/basket/empty.png"
              />
              <h6>سبد خرید شما خالی است!</h6>
              <a class="fw-bold text-klm-primary" [routerLink]="'/'"
                ><u>بازگشت به فروشگاه</u></a
              >
            </ng-container>
          </ng-template>
          <ng-template #full>
            <app-basket-item></app-basket-item>
            <app-basket-item></app-basket-item>
            <app-basket-item></app-basket-item>
            <app-basket-item></app-basket-item>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-4">
    <keleman-purchase></keleman-purchase>
  </div>
</div>
