<div class="card border-0 card-rounded-3 shadow mb-3 box-shadow-none">
  <div class="card-body">
    <span class="fs-6 mb-3">
      {{ "2500000" | number : ".0" }}
      تومان مانده تا ارسال
      <a class="cursor-pointer text-success">رایگان</a>
    </span>
    <div class="progress">
      <div
        class="progress-bar bg-success"
        role="progressbar"
        style="width: 25%"
        aria-valuenow="25"
        aria-valuemin="0"
        aria-valuemax="100"
      ></div>
    </div>
  </div>
</div>
