<div class="d-flex flex-column">
  <div class="d-flex align-items-center mb-3">
    <h4 class="fw-bold text-klm-primary px-3">همکاران کلمان</h4>
    <div class="gradient-border flex-grow-1"></div>
  </div>

  <div class="partner-brand-swiper">
    <swiper
      [spaceBetween]="30"
      [slidesPerView]="'auto'"
      [autoplay]="{ delay: 2500 }"
      [loop]="true"
      [centeredSlides]="true"
    >
      @if (isLoading){ @for (_ of sharedVariableService.counter(10);track _){
      <ng-template swiperSlide>
        <ngx-skeleton-loader
          [theme]="{ width: '100px', height: '100px' }"
          [appearance]="'circle'"
        ></ngx-skeleton-loader>
      </ng-template>
      } } @else { @for (slide of slides;track slide){
      <ng-template swiperSlide>
        <div class="brand-logo">
          <img [src]="slide" alt="کلمان" />
        </div>
      </ng-template>
      } }
    </swiper>
  </div>
</div>
