<div class="d-flex flex-column">
  <div class="d-flex align-items-center mb-3">
    <h4 class="fw-bold text-klm-primary px-3">همکاران کلمان</h4>
    <div class="gradient-border flex-grow-1"></div>
  </div>

  <div class="partner-brand-swiper">
    <swiper
      [spaceBetween]="30"
      [slidesPerView]="'auto'"
      [autoplay]="{ delay: 2500 }"
      [loop]="true"
      [centeredSlides]="true"
    >
      <ng-container
        *ngIf="isLoading; then loading; else content"
      ></ng-container>
      <ng-template #loading>
        <ng-template
          swiperSlide
          *ngFor="let _ of sharedVariableService.counter(10)"
        >
          <ngx-skeleton-loader
            [theme]="{ width: '100px', height: '100px' }"
            [appearance]="'circle'"
          ></ngx-skeleton-loader>
        </ng-template>
      </ng-template>
      <ng-template #content>
        <ng-template swiperSlide *ngFor="let slide of slides; let i = index">
          <div class="brand-logo">
            <img [src]="slide" alt="کلمان" />
          </div>
        </ng-template>
      </ng-template>
    </swiper>
  </div>
</div>
