<form [formGroup]="formData.form">
  <div class="card card-rounded-3 border mb-3 position-relative">
    @if(number>0){
    <button mat-mini-fab class="btn-danger remove" (click)="remove()">
      <mat-icon>clear</mat-icon>
    </button>
    }

    <div class="d-flex align-items-center">
      <span class="text-warning payment-number"> پرداخت {{ number + 1 }}</span>
      <div
        class="d-flex flex-column border-end border-gray-300 rounded mx-1 p-3 w-100"
      >
        <div class="receipt-form mb-1">
          <div class="form-group">
            <label for="bank-name">مبلغ</label>
            <input
              class="keleman-text-field"
              placeholder="مبلغ (تومان)"
              type="number"
              [formControl]="amount"
              [class.is-invalid]="amount.invalid && formData.isSubmitted"
            />
            @if(amount.invalid && formData.isSubmitted){
            <span class="invalid-feedback">لطفا مبلغ را وارد کنید</span>
            } @if(amount.value){
            <span class="d-block my-3"
              ><span class="text-klm-primary">معادل: </span
              >{{ amount.value | numberToPersian }}</span
            >
            }
          </div>
          <div class="form-group">
            <label for="bank-name">بانک مبدا</label>
            <input
              class="keleman-text-field"
              placeholder="ازبانک"
              [formControl]="from"
              [class.is-invalid]="from.invalid && formData.isSubmitted"
            />
            @if (from.invalid && formData.isSubmitted){
            <span class="invalid-feedback">لطفا بانک مبدا را وارد کنید</span>
            }
          </div>
          <div class="form-group">
            <label for="bank-name">شماره حساب مقصد</label>
            <input
              class="keleman-text-field"
              placeholder="شماره حساب مقصد"
              [formControl]="to"
              [class.is-invalid]="to.invalid && formData.isSubmitted"
            />

            @if (to.invalid && formData.isSubmitted){
            <span class="invalid-feedback"
              >لطفا شماره حساب مقصد را وارد کنید</span
            >
            }
          </div>
          <div class="form-group">
            <label for="bank-name">کد پیگیری</label>
            <input
              class="keleman-text-field"
              placeholder="کد پیگیری"
              inputmode="numeric"
              type="number"
              [formControl]="trackingCode"
              [class.is-invalid]="trackingCode.invalid && formData.isSubmitted"
            />
            @if (trackingCode.invalid && formData.isSubmitted){
            <span class="invalid-feedback">لطفا کد پیگیری را وارد کنید</span>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
