<form [formGroup]="formData.form">
  <div class="card card-rounded-3 border-1 mb-3 position-relative">
    <ng-template [ngIf]="number > 0">
      <button
        class="btn btn-icon btn-icon-sm btn-circle btn-danger remove"
        (click)="remove()"
      >
        <mat-icon>clear</mat-icon>
      </button>
    </ng-template>

    <div class="d-flex align-items-center">
      <span class="text-warning payment-number">{{ number + 1 }} پرداخت </span>
      <div
        class="d-flex flex-column border-end border-gray-300 rounded mx-1 p-3"
      >
        <div class="receipt-form mb-3">
          <div class="form-group">
            <input
              class="keleman-text-field"
              placeholder="مبلغ (تومان)"
              type="number"
              [formControl]="amount"
              [class.is-invalid]="amount.invalid && formData.isSubmitted"
            />
            <ng-template [ngIf]="amount.invalid && formData.isSubmitted">
              <span class="invalid-feedback">لطفا مبلغ را وارد کنید</span>
            </ng-template>
          </div>
          <div class="form-group">
            <input
              class="keleman-text-field"
              placeholder="ازبانک"
              [formControl]="from"
              [class.is-invalid]="from.invalid && formData.isSubmitted"
            />
            <ng-template [ngIf]="from.invalid && formData.isSubmitted">
              <span class="invalid-feedback">لطفا بانک مبدا را وارد کنید</span>
            </ng-template>
          </div>
          <div class="form-group">
            <mat-select
              id="type"
              class="keleman-text-field"
              placeholder="حساب مقصد"
              panelClass="test-select"
              [formControl]="to"
              [class.is-invalid]="to.invalid && formData.isSubmitted"
            >
              <mat-option>Option</mat-option>
            </mat-select>
            <ng-template [ngIf]="to.invalid && formData.isSubmitted">
              <span class="invalid-feedback">لطفا حساب مقصد را وارد کنید</span>
            </ng-template>
          </div>
          <div class="form-group">
            <input
              class="keleman-text-field"
              placeholder="کد پیگیری"
              [formControl]="trackingCode"
              [class.is-invalid]="trackingCode.invalid && formData.isSubmitted"
            />
            <ng-template [ngIf]="trackingCode.invalid && formData.isSubmitted">
              <span class="invalid-feedback">لطفا کد پیگیری را وارد کنید</span>
            </ng-template>
          </div>
        </div>
        <ng-template [ngIf]="amount.value">
          <span>{{ amount.value | numberToPersian }}</span>
        </ng-template>

        <div class="card card-rounded-3 border-0">
          <keleman-dropzone
            (onFileSelect)="selectedFiles($event)"
            [showSelectButton]="true"
            [valid]="false"
          >
            <p class="mb-0">
              برای بارگذاری فیش بانکی ، فایل را در اینجا رها کنید
            </p>
          </keleman-dropzone>
        </div>
      </div>
    </div>
  </div>
</form>
