<standalone-swiper
  [showTitle]="false"
  [showMoreButton]="false"
  [spaceBetween]="10"
  [navigation]="false"
  [shimmerHeight]="'100px'"
  [shimmerWidth]="'100px'"
  [isLoading]="isLoading"
>
  <appSwiperContent *ngFor="let slide of slides">
    <ng-template appSwiperTemplate>
      <div class="symbol symbol-100px">
        <img
          src="assets/media/temp/80e39485-22e5-42e9-ad6c-c11486818a75-thumb.jpg"
        />
      </div>
    </ng-template>
  </appSwiperContent>
</standalone-swiper>
