<div class="position-relative">
  <keleman-bottom-sheet>
    <span class="d-flex justify-content-between w-100">
      <span class="d-flex align-items-center flex-grow-1 text-success">
        <mat-icon class="material-icons-outlined mx-1"> check_circle </mat-icon>
        این کالا به سبد خرید اضافه شد!
      </span>
      <mat-icon
        class="material-symbols-outlined cursor-pointer"
        (click)="onClose()"
      >
        close
      </mat-icon>
    </span>

    <mat-divider class="my-3"></mat-divider>
    <div class="d-flex align-items-center">
      <div class="symbol symbol-35">
        <img loadingLazy emptyImage [src]="productDetails.image" />
      </div>
      <p>{{ productDetails.name }}</p>
    </div>
    <mat-divider class="my-3"></mat-divider>
    <a
      mat-raised-button
      class="btn w-100 go-to-basket-btn fw-bolder"
      color="primary"
      (click)="onClose()"
      [routerLink]="['/checkout']"
      >برو به سبد خرید</a
    >
  </keleman-bottom-sheet>
</div>
