@import "base/variables/colors";
:host {
  width: 100%;
}
.nav-link {
  color: black !important;
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}
.active {
  background-color: map-get($theme-colors, "klm-primary");
  color: white !important;
}
