<div
  class="keleman-dropzone px-5"
  [ngClass]="{ 'invalid-dr': !valid }"
  ngx-dropzone
  #drop
  [multiple]="multiple"
  [accept]="accept"
  [disableClick]="true"
  [disabled]="!multiple && acceptedFiles.length > 0"
  (change)="onFileSelect($event)"
>
  <div class="d-flex align-items-center justify-content-between w-100">
    <ng-content></ng-content>
    <ng-template [ngIf]="showSelectButton">
      <button class="btn btn-primary" (click)="drop.showFileSelector()">
        {{ selectButtonText }}
      </button>
    </ng-template>
  </div>
</div>
<div class="d-flex align-items-center">
  <ngx-dropzone-image-preview
    [removable]="true"
    (removed)="removeFile($event)"
    class="justify-content-start"
    ngProjectAs="ngx-dropzone-preview"
    *ngFor="let f of acceptedFiles"
    [file]="f"
  >
  </ngx-dropzone-image-preview>
</div>
