<div class="card card-rounded-2 border mb-3">
  <div class="card-body d-flex flex-column">
    <span
      class="d-flex justify-content-between align-items-center mb-3 sticky-top bg-white"
    >
      <div
        class="symbol symbol-15 cursor-pointer"
        ngbTooltip="افزودن مرجوعی ها"
        container="body"
        (click)="addToReturnList()"
      >
        <div class="symbol-label fs-2 fw-semibold text-success border-gray-300">
          <mat-icon>add</mat-icon>
        </div>
      </div>
    </span>

    <div class="d-flex align-items-center flex-grow-1">
      <div class="symbol symbol-10 symbol-circle">
        <img loadingLazy emptyImage [src]="product.thumbnailImage" />
      </div>
      <h6 class="flex-grow-1">
        <span class="text-success">({{ product.amount }}) </span>
        {{ product.name }}
      </h6>
    </div>
    <mat-divider></mat-divider>
  </div>
</div>
