<div mat-dialog-content>
  <h3 class="text-center mb-3">پرسش ها ({{ data.length }})</h3>
  <div class="questions-list">
    <div *ngFor="let question of data">
      <div
        class="card card-rounded-3 border-gray-500 mb-3 bg-white question-item"
      >
        <div
          class="card-header bg-success-light d-flex justify-content-between p-3 border-bottom border-klm-primary"
        >
          <h6 class="fw-bolder commenter-name">{{ question.questioner! }}</h6>
          <h6>
            {{
              persianDateTime.fromGregorianString(
                question.date,
                "DD jMMMM YYYY"
              )
            }}
          </h6>
        </div>

        <div class="card-body">
          <p class="py-3">{{ question.question }}</p>
        </div>
      </div>
      <ng-template [ngIf]="question.answer">
        <div class="answer-section position-relative">
          <div
            class="card card-rounded-3 border-gray-500 mb-3 bg-white me-5 answer-card"
          >
            <div
              class="card-header d-flex justify-content-between p-3 border-bottom border-klm-primary"
            >
              <h6 class="fw-bolder commenter-name">پاسخ مدیر</h6>
              <h6>
                {{
                  persianDateTime.fromGregorianString(
                    question.answer.date,
                    "DD jMMMM YYYY"
                  )
                }}
              </h6>
            </div>
            <div class="card-body">
              <p class="py-3">{{ question.answer.text }}</p>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
