<div
  class="address-content p-3 d-flex justify-content-between align-items-start border-bottom border-gray-300 mx-3"
>
  <span class="d-flex flex-column w-50">
    <span class="d-flex align-items-center"> ثبت درخواست برداشت </span>
  </span>
  <span
    class="material-icons-outlined text-danger close cursor-pointer"
    (click)="close()"
  >
    close
  </span>
</div>

<div mat-dialog-content>
  <form [formGroup]="withdrawRequestForm" (ngSubmit)="submitForm()">
    <div class="form-group">
      <label for="amount">مبلغ مورد نظر را به تومان وارد کنید </label>
      <input
        id="amount"
        dir="ltr"
        type="text"
        placeholder=" مبلغ مورد نظر"
        class="keleman-text-field mb-3"
        [numberOnly]="20"
        required
        maxlength="20"
        [class.is-invalid]="amount.invalid && isFormSubmitted"
        formControlName="amount"
      />
      @if (amount.hasError('required') && isFormSubmitted){
      <span class="invalid-feedback"> لطفا مبلغ برداشت را وارد نمایید. </span>
      } @else if ( amount.hasError('min') && isFormSubmitted){
      <span class="invalid-feedback"> مبلغ برداشت باید بیشتر از 0 باشد </span>
      } @if (amount.value&&amount.value>0){
      <span class="d-flex">
        <label class="fw-bold">معادل: </label>

        <span>{{ amount.value | numberToPersian }}</span>
      </span>
      }
    </div>

    <div class="form-group">
      <label for="description"> توضیحات </label>
      <textarea
        id="description"
        type="text"
        placeholder="توضیحات خود را وارد نمایید"
        class="keleman-text-field"
        formControlName="description"
      ></textarea>
    </div>

    <div mat-dialog-actions class="justify-content-center">
      <button
        class="btn btn-warning text-white"
        type="submit"
        kelemanLoadingProgress
        [loading]="
          (loadingService.getLoadingStateObservable('add', 'withdrawRequest')
            | async)!
        "
      >
        ثبت درخواست
      </button>
    </div>
  </form>
</div>
