<h5 class="text-center mb-3" mat-dialog-title>دیدگاه خود را ثبت نمایید</h5>
<div mat-dialog-content>
  <form [formGroup]="commentForm" (ngSubmit)="submitForm()">
    <div class="form-group">
      <keleman-card [cardTitle]="'امتیاز'">
        <div class="card-body d-flex flex-column">
          <h5
            class="text-center"
            [ngClass]="{
              'text-danger': currentRate === 1,
              'text-warning': currentRate >= 2 && currentRate < 4,
              'text-success': currentRate >= 4
            }"
          >
            {{ ratesText[currentRate].title }}
          </h5>
          <div class="position-relative text-center">
            <ngb-rating [(rate)]="currentRate" [max]="5" class="custom-rating">
              <ng-template let-fill="fill" let-index="index">
                <mat-icon
                  inline
                  class="material-icons-outlined star"
                  [class.text-warning]="fill === 100"
                  >{{ fill === 100 ? "star" : "grade" }}</mat-icon
                >
              </ng-template>
            </ngb-rating>
          </div>
        </div>
      </keleman-card>
    </div>
    <keleman-card [cardTitle]="'دیدگاه'">
      <div class="form-group">
        <textarea
          class="form-control keleman-text-field"
          placeholder="متن دیدگاه"
          formControlName="comment"
          [class.is-invalid]="comment.invalid && isFormSubmitted"
          required
        ></textarea>
        <span
          *ngIf="comment.invalid && isFormSubmitted"
          class="invalid-feedback"
        >
          لطفا متن نظر را وارد نمایید.
        </span>
      </div>
    </keleman-card>
    <button
      class="btn btn-warning text-white float-start"
      kelemanLoadingProgress
      [loading]="isLoading"
      type="submit"
    >
      ارسال
    </button>
  </form>
</div>
