<keleman-product-content
  [isLoading]="isLoading"
  [productDetails]="productDetails"
></keleman-product-content>

<keleman-product-navbar></keleman-product-navbar>

<ng-container
  *ngIf="
    applicationState.isPhone || applicationState.isTablet;
    then mobile;
    else web
  "
></ng-container>
<ng-template #mobile>
  <div class="fixed-bottom mt-5">
    <div class="card shadow-lg bg-white">
      <div class="card-body row m-0">
        <ng-template [ngIf]="productDetails">
          <div class="col-6">
            <button
              class="actions__buttons text-klm-primary fs-5 fw-bolder w-100"
              [disabled]="productStatus !== availableStatusEnum.AVAILABLE"
            >
              افزودن به سبد خرید
            </button>
          </div>
          <div class="col-6 d-flex align-items-center justify-content-center">
            <ng-container
              *ngIf="
                productStatus === availableStatusEnum.UNAVAILABLE;
                then unavailable;
                else available
              "
            ></ng-container>
            <ng-template #unavailable>
              <h3>نا موجود</h3>
            </ng-template>
            <ng-template #available>
              <ng-template
                [ngIf]="productStatus === availableStatusEnum.AVAILABLE"
              >
                <keleman-price
                  [value]="productDetails.currentPrice"
                  [color]="'dark'"
                  [size]="'h3'"
                  [off]="false"
                  [discount]="25"
                ></keleman-price>
              </ng-template>
              <ng-template
                [ngIf]="productStatus === availableStatusEnum.NOPRICE"
              >
                <h3>تماس بگیرید</h3>
              </ng-template>
            </ng-template>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #web>
  <keleman-product-specifications></keleman-product-specifications>
  <div id="checking-and-rate">
    <div class="row mx-0 mb-3">
      <div class="col-6 pe-0" id="comment">
        <comments></comments>
      </div>
      <div class="col-6 ps-0">
        <keleman-faq></keleman-faq>
      </div>
    </div>
  </div>
</ng-template>
<keleman-related-products></keleman-related-products>
