@import "base/variables/spacers";
@import "base/variables/colors";
:host ::ng-deep ul {
  margin: 0;
  padding: 0;

  li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
  }
}

keleman-product-navbar {
  top: 10rem;
}

.actions__buttons {
  background-color: $klm-secondary;
  border: none;
  border-radius: 0.5rem;
  line-height: 3;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  transform: scale(1);

  &:hover:not(:disabled) {
    animation: pulse-orange 1s;
  }
  &:disabled {
    opacity: 0.5;
  }
}
