.remove {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  transform: translateY(-50%);
  height: 1.5rem;
  width: 1.5rem;
}
:host ::ng-deep {
  @media (max-width: 768px) {
    .mat-mdc-dialog-content {
      max-height: 100vh !important;
    }
  }
}
