<h5 matDialogTitle class="dialog-title mb-3 text-center text-klm-primary">
  ثبت چک صیادی
</h5>

<div mat-dialog-content>
  @if(chequeList.length===0||showForm===true){
  <div class="cheque-form">
    <form [formGroup]="chequeForm">
      <div
        id="cheque-details"
        class="card card-rounded-3 border cheque-details mb-3"
      >
        <div class="card-body" formGroupName="chequeDetails">
          <label for="cheque-details" class="w-100 text-center"
            >اطلاعات چک</label
          >
          <div class="form-group">
            <label for="bank-name">نام بانک</label>
            <input
              id="bank-name"
              class="keleman-text-field"
              placeholder="نام بانک را وارد نمایید"
              formControlName="bankName"
              [class.is-invalid]="bankName.invalid && isFormSubmitted"
            />
            @if (bankName.invalid && isFormSubmitted){
            <span class="invalid-feedback">
              لطفا نام بانک را وارد نمایید.
            </span>
            }
          </div>
          <div class="form-group">
            <label for="cheque-num">شناسه چک</label>
            <input
              id="cheque-num"
              class="keleman-text-field"
              placeholder="شناسه چک را وارد نمایید"
              formControlName="chequeId"
              type="text"
              [class.is-invalid]="chequeId.invalid && isFormSubmitted"
            />

            @if (chequeId.hasError('required') && isFormSubmitted){
            <span class="invalid-feedback">
              لطفا شناسه چک را وارد نمایید.
            </span>

            } @if
            (!chequeId.hasError('required')&&(chequeId.hasError('minlength') ||
            chequeId.hasError('maxlength'))){
            <span class="invalid-feedback"> شناسه چک باید 16 رقمی باشد </span>
            }
          </div>
          <div class="form-group">
            <label for="date">تاریخ</label>
            <keleman-date-picker
              id="date"
              (onDatePickerClick)="selectDate($event)"
              [class.is-invalid]="date.invalid && isFormSubmitted"
            ></keleman-date-picker>
            @if (date.invalid && isFormSubmitted){
            <span class="invalid-feedback">
              لطفا تاریخ چک را انتخاب نمایید.
            </span>
            }
          </div>
          <div class="form-group">
            <label for="amount">مبلغ</label>
            <input
              id="amount"
              class="keleman-text-field"
              placeholder="مبلغ چک را وارد نمایید"
              formControlName="amount"
              type="number"
              [class.is-invalid]="amount.invalid && isFormSubmitted"
            />
            @if (amount.invalid && isFormSubmitted){
            <span class="invalid-feedback"> لطفا مبلغ چک را وارد نمایید </span>
            } @if(amount.value){

            <span class="d-flex my-3">
              <label class="fw-bold text-klm-primary">معادل: </label>

              <span>{{ amount.value | numberToPersian }}</span>
            </span>
            }
          </div>
        </div>
      </div>

      <div
        id="receiver-details"
        class="card card-rounded-3 border receiver-details mb-3"
      >
        <div class="card-body" formGroupName="receiverDetails">
          <label for="receiver-details" class="w-100 text-center">
            اطلاعات دریافت کننده
          </label>
          <div class="form-group">
            <label for="fullName">نام و نام خانوادگی</label>
            <input
              class="keleman-text-field"
              id="fullName"
              placeholder="نام و نام خانوادگی دریافت کننده را وارد نمایید"
              formControlName="fullName"
              [class.is-invalid]="fullName.invalid && isFormSubmitted"
            />
            @if (fullName.invalid && isFormSubmitted){
            <span class="invalid-feedback">
              لطفا نام دریافت کننده را وارد نمایید
            </span>
            }
          </div>
          <div class="form-group">
            <label for="national-code"> کدملی / شناسه ملی </label>
            <input
              class="keleman-text-field"
              id="national-code"
              placeholder="کد ملی یا شناسه ملی دریافت کننده را وارد نمایید"
              formControlName="nationalCode"
              [class.is-invalid]="nationalCode.invalid && isFormSubmitted"
            />
            @if(nationalCode.hasError('required')){
            <span class="invalid-feedback">کد ملی را وارد نمایید</span>
            } @if (!nationalCode.hasError('required')&&
            nationalCode.hasError('nationalCode') && isFormSubmitted){
            <span class="invalid-feedback">کد ملی وارد شده صحیح نمی باشد</span>
            }
          </div>
        </div>
      </div>
      <div class="card card-rounded-3 border-0">
        <div class="mb-3">
          <keleman-dropzone
            [showSelectButton]="true"
            [multiple]="false"
            [invalid]="isFormSubmitted && !frontImageUrl"
            [loading]="
              (loadingService.getLoadingStateObservable('add', 'uploadFront')
                | async)!
            "
            (onFileSelect)="uploadFile($event)"
            (onRemove)="removeFrontImage()"
          >
            <p>برای بارگذاری عکس روی چک ، فایل را در اینجا رها کنید</p>
          </keleman-dropzone>
          @if (!frontImageUrl&& isFormSubmitted){
          <span class="text-danger">لطفا عکس روی چک را بارگذاری کنید</span>
          }
        </div>

        <keleman-dropzone
          [showSelectButton]="true"
          [multiple]="false"
          [invalid]="isFormSubmitted && !backImageUrl"
          [loading]="
            (loadingService.getLoadingStateObservable('add', 'uploadBack')
              | async)!
          "
          (onFileSelect)="uploadFile($event, false)"
          (onRemove)="removeBackImage()"
        >
          <p>برای بارگذاری عکس پشت چک ، فایل را در اینجا رها کنید</p>
        </keleman-dropzone>
        @if (!backImageUrl&& isFormSubmitted){
        <span class="text-danger">لطفا عکس پشت چک را بارگذاری کنید</span>
        }
      </div>
    </form>
  </div>
  } @else {

  <div>
    @for(cheque of chequeList;track cheque.serial){

    <div class="card card-rounded-3 border mb-3">
      <div class="card-body row position-relative g-3">
        <button
          class="btn btn-icon btn-circle btn-danger remove"
          (click)="remove(cheque.serial)"
        >
          <mat-icon>clear</mat-icon>
        </button>

        <div class="col-6 fw-bold">نام بانک</div>
        <div class="col-6">{{ cheque.bankName }}</div>
        <div class="col-6 fw-bold">شناسه چک</div>
        <div class="col-6">{{ cheque.serial }}</div>
        <div class="col-6 fw-bold">مبلغ (تومان)</div>
        <div class="col-6">{{ cheque.amount | number : ".0" }}</div>
        <div class="col-6 fw-bold">تاریخ</div>
        <div class="col-6">
          {{
            persianDateTimeService.fromGregorianString(
              cheque.date,
              "DD/jMMMM/YYYY"
            )
          }}
        </div>

        <div class="col-6 fw-bold">نام و نام خانوادگی</div>
        <div class="col-6">{{ cheque.fullName }}</div>
        <div class="col-6 fw-bold">کد ملی</div>
        <div class="col-6">{{ cheque.nationalCode }}</div>
        <div class="col-6 fw-bold">عکس رو</div>
        <div class="col-6">
          <div class="symbol symbol-10">
            <img loadingLazy emptyImage [src]="cheque.frontImage" />
          </div>
        </div>
        <div class="col-6 fw-bold">عکس پشت</div>
        <div class="col-6">
          <div class="symbol symbol-10">
            <img loadingLazy emptyImage [src]="cheque.backImage" />
          </div>
        </div>
      </div>
    </div>
    }
  </div>
  }
  <a
    class="d-flex align-items-center text-klm-primary cursor-pointer my-3"
    (click)="chequeForm.reset(); showForm = true"
  >
    <mat-icon>add_circle</mat-icon>
    افزودن چک صیادی
  </a>
</div>
<div matDialogActions>
  <div class="w-100 text-center">
    <span
      class="text-center text-danger d-flex flex-column align-items-center my-3"
    >
      <span dir="rtl">
        مشتری گرامی قبل از افزودن چک با ویزیتور مربوطه و یا شماره 3808-071
        هماهنگ فرمایید.
      </span>
    </span>
    <div class="d-flex align-items-center justify-content-center">
      <button
        mat-raised-button
        class="bg-warning text-white mx-3"
        type="button"
        kelemanLoadingProgress
        [loading]="
          (loadingService.getLoadingStateObservable(
            'add',
            showForm ? 'cheque' : 'attachCheque'
          ) | async)!
        "
        (click)="showForm ? submitForm() : submitList()"
      >
        ذخیره
      </button>
      <button mat-raised-button (click)="close()">انصراف</button>
    </div>
  </div>
</div>
