@import "base/variables/colors";
.menu_overlay {
  display: none;
  position: fixed;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

body.menuOpened {
  overflow: hidden;
}
.cornerMenu {
  width: 5.2rem;
  height: 5.2rem;
  position: fixed;
  right: 25px;
  bottom: 25px;
  background: map-get($theme-colors, "klm-secondary");
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  text-align: center;
  line-height: 5.2rem;
  vertical-align: middle;
  color: map-get($theme-colors, "klm-primary");
  font-size: 22px;
  z-index: 1000;
  cursor: pointer;
  animation-duration: 5s;
  .contact-us {
    vertical-align: middle;
    font-size: 3rem;
  }
}
.menu {
  width: 40px;
  height: 40px;
  position: absolute;
  background: map-get($theme-colors, "klm-secondary");
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  color: #fff;
  font-size: 16px;
  top: 5px;
  right: 0;
  left: 0;
  margin: auto;
  transform: translate(0, 0);
  opacity: 0;
  z-index: 5;
  transition: all 0.4s ease-in-out;
}

::ng-deep {
  .menuOpened .menu_overlay {
    display: block;
  }
  .menuOpened .cornerMenu {
    scale: 1.1;
    transition: 0.5s;
  }
  .menuOpened .menu {
    opacity: 1;
    transition: all 0.4s ease-in-out;
    color: map-get($theme-colors, "klm-primary");
  }
  .menuOpened .menu1 {
    transform: translate(-105px, 20px);
    transition-delay: 0s;
  }
  .menuOpened .menu2 {
    transform: translate(-78px, -33px);
    transition-delay: 0.05s;
  }
  .menuOpened .menu3 {
    transform: translate(-38px, -76px);
    transition-delay: 0.1s;
  }
  .menuOpened .menu4 {
    transform: translate(18px, -99px);
    transition-delay: 0.15s;
  }
}
