<div class="menu_overlay" (click)="removeClass()"></div>

<div
  class="cornerMenu"
  [ngClass]="{ animate__heartBeat: !menuOpened }"
  (click)="toggleClass()"
>
  <mat-icon class="menu-icon contact-us" [inline]="true">
    @if(menuOpened){ close } @else { headset_mic }
  </mat-icon>

  <div class="menu menu1" ngbTooltip="درخواست تماس" container="body">
    <mat-icon class="menu-icon" [inline]="true">edit</mat-icon>
  </div>
  <div class="menu menu2" ngbTooltip="واتساپ" container="body">
    <i class="fa-brands fa-whatsapp fa-2xl"></i>
  </div>
  <div class="menu menu3" ngbTooltip="شماره پیامک" container="body">
    <mat-icon class="menu-icon" [inline]="true">sms</mat-icon>
  </div>
  <div class="menu menu4" ngbTooltip="شماره تماس" container="body">
    <mat-icon class="menu-icon" [inline]="true">phone_in_talk</mat-icon>
  </div>
</div>
