<div class="card card-rounded-1 amount-card">
  <div class="position-relative">
    <img
      class="texture-background"
      src="assets/media/amount-card/background-vector.png"
    />
  </div>

  <div class="card-body">
    <img
      class="logo mb-3"
      src="../../../../../../../assets/media/logo/keleman-logo-light.png"
    />
    <div class="card card-rounded-2 amount-card-value">
      <div class="card-body">
        <div class="row mx-0">
          <div class="col-9">
            <span>
              <h6 class="fw-light text-end">موجودی کل:</h6>
              <span class="d-flex align-items-center justify-content-end">
                <h3 class="fw-bolder">{{ 4500000 | number : ".0" }}</h3>
                <h6>تومان</h6>
              </span>
            </span>
          </div>
          <div class="col-3">
            <div class="symbol symbol-85px">
              <img
                style="mix-blend-mode: soft-light"
                src="assets/media/dollar-icon.png"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
