<div class="card card-rounded-4 shadow mb-3">
  <div class="card-body">
    <span class="d-flex align-items-center justify-content-between mb-3">
      <h6 class="fw-bold text-klm-primary">نظرات کاربران</h6>
      <button class="btn btn-lilac text-white" (click)="openDialog()">
        افزودن دیدگاه
      </button>
    </span>

    <div class="position-relative mb-3">
      <keleman-swiper
        [showTitle]="false"
        [showMoreButton]="false"
        [spaceBetween]="5"
        [navigation]="true"
        [isLoading]="isLoading"
        [navigationButtonClassPrefix]="'comment-'"
      >
        <appSwiperContent *ngFor="let slide of slides">
          <ng-template appSwiperTemplate>
            <app-comment-item [comment]="slide"></app-comment-item>
          </ng-template>
        </appSwiperContent>
      </keleman-swiper>
    </div>
  </div>
</div>
