<div class="card card-rounded-4 shadow mb-3">
  <div class="card-body">
    <h6 class="fw-bold text-klm-primary mb-3">نظرات کاربران</h6>
    <div class="position-relative mb-3">
      <standalone-swiper
        [showTitle]="false"
        [showMoreButton]="false"
        [spaceBetween]="5"
        [navigation]="true"
        [isLoading]="isLoading"
        [navigationButtonClassPrefix]="'comment-'"
      >
        <appSwiperContent *ngFor="let slide of slides">
          <ng-template appSwiperTemplate>
            <app-comment-item [comment]="slide"></app-comment-item>
          </ng-template>
        </appSwiperContent>
      </standalone-swiper>
    </div>
  </div>
</div>
