<div class="card card-rounded-3 border mb-3">
  <div class="card-body shipping">
    <div class="d-flex justify-content-between align-items-center">
      <span class="d-flex flex-column flex-grow-1">
        <ul class="address-info">
          <li>
            <span class="mb-3 address-text">
              {{ address.addressText }}
            </span>
          </li>
          <li class="text-muted">
            <mat-icon class="material-icons-outlined">place</mat-icon>
            {{ address.city.title }}
          </li>
          <li class="text-muted">
            <mat-icon class="material-icons-outlined">email</mat-icon>
            {{ address.postalCode }}
          </li>
          <li class="text-muted">
            <mat-icon class="material-icons-outlined">call</mat-icon>
            {{ address.receiverPhone }}
          </li>
          <li class="text-muted">
            <mat-icon
              class="material-icons-outlined"
              [class.text-success]="address.iamReceiver"
              >person</mat-icon
            >
            {{ address.receiverName }}
          </li>
        </ul>

        @if (editable){
        <a
          class="fw-bold align-self-end text-primary cursor-pointer"
          (click)="onEdit()"
          >ویرایش
        </a>
        } @else {
        <a
          class="fw-bold align-self-end text-primary cursor-pointer"
          (click)="openAddressDialog()"
          >تغییر یا ویرایش آدرس
        </a>
        }
      </span>
      @if(showMap){
      <keleman-map
        [readOnly]="true"
        [markerLatLng]="getMarkerLatLng(address.latitude, address.longitude)"
        [zoom]="50"
      ></keleman-map>
      }
    </div>
  </div>
</div>
