@if (isLoading){
<ngx-skeleton-loader
  appearance="circle"
  [theme]="{ height: '5rem', width: '5rem', direction: 'rtl' }"
></ngx-skeleton-loader>
<ngx-skeleton-loader></ngx-skeleton-loader>
} @else {
<div class="product-category-item d-flex flex-column align-items-center p-1">
  <div class="mb-3 symbol symbol-15 symbol-circle">
    <img
      loadingLazy
      emptyImage
      [alt]="category.titleFa"
      [src]="category.imageAddress"
    />
  </div>
  <a class="fs-6 fw-bold">{{ category.titleFa }}</a>
</div>
}
