.filters {
  a {
    text-decoration: underline !important;
  }
}
.print-button {
  min-width: 100px !important;
}
.description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
