<div class="form-group">
  <span class="fw-bold d-flex align-items-center justify-content-between">
    <p class="text-warning mb-3">فیلتر ها</p>
    <ng-template [ngIf]="productFilterService.canRemoveAll">
      <a class="cursor-pointer" (click)="productFilterService.removeAll()">
        حذف تمام فیلتر ها
      </a>
    </ng-template>
  </span>
  <ng-template [ngIf]="productFilterService.canRemoveAll">
    <div class="card card-rounded-3 border border-gray-300">
      <div class="card-body">
        <h6>انتخاب های شما</h6>
        <keleman-filter-chip-list></keleman-filter-chip-list>
      </div>
    </div>
  </ng-template>

  <div class="card card-rounded-3 border border-gray-300" id="product-filters">
    <div class="card-body">
      <ul class="filter-list">
        <li>
          <keleman-category-filter></keleman-category-filter>
        </li>
        <li>
          <keleman-brand-filter></keleman-brand-filter>
        </li>
        <li>
          <keleman-seller-filter></keleman-seller-filter>
        </li>
        <li>
          <span
            class="d-flex align-items-center justify-content-between available"
          >
            عدم موجودی
            <mat-slide-toggle
              color="primary"
              [checked]="productFilterService.filterList.outOfStock"
              (change)="changeOutOfStock($event.checked)"
            ></mat-slide-toggle>
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="form-group">
  <p class="text-warning fw-bold">محدوده قیمت</p>
  <div
    id="product-price-filter"
    class="card card-rounded-3 border border-gray-300"
  >
    <div class="card-body">
      <keleman-product-price-filter
        (changePrice)="onChangePrice($event)"
        (afterReset)="productFilterService.priceSliderReset = false"
        [reset]="productFilterService.priceSliderReset"
      ></keleman-product-price-filter>
    </div>
  </div>
</div>
