@import "base/variables/colors";

.filter-list {
  list-style: none;
  padding: 0;
  ::ng-deep .accordion-body {
    padding: 0 !important;
  }
  ::ng-deep .accordion-button {
    padding: 0.5rem 0 !important;
    &:focus {
      border: unset !important;
      box-shadow: unset !important;
    }
    &:not(.collapsed) {
      color: black !important;
      background-color: transparent !important;
    }
  }
  li:not(:last-child) {
    border-bottom: 2px solid $gray-300;
    margin-bottom: 1rem;
  }
  .available {
    height: 50px;
  }
}

ul {
  list-style: none;
  padding: 0;
  overflow: hidden;
}
.apply-filter {
  min-height: 3rem;
}
::ng-deep {
  [dir="rtl"] {
    .mdc-switch__handle-track {
      left: 0 !important;
      right: auto !important;
    }
    .mdc-switch--selected .mdc-switch__handle-track {
      transform: translateX(140%) !important;
      width: calc(100% - var(--mdc-switch-handle-width)) !important;
    }
  }
}
