@import "base/variables/spacers";
@import "base/variables/colors";

#comment-text {
  height: 245px;
  max-height: 245px;
  resize: none;
}
.comment-head {
  margin-bottom: map-get($klm-spacers, 6);
}

mat-list-item {
  padding: 0.5rem 0;
  &:not(:last-child) {
    border-bottom: 1px solid $gray-300;
  }
}
