<div class="card">
  <div class="card-body">
    <span class="fs-5"> نظرات </span>

    <ng-content
      *ngIf="comments.length > 0; then hasComment; else noComment"
    ></ng-content>
    <ng-template #hasComment>
      <mat-list>
        <mat-list-item
          *ngFor="let comment of comments; trackBy: tranckByFn"
          class="px-0"
        >
          <span class="d-flex align-items-center">
            <div class="symbol symbol-10 symbol-circle ms-3">
              <img src="assets/media/blank.webp" />
            </div>
            <div>
              <span>
                <strong>
                  {{ comment.commenter }}
                </strong>
                -
                <span class="text-muted">
                  {{
                    persianDateTimeService.fromGregorianString(
                      comment.dateTime,
                      "DDjMMMM YYYY"
                    )
                  }}
                </span>
              </span>
              <p [innerHTML]="comment.comment"></p>
            </div>
          </span>
        </mat-list-item>
      </mat-list>
      <mat-divider></mat-divider>
    </ng-template>
    <ng-template #noComment>
      <span class="fs-6 text-muted">نظری برای این مقاله ثبت نگردیده است</span>
    </ng-template>
  </div>
</div>

<div class="card card-rounded-1">
  <div class="card-body text-end">
    <span class="fw-bold comment-head fs-5">دیدگاهتان را بنویسید</span>
    <form [formGroup]="commentForm" (ngSubmit)="submit()">
      <div class="form-group">
        <label class="h6 fw-bolder" for="name">نام </label>
        <input
          id="name"
          class="form-control"
          formControlName="commenter"
          [class.is-invalid]="commenter.invalid && formIsSubmitted"
          required
        />
        <ng-template [ngIf]="commenter.invalid && formIsSubmitted">
          <span class="invalid-feedback">لطفا نام خود را وارد کنید</span>
        </ng-template>
      </div>
      <div class="form-group">
        <label class="h6 fw-bolder" for="comment-text">متن دیدگاه </label>
        <textarea
          class="form-control"
          id="comment-text"
          formControlName="comment"
          placeholder="متن دیدگاه"
          [class.is-invalid]="comment.invalid && formIsSubmitted"
        ></textarea>
        <ng-template [ngIf]="comment.invalid && formIsSubmitted">
          <span class="invalid-feedback">لطفا دیدگاه خود را وارد کنید</span>
        </ng-template>
      </div>

      <button
        class="btn btn-klm-primary rounded-pill float-start keleman-button"
        kelemanLoadingProgress
        [loading]="addCommentLoading"
        type="submit"
      >
        فرستادن دیدگاه
      </button>
    </form>
  </div>
</div>
