<div class="card">
  <div class="card-body">
    <span class="fs-5 d-block"> نظرات </span>

    @if (comments.length > 0){
    <mat-list>
      <mat-list-item
        *ngFor="let comment of comments; trackBy: tranckByFn"
        class="px-0"
      >
        <div matListItemIcon class="symbol symbol-10 symbol-circle mx-3">
          <img src="assets/media/blank.webp" />
        </div>
        <div matListItemTitle>
          <span>
            <strong>
              {{ comment.commenter }}
            </strong>
            -
            <span class="text-muted">
              {{
                persianDateTimeService.fromGregorianString(
                  comment.dateTime,
                  "DDjMMMM YYYY"
                )
              }}
            </span>
          </span>
        </div>
        <div matListItemLine [innerHTML]="comment.comment"></div>
      </mat-list-item>
    </mat-list>
    <mat-divider></mat-divider>
    } @else {
    <span class="fs-6 text-muted">نظری برای این مقاله ثبت نگردیده است</span>
    }
  </div>
</div>

<div class="card card-rounded-1">
  <div class="card-body text-end">
    <span class="fw-bold comment-head fs-5">دیدگاهتان را بنویسید</span>
    <form [formGroup]="commentForm" (ngSubmit)="submit()">
      <div class="form-group">
        <label class="h6 fw-bolder mb-3" for="name">نام </label>
        <input
          id="name"
          class="keleman-text-field"
          formControlName="commenter"
          [class.is-invalid]="commenter.invalid && formIsSubmitted"
          required
        />
        @if (commenter.invalid && formIsSubmitted){
        <span class="invalid-feedback">لطفا نام خود را وارد کنید</span>
        }
      </div>
      <div class="form-group">
        <label class="h6 fw-bolder mb-3" for="comment-text">متن دیدگاه </label>
        <textarea
          class="keleman-text-field"
          id="comment-text"
          formControlName="comment"
          placeholder="متن دیدگاه"
          [class.is-invalid]="comment.invalid && formIsSubmitted"
        ></textarea>
        @if (comment.invalid && formIsSubmitted){
        <span class="invalid-feedback">لطفا دیدگاه خود را وارد کنید</span>
        }
      </div>

      <button
        class="btn btn-klm-primary rounded-pill float-start keleman-button"
        kelemanLoadingProgress
        [loading]="addCommentLoading"
        type="submit"
      >
        فرستادن دیدگاه
      </button>
    </form>
  </div>
</div>
