@import "base/variables/spacers";
@import "base/variables/colors";

#comment-text {
  height: 245px;
  max-height: 245px;
  resize: none;
}
.comment-head {
  display: inline-block;
  margin-bottom: map-get($klm-spacers, 6);
}

mat-list-item {
  padding: 0.5rem 0;
  &:not(:last-child) {
    border-bottom: 1px solid $gray-300;
  }
}
.keleman-text-field {
  background-color: $gray-300;
}
.mat-mdc-list-item-icon {
  width: auto !important;
}
