<div class="card mb-3 card-rounded-3 shadow-sm border border-gray-300">
  <div class="card-body d-flex flex-column">
    <div class="border-bottom">
      <div class="d-flex align-items-center mb-3">
        <div class="symbol symbol-75px symbol-circle">
          <img src="../../../../../assets/media/blank.png" />
        </div>
        <span class="d-flex flex-column flex-grow-1 align-items-start mx-4">
          <h5 class="text-klm-primary">سجاد منشی</h5>
          <a
            routerLink="personal-info"
            routerLinkActive="active"
            class="text-muted"
            >تکمیل اطلاعات کاربری</a
          >
        </span>
        <mat-icon class="material-icons-outlined text-muted"
          >drive_file_rename_outline</mat-icon
        >
      </div>
      <ul class="user-wallet-menu me-5">
        <li
          class="d-flex align-items-center justify-content-between mb-3 menu-item"
          [routerLink]="'wallet/increase'"
          routerLinkActive="active"
        >
          <span class="d-flex align-items-center">
            <span>کیف پول</span>
          </span>
          <span>{{ 450000000 | number : ".0" }} تومان</span>
        </li>
        <li
          class="d-flex align-items-center justify-content-between mb-3 menu-item"
          [routerLink]="'wallet/decrease'"
          routerLinkActive="active"
        >
          <span>اعتبار</span>
          <span>{{ 450000000 | number : ".0" }} تومان</span>
        </li>
      </ul>
    </div>
    <ul class="side-bar-menu me-5">
      <li class="menu-item" [routerLink]="'orders'" routerLinkActive="active">
        <a class="menu-link"> سفارش ها </a>
        <mat-icon> chevron_left</mat-icon>
      </li>
      <li
        class="menu-item"
        [routerLink]="'favorites'"
        routerLinkActive="active"
      >
        <a class="menu-link"> علاقه مندی ها </a>
        <mat-icon> chevron_left</mat-icon>
      </li>
      <li
        class="menu-item"
        [routerLink]="'returned-requests'"
        routerLinkActive="active"
      >
        <a class="menu-link"> درخواست مرجوعی </a>
        <mat-icon> chevron_left</mat-icon>
      </li>
      <li class="menu-item" [routerLink]="'address'" routerLinkActive="active">
        <a class="menu-link"> آدرس ها </a>
        <mat-icon> chevron_left</mat-icon>
      </li>

      <li class="menu-item" [routerLink]="'comments'" routerLinkActive="active">
        <a class="menu-link"> دیدگاه ها </a>
        <mat-icon> chevron_left</mat-icon>
      </li>
      <li class="menu-item">
        <a class="menu-link text-danger"> خروج </a>
      </li>
    </ul>
  </div>
</div>
