<div class="card card-rounded-1 order-item mb-3">
  <div class="card-body d-flex align-items-center">
    <div class="flex-column align-items-start flex-grow-1">
      <h6 class="mb-3">
        موتور گیربکس الکو ، درب ریلی 125 رایکا، سیم کابلی 60 متری کلمان
      </h6>
      <span class="d-flex align-items-center mb-3">
        <mat-icon class="text-warning mx-3">schedule</mat-icon>
        2022/01/02
      </span>
      <span class="d-flex align-items-center mb-3">
        <mat-icon class="text-warning mx-3">payments</mat-icon>
        2022/01/02
      </span>
    </div>
    <mat-icon class="text-gray-500">chevron_left</mat-icon>
  </div>
</div>
