@import "base/variables/colors";
.order-item {
  border: 1px solid $gray-300 !important;
  .order-details {
    height: 10rem;
  }
}
.paid-chip {
  background-color: map-get($theme-colors, "success") !important;
}
.notPaid-chip {
  background-color: map-get($theme-colors, "warning") !important;
}
$mat-icon-size: 1.5rem;
mat-icon {
  font-size: $mat-icon-size !important;
  width: $mat-icon-size;
  height: $mat-icon-size;
}
