<div class="card card-rounded-1 order-item">
  <div class="card-body d-flex align-items-center">
    <div class="flex-column align-items-start flex-grow-1">
      <h6>
        ...موتور گیربکس الکو ، درب ریلی 125 رایکا، سیم کابلی 60 متری کلمان
      </h6>
      <span class="d-flex align-items-center">
        <mat-icon class="mx-3">schedule</mat-icon>
        2022/01/02
      </span>
      <span class="d-flex align-items-center">
        <mat-icon class="mx-3">payments</mat-icon>
        2022/01/02
      </span>
    </div>
    <mat-icon>chevron_left</mat-icon>
  </div>
</div>
