<div class="card card-rounded-3 border border-gray-300 shadow mb-3">
  <h6 class="p-3">جدیدترین مقالات</h6>

  <div class="card-body">
    <ul class="p-0 latest-article-list row">
      <ng-container
        *ngIf="isLoading; then loading; else contant"
      ></ng-container>
      <ng-template #loading>
        <li *ngFor="let _ of sharedVariablesService.counter(10)">
          <ngx-skeleton-loader
            [theme]="{ width: '100%', height: '7.5rem ' }"
          ></ngx-skeleton-loader>
        </li>
      </ng-template>
      <ng-template #contant>
        <li class="col-12 col-md-6 col-lg-12" *ngFor="let article of articles">
          <keleman-article-item-thumbnail
            [article]="article"
          ></keleman-article-item-thumbnail>
        </li>
      </ng-template>
    </ul>
  </div>
</div>
