<div class="card card-rounded-3 shadow mb-3">
  <h6 class="p-3">جدیدترین مقالات</h6>

  <div class="card-body">
    <ul class="p-0 latest-article-list row">
      @if (isLoading){ @for (_ of sharedVariablesService.counter(10);track _){
      <li>
        <ngx-skeleton-loader
          [theme]="{ width: '100%', height: '7.5rem ' }"
        ></ngx-skeleton-loader>
      </li>
      } } @else { @for (article of articles;track article.id){
      <li class="col-12 col-md-6 col-lg-12 content">
        <keleman-article-item-thumbnail
          [article]="article"
        ></keleman-article-item-thumbnail>
      </li>
      } }
    </ul>
  </div>
</div>
