@import "../../../../styles/base/variables/spacers";
.magazine-item {
  padding: 0;
  display: flex;
  flex-direction: column;
  .cover-image {
    border-radius: inherit !important;
    max-height: map-get($klm-spacers, 45);
    min-height: map-get($klm-spacers, 44);
  }

  .read-more {
    display: flex;
    align-items: center;
    width: fit-content;
  }

  .magazine-content {
    min-height: 10rem;
    .magazine-description {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      text-align: justify;
    }
  }
}
.ribbon-label {
  top: 10% !important;
}
