<div
  class="card card-rounded-2 shadow magazine-item ribbon ribbon-end ribbon-clip h-100 cursor-pointer"
  [routerLink]="['/' + routing.blogs + articleDetails.url]"
>
  <span class="ribbon-label shadow">
    {{
      persianDateTime.fromGregorianString(articleDetails.date, "DD/jMMMM/YYYY")
    }}
    <span class="ribbon-inner bg-warning"></span>
  </span>

  <img
    class="cover-image"
    [alt]="articleDetails.title"
    loadingLazy
    [ngSrc]="
      articleDetails.imageAddress
        ? dwonloadUrl + articleDetails.imageAddress
        : ''
    "
    fill
    priority
  />
  <div class="card-body">
    <div class="magazine-content">
      <a
        class="fs-6 d-inline-block magazine-title fw-bold mb-3"
        [routerLink]="['/' + routing.blogs + articleDetails.url]"
        >{{ articleDetails.title }}</a
      >
      <p class="magazine-description mb-3">
        {{ articleDetails.description }}
      </p>
    </div>
    <button
      [routerLink]="['/' + routing.blogs + articleDetails.url]"
      class="btn btn-outline btn-outline-klm-primary read-more float-start"
    >
      <span class="mx-3">بیشتر</span>
      <mat-icon>keyboard_backspace</mat-icon>
    </button>
  </div>
</div>
