<div class="card mb-3 card-rounded-3 shadow-sm border border-gray-300">
  <div class="card-body d-flex flex-column">
    <span class="border-bottom border-gray-300 mb-3 p-3">
      <mat-icon class="d-lg-none back" routerLink="../"
        >arrow_right_alt</mat-icon
      >
      <span class="d-inline">دیدگاه ها</span>
      <span class="text-danger d-inline mx-1">1</span>
    </span>
    <ng-template #full [ngIf]="true">
      <app-comment-item
        *ngFor="let comment of comments"
        [comment]="comment"
        [fullWidth]="true"
      ></app-comment-item>
    </ng-template>
    <ng-template #empty>
      <keleman-empty-content></keleman-empty-content>
    </ng-template>
  </div>
</div>
