<div class="d-flex flex-column">
  <div class="d-flex align-items-center pb-3">
    <h4 class="fw-bold text-klm-primary px-3">پکیج ها</h4>
    <div class="gradient-border flex-grow-1"></div>
  </div>
  <div class="package-swiper mb-3">
    <swiper
      [effect]="'creative'"
      dir="ltr"
      [centeredSlides]="true"
      [slidesPerView]="'auto'"
      [navigation]="true"
      [initialSlide]="1"
      [creativeEffect]="{
        perspective: true,
        prev: {
          scale: 0.75,
          shadow: true,
          translate: ['-50%', 0, 0],
          rotate: [0, 15, 0]
        },
        next: {
          scale: 0.75,
          shadow: true,
          translate: ['50%', 0, 0],
          rotate: [0, -15, 0]
        }
      }"
    >
      @if((loadingSerive.getLoadingStateObservable('read','packages')|async)!){
      @for(_ of sharedVariablesService.counter(3);track _){
      <ng-template swiperSlide>
        <div class="swiper-slide cursor-pointer">
          <ngx-skeleton-loader
            [theme]="{ width: '22rem', height: '20rem' }"
          ></ngx-skeleton-loader>
        </div>
      </ng-template>
      } } @else { @for (slide of slides;track slide.id){
      <ng-template swiperSlide>
        <div
          class="swiper-slide cursor-pointer"
          [routerLink]="['/product/' + slide.customUrl]"
        >
          <img loadingLazy emptyImage [alt]="slide.name" [src]="slide.image" />
          <!--          <div class="package-info d-flex align-items-end">-->
          <!--            <h6 class="text-center">{{ slide.name }}</h6>-->
          <!--          </div>-->
        </div>
      </ng-template>

      } }
    </swiper>
  </div>
</div>
