<div class="basket-body d-flex flex-column align-items-center">
  <ng-container *ngIf="false; then empty; else full"> </ng-container>
  <ng-template #empty>
    <ng-container>
      <img class="empty-basket-img" src="assets/media/basket/empty.png" />
      <span class="fs-6">سبد خرید شما خالی است!</span>
      <a class="fw-bold text-klm-primary" [routerLink]="'/'"
        ><u>بازگشت به فروشگاه</u></a
      >
    </ng-container>
  </ng-template>
  <ng-template #full>
    <app-basket-item
      *ngFor="let basketItem of basketItems"
      [basketItem]="basketItem"
    ></app-basket-item>
  </ng-template>
</div>
