.search-result-menu {
  padding: 0;
  list-style: none;
  position: absolute;
  z-index: 1100;
  width: 100%;
  border-radius: 0 0 1rem 1rem;
  background-color: white;
  .search-result-menu-item {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    mat-icon {
      margin: 0 0.5rem;
    }
  }
}
