@import "base/variables/colors";
@import "base/variables/spacers";
.favorite-item {
  min-height: map-get($klm-spacers, 37);
  .favorite-item-description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
