<div
  class="card card-rounded-4 shadow product-details-meta border-0 box-shadow-none"
>
  <div class="card-body">
    <table class="product-details-meta-list w-100">
      <tr>
        <td class="h6 fw-light text-muted">قطر فلک:</td>
        <td class="h6 fw-bolder">55</td>
      </tr>
      <tr>
        <td class="h6 fw-light text-muted">ظرفیت:</td>
        <td class="h6 fw-bolder">6 نفره</td>
      </tr>
      <tr>
        <td class="h6 fw-light text-muted">گارانتی:</td>
        <td class="h6 fw-bolder">2 سال</td>
      </tr>
      <tr>
        <td class="h6 fw-light text-muted">تعداد شیار:</td>
        <td class="h6 fw-bolder">4</td>
      </tr>
      <tr>
        <td class="h6 fw-light text-muted">استاتیک لود:</td>
        <td class="h6 fw-bolder">2600 کیلوگرم</td>
      </tr>
      <tr>
        <td class="h6 fw-light text-muted">سیم بکسل:</td>
        <td class="h6 fw-bolder">نمره 10</td>
      </tr>
      <tr>
        <td class="h6 fw-light text-muted">آمپر:</td>
        <td class="h6 fw-bolder">14</td>
      </tr>
    </table>
    <keleman-price [size]="'h4'" [value]="38249000"></keleman-price>

    <button
      class="text-klm-primary actions__buttons d-none d-lg-block fs-5 fw-bolder w-100"
    >
      افزودن به سبد خرید
    </button>
  </div>
</div>
<div class="gradient-border flex-grow-1 my-3 d-lg-none"></div>
