<div
  class="card card-rounded-4 shadow product-details-meta border-0 box-shadow-none"
>
  <div class="card-body">
    <table class="product-details-meta-list w-100">
      @if(isLoading){ @for (_ of sharedVariableService.counter(7);track _){
      <tr>
        <td class="h6 fw-light text-muted">
          <ngx-skeleton-loader
            [theme]="{ width: '100%', height: '20px' }"
          ></ngx-skeleton-loader>
        </td>
      </tr>
      } } @else { @for ( item of specifications.slice(0, 7);track item.key){
      <tr>
        <td class="h6 fw-light text-muted">{{ item.key }}</td>
        <td class="h6 fw-bolder">{{ item.value }}</td>
      </tr>
      } }
    </table>

    @if(productDetails.priceAfterDiscount>0){

    <keleman-price
      [size]="'h5'"
      [value]="productDetails.priceAfterDiscount"
    ></keleman-price>
    @if (productDetails.currentDiscountPercent>0){
    <keleman-price
      [value]="productDetails.currentPrice"
      [off]="true"
      [discount]="productDetails.currentDiscountPercent"
      [color]="'dark'"
      [size]="'h6'"
    ></keleman-price>
    } }
    <div class="row align-items-center d-none d-lg-flex">
      @if (inBasketCount == 0){
      <div class="col-12">
        <button
          class="text-klm-primary actions__buttons fs-5 fw-bolder w-100"
          kelemanLoadingProgress
          [loading]="
            (loadingService.getLoadingStateObservable('add', 'addToBasket')
              | async)!
          "
          [disabled]="
            productDetails.priceAfterDiscount < 1 ||
            productDetails.currentStock < 1
          "
          (click)="addToBasket()"
        >
          {{
            productDetails.currentStock > 1 &&
            productDetails.priceAfterDiscount > 0
              ? "افزودن به سبد خرید"
              : productDetails.currentStock < 1
              ? "ناموجود"
              : "تماس بگیرید"
          }}
        </button>
      </div>
      } @else {
      <div class="col-6">
        <keleman-value-changer
          [initialValue]="inBasketCount"
          (increse)="
            isLoggedIn ? updateBasketAuthorized($event) : addToBasketGuest()
          "
          (decrease)="
            isLoggedIn
              ? updateBasketAuthorized($event)
              : removeFromBasketGuest()
          "
        ></keleman-value-changer>
      </div>
      <div class="col-6">
        <span class="d-block">در سبد خرید شما</span>
        <span>مشاهده سبد خرید</span>
      </div>
      }
    </div>
  </div>
</div>
<div class="gradient-border flex-grow-1 my-3 d-lg-none"></div>
