<div ngbAccordion>
  <div ngbAccordionItem>
    <h2 ngbAccordionHeader>
      <button ngbAccordionButton>
        <span>
          {{ propertyOption.title }}
        </span>
        @if(selectedItem){
        <mat-chip class="mx-1">
          <span class="d-flex align-items-center chip-text">
            <mat-icon
              class="cursor-pointer m-0"
              (click)="removeFilter($event, selectedItem)"
              >cancel</mat-icon
            >
            {{ selectedItem.title }}
          </span>
        </mat-chip>
        }
      </button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <keleman-filter-items
          [initialProperties]="propertyOption.options"
          (selectionChange)="changeSelection($event)"
        ></keleman-filter-items>
      </div>
    </div>
  </div>
</div>
