$klm-primary: #001D8D;
$klm-secondary: #F0BF00;
$klm-accent: #E6E6E6;


$white: #ffffff !default;
$black: #000000 !default;
$gray-100: #F5F8FA !default;
$gray-200: #EFF2F5 !default;
$gray-300: #E4E6EF !default;
$gray-400: #B5B5C3 !default;
$gray-500: #A1A5B7 !default;
$gray-600: #7E8299 !default;
$gray-700: #5E6278 !default;
$gray-800: #3F4254 !default;
$gray-900: #181C32 !default;
$text-muted: $gray-500 !default;

$theme-text-colors: (
  "white": $white,
  "primary": $klm-primary,
  "secondary": $klm-secondary,
  "light": $gray-100,
  "success": #00E75C,
  "info": 	#8950FC,
  "warning": #FFA800,
  "danger": #F64E60,
  "dark": $gray-200,
  "muted": $text-muted,
  "gray-100": $gray-100,
  "gray-200": $gray-200,
  "gray-300": $gray-300,
  "gray-400": $gray-400,
  "gray-500": $gray-500,
  "gray-600": $gray-600,
  "gray-700": $gray-700,
  "gray-800": $gray-800,
  "gray-900": $gray-900,
  "accent":$klm-accent
) !default; // Custom variable

$theme-colors: (
  "white": $white,
  "primary": $klm-primary,
  "secondary": $klm-secondary,
  "light": $gray-100,
  "success": #00E75C,
  "info": 	#8950FC,
  "warning": #FFA800,
  "danger": #F64E60,
  "dark": $gray-200,
  "muted": $text-muted,
  "gray-100": $gray-100,
  "gray-200": $gray-200,
  "gray-300": $gray-300,
  "gray-400": $gray-400,
  "gray-500": $gray-500,
  "gray-600": $gray-600,
  "gray-700": $gray-700,
  "gray-800": $gray-800,
  "gray-900": $gray-900,
  "accent":$klm-accent
);

$body-bg:$klm-accent;
