$k-font-size-base:              						5px !default;

$keleman-font-sizes: (
  1: $k-font-size-base,   // 22.75px
  2: $k-font-size-base*2,   // 19.50px
  3: $k-font-size-base*3,   // 17.55px
  4: $k-font-size-base*4,   // 16.25px
  5: $k-font-size-base*5,   // 14.95px
  6: $k-font-size-base*6,   // 13.95px
  7: $k-font-size-base * 7,  // 12.35px
  8: $k-font-size-base * 8,  // 11.05px
  9: $k-font-size-base * 9,  // 9.75px
  10: $k-font-size-base * 10,  // 6.50px

  base: $k-font-size-base, // 13px
  fluid: 100%, // 100%

  2x: $k-font-size-base * 2,        // 26px
  2qx: $k-font-size-base * 2.25,    // 29.25px
  2hx: $k-font-size-base * 2.5,     // 32.5px
  2tx: $k-font-size-base * 2.75,    // 35.75px

  3x: $k-font-size-base * 3,        // 39px
  3qx: $k-font-size-base * 3.25,    // 42.25px
  3hx: $k-font-size-base * 3.5,     // 45.5px
  3tx: $k-font-size-base * 3.75,    // 48.75px

  4x: $k-font-size-base * 4,        // 52px
  4qx: $k-font-size-base * 4.25,    // 55.25px
  4hx: $k-font-size-base * 4.5,     // 58.5px
  4tx: $k-font-size-base * 4.75,    // 61.75px

  5x: $k-font-size-base * 5,        // 65px
  5qx: $k-font-size-base * 5.25,    // 68.25px
  5hx: $k-font-size-base * 5.5,     // 71.5px
  5tx: $k-font-size-base * 5.75     // 74.75px
) !default;




@mixin keleman-font-size{
  @each $breakpoint in map-keys($grid-breakpoints) {

    @include media-breakpoint-up($breakpoint) {
      $infix: breakpoint-infix($breakpoint, $grid-breakpoints);


      // Sizes
      @each $name, $value in $keleman-font-sizes {
        .kfs#{$infix}-#{$name}{
          font-size: $value;
        }
      }
    }
  }


}
