$klm-spacer: 1rem !default;
$klm-spacers: () !default;

@for $i from 0 through 300 {
  $multiple: calc($i/4);
  @if $i == 13 {
    $klm-spacers: map-merge(
      $klm-spacers,
      (
        default: $klm-spacer * $multiple,
      )
    );
  } @else {
    $klm-spacers: map-merge(
      $klm-spacers,
      (
        $i: $klm-spacer * $multiple,
      )
    );
  }
}

$content-spacing: (
  desktop: 1.8rem,
  // Padding for desktop mode
  tablet-and-mobile: 1rem
    // Padding for tablet and mobile modes,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
) !default;
