$klm-spacer: 1rem !default;
$klm-spacers: () !default;
$symbol-sizes: () !default;

@for $i from 0 through 300 {
  $multiple: calc($i/4);
  @if $i == 13 {
    $klm-spacers: map-merge(
      $klm-spacers,
      (
        default: $klm-spacer * $multiple,
      )
    );
  } @else {
    $klm-spacers: map-merge(
      $klm-spacers,
      (
        $i: $klm-spacer * $multiple,
      )
    );
  }
}

.nil-space {
  padding: 0 !important;
  margin: 0 !important;
}

@for $i from 0 through 70 {
  $multiple: calc($i/4);
  @if $i == 25 {
    $symbol-sizes: map-merge(
      $symbol-sizes,
      (
        default: $klm-spacer * $multiple,
      )
    );
  } @else {
    $symbol-sizes: map-merge(
      $symbol-sizes,
      (
        $i: $klm-spacer * $multiple,
      )
    );
  }
}
