$font-family-base: IRANYekanXFaNum;
$font-size-base: 1rem;
$line-height-base: 1.5;
$prefix: "keleman-";
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0 !important;
}
.text-justify {
  text-align: justify !important;
}

@mixin text-style($font-size, $font-weight, $line-height) {
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
}

@mixin breakpoint($width) {
  @media (min-width: $width) {
    @content;
  }
}
