<div class="d-flex flex-column align-items-center mx-md-3 mx-lg-5">
  <div class="transactions w-100">
    <ng-content
      *ngIf="isLoading; then loading; else requestsContent"
    ></ng-content>
    <ng-template #loading>
      <ngx-skeleton-loader
        [theme]="{ width: '100%', height: '50px' }"
        count="3"
      ></ngx-skeleton-loader>
    </ng-template>
    <ng-template #requestsContent>
      <ng-content
        *ngIf="withdrawRequests.length > 0; then full; else empty"
      ></ng-content>
      <ng-template #full>
        <div
          class="alert request-item"
          [ngClass]="
            request.status === withdrawRequestStatus.Request
              ? 'alert-info'
              : 'alert-dark'
          "
          *ngFor="let request of withdrawRequests; trackBy: trackByFn"
        >
          <span class="d-flex align-items-center">
            <h6>{{ request.price }} تومان</h6>
          </span>
          <h6 class="mx-3">
            ({{
              request.status === withdrawRequestStatus.Request
                ? "درانتظار تایید"
                : "لغو شده"
            }})
          </h6>
          <span class="d-flex align-items-center">
            <h6>{{ request.description }}</h6>
          </span>
          <span class="d-flex align-items-center">
            <h6 class="mb-0 mx-3">
              {{
                persianDateTimeService.fromGregorianString(
                  request.date,
                  "DD/jMMMM/YYYY"
                )
              }}
            </h6>
          </span>
          <button
            class="btn btn-outline-danger"
            [disabled]="request.status === withdrawRequestStatus.cancel"
            (click)="getAcceptBeforeRemove($event, request.id)"
          >
            لغو درخواست
          </button>
        </div>
        <keleman-pagination
          [totalElements]="totalElemnts"
          [limit]="limit"
          [currentPage]="page"
          (pageChange)="pageChange($event)"
        ></keleman-pagination>
      </ng-template>
      <ng-template #empty>
        <keleman-empty-content></keleman-empty-content>
      </ng-template>
    </ng-template>
  </div>
</div>
