<div class="d-flex flex-column">
  <label class="text-klm-primary fw-bolder mb-3" for="paymentMethod"
    >روش پرداخت</label
  >
  <div class="card card-rounded-3 mb-3" id="paymentMethod">
    <div class="card-body d-flex flex-column">
      <mat-checkbox>پرداخت اینترنتی</mat-checkbox>
      <mat-checkbox>پرداخت نقدی</mat-checkbox>
      <mat-checkbox>پرداخت از کیف پول</mat-checkbox>
      <mat-checkbox>پرداخت از اعتبار</mat-checkbox>
    </div>
  </div>
  <span class="text-danger mb-3"
    >*درصورت لزوم میتوانید چند روش پرداخت با <a> شرایط مشخص</a> به طور همزمان
    انتخاب کنید.</span
  >
  <label class="text-klm-primary fw-bolder mb-3" for="discountCode"
    >کدتخفیف</label
  >
  <input
    id="discountCode"
    class="form-control mb-3"
    placeholder="کد تخفیف را وارد کنید"
  />

  <label class="text-klm-primary fw-bolder mb-3" for="description"
    >توضیحات</label
  >
  <input id="description" class="form-control" placeholder="توضیحات" />
</div>
