<div class="d-flex align-items-center p-2">
  <div class="symbol symbol-10 symbol-circle">
    <img loadingLazy emptyImage [src]="product.thumbnailImage" />
  </div>
  <h6 class="product-name flex-grow-1">
    {{ product.name }}
  </h6>
  <span class="text-success">({{ max }})</span>
</div>
<keleman-value-changer
  class="flex-grow-1 mb-1"
  [initialValue]="max"
  [max]="max"
  [title]="'تعداد مرجوعی'"
  [removable]="false"
  (increse)="onAmountChange($event)"
  (decrease)="onAmountChange($event)"
></keleman-value-changer>
