@import "base/variables/colors";

.isShownChip {
  background-color: map-get($theme-colors, "success") !important;
}
.pendingChip {
  background-color: map-get($theme-colors, "warning") !important;
}
.comment-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}
