<div class="card card-rounded-4 shadow product-details-meta mb-3">
  <div class="card-body">
    <ul class="product-details-meta-list">
      <li>
        <span class="h6">قطر فلک:</span>
        <span class="h6 fw-bolder">55</span>
      </li>
      <li>
        <span class="h6">ظرفیت:</span>
        <span class="h6 fw-bolder">6 نفره</span>
      </li>
      <li>
        <span class="h6">گارانتی:</span>
        <span class="h6 fw-bolder">2 سال</span>
      </li>
      <li>
        <span class="h6">تعداد شیار:</span>
        <span class="h6 fw-bolder">4</span>
      </li>
      <li>
        <span class="h6">استاتیک لود:</span>
        <span class="h6 fw-bolder">2600 کیلوگرم</span>
      </li>
      <li>
        <span class="h6">سیم بکسل:</span>
        <span class="h6 fw-bolder">نمره 10</span>
      </li>
      <li>
        <span class="h6">آمپر:</span>
        <span class="h6 fw-bolder">14</span>
      </li>
      <li class="d-none d-lg-flex">
        <button
          class="btn btn-klm-secondary text-klm-primary add-to-basket d-none d-md-block fw-bold"
        >
          افزودن به سبد خرید
        </button>
        <h3>{{ 38249000 | number : ".0" }} تومان</h3>
      </li>
    </ul>
  </div>
</div>
