<div class="card card-rounded product-details-meta mb-3">
  <div class="card-body">
    <ul class="product-details-meta-list">
      <li>
        <span class="h5">قطر فلک:</span>
        <span class="h5 fw-bolder">55</span>
      </li>
      <li>
        <span class="h5">ظرفیت:</span>
        <span class="h5 fw-bolder">6 نفره</span>
      </li>
      <li>
        <span class="h5">گارانتی:</span>
        <span class="h5 fw-bolder">2 سال</span>
      </li>
      <li>
        <span class="h5">تعداد شیار:</span>
        <span class="h5 fw-bolder">4</span>
      </li>
      <li>
        <span class="h5">استاتیک لود:</span>
        <span class="h5 fw-bolder">2600 کیلوگرم</span>
      </li>
      <li>
        <span class="h5">سیم بکسل:</span>
        <span class="h5 fw-bolder">نمره 10</span>
      </li>
      <li>
        <span class="h5">آمپر:</span>
        <span class="h5 fw-bolder">14</span>
      </li>
      <li class="d-none d-lg-block">
        <span class="fw-bold">قیمت:</span>
        <h3>{{ 38249000 | number : ".0" }} تومان</h3>
      </li>
    </ul>
    <button
      class="btn btn-klm-secondary text-white w-100 add-to-basket d-none d-md-block"
    >
      افزودن به سبد خرید
    </button>
  </div>
</div>
