@import "components/swiper";
@include swiper-button();
.top-slider-container {
  height: 268px;
}
.slide {
  display: block;
  min-height: 268px;
  width: 100%;
  height: 100%;
}

@media (min-width: 1024px) {
  .top-slider-container {
    height: 300px;
  }
  .slide {
    min-height: 300px;
  }
}

@media (min-width: 1281px) {
  .top-slider-container {
    height: 400px;
  }
  .slide {
    min-height: 400px;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.main-slider-image {
  height: 100%;
  width: 100%;
  display: inline-block;
  object-fit: cover;
}

::ng-deep .swiper-pagination {
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: #999 !important;
    opacity: 0.5;
    transition: opacity 0.2s ease-in-out;

    &.swiper-pagination-bullet-active {
      opacity: 1;
      width: 30px;
      border-radius: 15px !important;
      background-color: white !important;
    }
  }
}
