@if (loadingService.getLoadingStateObservable('read','slider')|async){
<ngx-skeleton-loader
  count="1"
  [theme]="{ height: '25rem' }"
></ngx-skeleton-loader>
} @else {
<div class="d-flex position-relative top-slider-container">
  <swiper
    [spaceBetween]="0"
    [pagination]="{ el: '.swiper-pagination' }"
    [autoplay]="{ delay: 2000 }"
  >
    @for (slide of slides;track slide.id){

    <ng-template swiperSlide>
      <a class="card slide" [href]="slide.url">
        <picture class="img-container h-100 w-100">
          <img
            [alt]="slide.alt"
            class="main-slider-image"
            loadingLazy
            emptyImage
            [src]="slide.imageAddress"
            style="width: 100%; height: auto"
          />
        </picture>
      </a>
    </ng-template>
    }
  </swiper>

  <div class="swiper-pagination">
    @for (_ of sharedVariableService.counter(slides.length);track _){
    <span class="swiper-pagination-bullet"></span>
    }
  </div>
</div>
}
