.slide {
  display: block;
  width: 100%;
  height: auto;
}

.main-slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

::ng-deep .swiper-pagination {
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: #999 !important;
    opacity: 0.5;
    transition: opacity 0.2s ease-in-out;

    &.swiper-pagination-bullet-active {
      opacity: 1;
      width: 30px;
      border-radius: 15px !important;
      background-color: white !important;
    }
  }
}

.img-container {
  position: relative;
  overflow: hidden;
}
