<div mat-dialog-content>
  <h5 class="text-center mb-3">پرسش خود را ثبت نمایید</h5>

  <keleman-card [cardTitle]="'پرسش'">
    <div class="form-group">
      <textarea
        class="form-control keleman-text-field"
        placeholder="متن پرسش"
        [formControl]="question"
        [class.is-invalid]="question.invalid && isFormSubmitted"
      ></textarea>
      <span
        *ngIf="question.invalid && isFormSubmitted"
        class="invalid-feedback"
      >
        لطفا متن پرسش را وارد نمایید.
      </span>
    </div>
  </keleman-card>
  <button
    class="btn btn-warning text-white float-start"
    kelemanLoadingProgress
    [loading]="isLoading"
    type="submit"
    (click)="submitQuetion()"
  >
    ارسال
  </button>
</div>
