<label class="text-klm-primary fw-bolder mb-3" for="orderSummary"
  >خلاصه سفارش</label
>
<div class="card card-rounded-3 mb-3" id="orderSummary">
  <div class="card-body d-flex flex-column">
    @if(basketItems){
    <ol>
      @for (item of basketItems;track item.id){
      <li class="my-2">
        <span class="d-flex align-items-center">
          <div
            class="symbol symbol-circle symbol-hover symbol-10 shadow border border-klm-primary mx-2"
          >
            <img loadingLazy emptyImage [src]="item.product.thumbnailImage" />
          </div>
          <h6>
            {{ item.product.name }}
          </h6>
          <strong class="text-success px-3"> ({{ item.count }})</strong>
        </span>
      </li>
      }
    </ol>
    }
  </div>
</div>
