<nav class="navbar navbar-expand-lg bg-white sticky-top">
  <div class="d-flex flex-column w-100 align-items-start mx-5">
    <div
      class="d-flex align-items-center justify-content-between top-part w-100"
    >
      <div class="d-flex rounded-pill search-bar align-items-center">
        <img src="assets/media/logo/keleman-logo-light.png" />
        <div class="search-input-group">
          <span class="search-icon material-icons-outlined mx-2">search</span>
          <input
            class="form-control search-input h-100 rounded-pill"
            placeholder="جستجو"
          />
        </div>
      </div>
      <button class="btn rounded-pill register-login-button p-3">
        ورود/ثبت نام
      </button>
      <span class="material-icons-outlined"> shopping_cart </span>
    </div>

    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <keleman-header-menu></keleman-header-menu>
  </div>
</nav>
