<span class="d-flex align-items-center border-bottom border-gray-300 mb-3 pb-3">
  <h6>دسته بندی ها</h6>
  <h6 class="text-danger mx-1">1</h6>
</span>

<div
  class="favorite-categories row mx-0 flex-wrap border-bottom border-gray-300"
>
  <div class="col-12 col-md-6" *ngFor="let category of categories">
    <keleman-favorite-categories-item
      [data]="category"
    ></keleman-favorite-categories-item>
  </div>

  <div
    class="col-12 col-md-6 d-flex align-items-center mb-3 cursor-pointer"
    (click)="addNewCategory()"
  >
    <div class="symbol symbol-50px">
      <div
        class="symbol-label fs-2 fw-semibold bg-transparent border border-gray-400 text-gray-400"
      >
        <mat-icon>add</mat-icon>
      </div>
    </div>
    <h6 class="text-gray-400 mx-3">افزودن دسته بندی جدید</h6>
  </div>
</div>
