<div
  class="card card-rounded-3 comment-item mb-2"
  [ngClass]="{ 'full-width': fullWidth }"
>
  <div class="card-header row mx-0 p-0 border-bottom border-success">
    <h6 class="col-6 align-self-center p-2 fw-bolder commenter-name">
      {{ comment.user.firstName ?? "کاربر"! }}
      {{ comment.user.lastName ?? "مهمان"! }}
    </h6>

    @if (comment.rate){
    <span class="col-6 d-flex align-items-center justify-content-end p-0">
      <keleman-text-with-icon
        [text]="comment.rate.toString()"
        [iconName]="'star'"
        [iconClass]="'text-warning'"
      ></keleman-text-with-icon>
    </span>
    }
  </div>
  <div class="comment-body px-3 py-1">
    <p class="comment-text mb-3">
      {{ comment.comment! }}
    </p>
    <span
      class="status d-flex align-items-center justify-content-end text-muted"
      >{{
        persianDatetime.fromGregorianString(comment.dateTime, "DD jMMMM YYYY")
      }}</span
    >
  </div>
</div>
