<ng-container
  *ngIf="
    applicationState.isPhone || applicationState.isTablet;
    then mobileView;
    else desktopView
  "
></ng-container>
<ng-template #mobileView>
  <keleman-profile-mobile-menu></keleman-profile-mobile-menu>
</ng-template>
<ng-template #desktopView>
  <div class="d-flex flex-column">
    <div class="row mx-0">
      <div class="col-12">
        <keleman-personal-info></keleman-personal-info>
      </div>

      <div class="col-12 mt-3">
        <keleman-latest-orders></keleman-latest-orders>
      </div>
    </div>
  </div>
</ng-template>
