<keleman-input-group class="search-bar">
  <span class="prepend material-icons-outlined mx-2">search</span>
  <button class="append btn btn-klm-primary h-100 search-button">جستجو</button>
</keleman-input-group>

<div class="credits-history">
  <div class="card card-rounded-3 shadow-sm border-gray-300">
    <div class="card-body">
      <h6 class="fw-bold">تاریخچه درخواست ها</h6>
      <ng-container *ngIf="true; then full"></ng-container>
      <ng-template #full>
        <keleman-returned-request-history></keleman-returned-request-history>
      </ng-template>
      <ng-template #empty>
        <keleman-empty-content></keleman-empty-content>
      </ng-template>
    </div>
  </div>
</div>
