<div class="credits-history">
  <div class="card card-rounded-3 shadow-sm border border-gray-300">
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center">
        <span class="d-flex align-items-center">
          <mat-icon class="d-lg-none" routerLink="../"
            >arrow_right_alt</mat-icon
          >
          <h6 class="fw-bold p-3">تاریخچه درخواست ها</h6>
        </span>
      </div>

      <ng-container *ngIf="true; then full"></ng-container>
      <ng-template #full>
        <keleman-returned-request-history></keleman-returned-request-history>
      </ng-template>
      <ng-template #empty>
        <keleman-empty-content></keleman-empty-content>
      </ng-template>
    </div>
  </div>
</div>
