@import "../../../../../styles/base/variables/spacers";

:host {
  width: 100%;
}

.basket-item {
  & > * {
    margin-left: map-get($k-spacers, 5);
  }

  .basket-item__remove {
    height: auto;
    width: auto;
    border: 0;
    padding: $k-spacer;
    color: #ffff;
    border-radius: map-get($k-spacers, 3) 0 0 map-get($k-spacers, 3);
  }

  .basket-item__details-meta {
    & > span {
      padding-bottom: 1rem;
    }
  }
  h6 {
    margin: 0;
  }

  span.svg-icon:not(.remove) {
    padding: 0 map-get($k-spacers, 1);
  }
}
