<div class="card card-rounded-1 product-details-text mb-3">
  <div class="card-body">
    <h4 class="fw-bold text-klm-primary">مشخصات</h4>
    <p>
      موتور آسانسور الکو 5.5 کیلووات یکی از پرفروش‌ترین و پرکاربردترین موتورهای
      آسانسور در ایران است. موتور گیربکس Elco توسط متخصصان ایرانی طراحی و تولید
      شده است. یکی از مهم‌ترین ویژگی‌های این موتور طراحی آن مطابق با شرایط آب و
      هوایی کشور است که باعث افزایش عمر مفید موتور و کاهش هزینه‌های سرویس و
      نگهداری آن شده است. کیفیت بالای تجیهزات و قطعات به کار رفته در موتور
      گیربکس الکو هم بصورت دوسرعته و تک سرعته طراحی و تولید می‌شود. موتورهای
      الکو دارای استاندارد و گواهینامه ملی و بین‌المللی همچون ISO 9001 و CE
      اتحادیه اروپا می‌باشد. همچنین گواهینامه‌های 18000 و 14000 را نیز کسب کرده
      است. لازم به ذکر است که موتورهای الکو دارای گارانتی نیز می‌باشد.
    </p>
  </div>
</div>
