<div class="offcanvas-body">
  <div class="card">
    <div class="card-body d-flex flex-column justify-content-start">
      <span class="material-icons-outlined" (click)="onClose()"> close </span>
      <h2 class="fw-bold mb-3">سجاد منشی</h2>
      <ul class="off-canvas-menu">
        <li class="menu-item">
          <span class="d-flex align-items-center">
            <h5>نمایش سبد خرید</h5>
          </span>
        </li>

        <mat-accordion>
          <mat-expansion-panel *ngFor="let rootCategory of productCategories">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <img
                  class="mx-1"
                  [src]="'assets/media/off-canvas-menu-items/all-products.svg'"
                />
                <span (click)="onNavigate({ c1: rootCategory.url })">
                  {{ rootCategory.titleFa }}
                </span>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ul class="column">
              <ng-template
                ngFor
                let-child
                [ngForOf]="rootCategory.children"
                let-i="index"
              >
                <li
                  class="head"
                  (click)="onNavigate({ c1: rootCategory.url, c2: child.url })"
                >
                  <a>{{ child.titleFa }} </a>
                </li>
                <li
                  *ngFor="let childChild of child.children"
                  (click)="
                    onNavigate({
                      c1: rootCategory.url,
                      c2: child.url,
                      c3: childChild.url
                    })
                  "
                >
                  <a>{{ childChild.titleFa }}</a>
                </li>
              </ng-template>
            </ul>
          </mat-expansion-panel>
        </mat-accordion>
      </ul>
    </div>
  </div>
</div>
