<div class="offcanvas-body">
  <div class="card">
    <div class="card-body d-flex flex-column justify-content-start">
      <span class="material-icons-outlined" (click)="onClose()"> close </span>
      <h2 class="fw-bold mb-3">سجاد منشی</h2>
      <ul class="off-canvas-menu">
        <li class="menu-item">
          <span class="d-flex align-items-center">
            <h5 class="mb-0">نمایش سبد خرید</h5>
          </span>
        </li>
        <li class="menu-item">
          <span class="d-flex align-items-center">
            <img
              [src]="'assets/media/off-canvas-menu-items/all-products.svg'"
            />

            <h5 class="mb-0 px-3">تمامی محصولات</h5>
          </span>
        </li>
        <li class="menu-item">
          <span class="d-flex align-items-center">
            <img
              [src]="'assets/media/off-canvas-menu-items/engine-motor.svg'"
            />

            <h5 class="mb-0 px-3">موتورآسانسور</h5>
          </span>
        </li>
        <li class="menu-item">
          <span class="d-flex align-items-center">
            <img
              [src]="'assets/media/off-canvas-menu-items/reyl-rahnama.svg'"
            />

            <h5 class="mb-0 px-3">ریل راهنما آسانسور</h5>
          </span>
        </li>
        <li class="menu-item">
          <span class="d-flex align-items-center">
            <img
              [src]="'assets/media/off-canvas-menu-items/darb-asansor.svg'"
            />

            <h5 class="mb-0 px-3">درب آسانسور</h5>
          </span>
        </li>
        <li class="menu-item">
          <span class="d-flex align-items-center">
            <img [src]="'assets/media/off-canvas-menu-items/simboxel.svg'" />

            <h5 class="mb-0 px-3">سیم بکسل و تراول کابل</h5>
          </span>
        </li>
        <li class="menu-item">
          <span class="d-flex align-items-center">
            <img [src]="'assets/media/off-canvas-menu-items/board.svg'" />

            <h5 class="mb-0 px-3">تابلو فرمان</h5>
          </span>
        </li>
        <li class="menu-item">
          <span class="d-flex align-items-center">
            <img [src]="'assets/media/off-canvas-menu-items/gear.svg'" />

            <h5 class="mb-0 px-3">متعلقات درب و ریل</h5>
          </span>
        </li>
        <li class="menu-item">
          <span class="d-flex align-items-center">
            <img
              [src]="
                'assets/media/off-canvas-menu-items/motaleqatrahandazi.svg'
              "
            />

            <h5 class="mb-0 px-3">متعلقات راه اندازی</h5>
          </span>
        </li>
        <li class="menu-item">
          <span class="d-flex align-items-center">
            <img
              [src]="'assets/media/off-canvas-menu-items/tie-accessory.svg'"
            />

            <h5 class="mb-0 px-3">تجهیزات</h5>
          </span>
        </li>
        <li class="menu-item">
          <span class="d-flex align-items-center">
            <img [src]="'assets/media/off-canvas-menu-items/power.svg'" />

            <h5 class="mb-0 px-3">لوازم برقی</h5>
          </span>
        </li>
        <li class="menu-item">
          <span class="d-flex align-items-center">
            <img [src]="'assets/media/off-canvas-menu-items/package.svg'" />

            <h5 class="mb-0 px-3">پکیج های آسانسور</h5>
          </span>
        </li>
        <li class="menu-item">
          <span class="d-flex align-items-center">
            <img [src]="'assets/media/off-canvas-menu-items/open.svg'" />

            <h5 class="mb-0 px-3">لوازم یدکی</h5>
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>
