<ng-template [ngIf]="categoryDetails && categoryDetails.description">
  <div class="text-end">
    <div class="d-flex align-items-center mb-3">
      <h4 class="fw-bold text-klm-primary px-3">
        {{ categoryDetails.name! }}
      </h4>
      <div class="gradient-border flex-grow-1"></div>
    </div>
    <div class="card card-rounded-3 border border-gray-300">
      <div class="card-body">
        <article
          [innerHTML]="
            sanitizer.bypassSecurityTrustHtml(categoryDetails.description!)
          "
        ></article>
      </div>
    </div>
  </div>
</ng-template>
