<div class="border-bottom border-gray-300 p-3">
  <h6 class="fw-bold text-klm-primary">مشخصات</h6>
  <div class="row details">
    <div
      class="col-12 col-md-6"
      *ngFor="let columnData of [leftColumnData, rightColumnData]"
    >
      <table class="product-details-check">
        <tr class="d-flex" *ngFor="let item of columnData">
          <td class="flex-grow-1 fw-bold">{{ item.title! }}</td>
          <td>{{ item.value }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
