.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}

.mat-auto-form-control {
  position: relative;
  mat-spinner {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
  }
}
