<div class="d-flex flex-column">
  <span class="keleman-head-strong-5">پیشنهاد کلمان</span>
  <div class="swiper-part">

    <swiper [config]="swiperConfig">
      <ng-template swiperSlide>
        <app-suggestion-slider-item
          [src]="'assets/media/temp/eff06086-1f70-4db2-a4e6-08700eddd2df.jpg'"></app-suggestion-slider-item>

      </ng-template>
      <ng-template swiperSlide>

        <app-suggestion-slider-item
          [src]="'assets/media/temp/81d6e063-69dd-4301-87cc-9697358676d9.jpg'"></app-suggestion-slider-item>

      </ng-template>
      <ng-template swiperSlide>

        <app-suggestion-slider-item
          [src]="'assets/media/temp/9a6d4a6c-43ac-481f-87ee-ce8f00a3b634.jpg'"></app-suggestion-slider-item>

      </ng-template>
      <ng-template swiperSlide>

        <app-suggestion-slider-item
          [src]="'assets/media/temp/81d6e063-69dd-4301-87cc-9697358676d9.jpg'"></app-suggestion-slider-item>

      </ng-template>
      <ng-template swiperSlide>

        <app-suggestion-slider-item
          [src]="'assets/media/temp/SERVIC-ELEVATOR-SHAKH-scaled.jpg'"></app-suggestion-slider-item>

      </ng-template>
      <ng-template swiperSlide>
        <app-suggestion-slider-item
          [src]="'assets/media/temp/SERVIC-ELEVATOR-SHAKH-scaled.jpg'"></app-suggestion-slider-item>

      </ng-template>
      <ng-template swiperSlide>

        <app-suggestion-slider-item
          [src]="'assets/media/temp/SERVIC-ELEVATOR-SHAKH-scaled.jpg'"></app-suggestion-slider-item>

      </ng-template>
      <ng-template swiperSlide>

        <app-suggestion-slider-item
          [src]="'assets/media/temp/SERVIC-ELEVATOR-SHAKH-scaled.jpg'"></app-suggestion-slider-item>

      </ng-template>
      <ng-template swiperSlide>

        <app-suggestion-slider-item
          [src]="'assets/media/temp/SERVIC-ELEVATOR-SHAKH-scaled.jpg'"></app-suggestion-slider-item>

      </ng-template>
      <ng-template swiperSlide>

        <app-suggestion-slider-item
          [src]="'assets/media/temp/SERVIC-ELEVATOR-SHAKH-scaled.jpg'"></app-suggestion-slider-item>

      </ng-template>


    </swiper>

  </div>

</div>
