<div class="d-flex flex-column">
  <h5 class="fw-bolder">پیشنهاد کلمان</h5>
  <div class="swiper-part">
    <swiper [config]="swiperConfig">
      <ng-template swiperSlide>
        <app-suggestion-slider-item
          [src]="'assets/media/temp/3.jpg'"
        ></app-suggestion-slider-item>
      </ng-template>
      <ng-template swiperSlide>
        <app-suggestion-slider-item
          [src]="'assets/media/temp/2.jpg'"
        ></app-suggestion-slider-item>
      </ng-template>
      <ng-template swiperSlide>
        <app-suggestion-slider-item
          [src]="'assets/media/temp/9a6d4a6c-43ac-481f-87ee-ce8f00a3b634.jpg'"
        ></app-suggestion-slider-item>
      </ng-template>
      <ng-template swiperSlide>
        <app-suggestion-slider-item
          [src]="'assets/media/temp/2.jpg'"
        ></app-suggestion-slider-item>
      </ng-template>
      <ng-template swiperSlide>
        <app-suggestion-slider-item
          [src]="'assets/media/temp/4.jpg'"
        ></app-suggestion-slider-item>
      </ng-template>
      <ng-template swiperSlide>
        <app-suggestion-slider-item
          [src]="'assets/media/temp/4.jpg'"
        ></app-suggestion-slider-item>
      </ng-template>
      <ng-template swiperSlide>
        <app-suggestion-slider-item
          [src]="'assets/media/temp/4.jpg'"
        ></app-suggestion-slider-item>
      </ng-template>
      <ng-template swiperSlide>
        <app-suggestion-slider-item
          [src]="'assets/media/temp/4.jpg'"
        ></app-suggestion-slider-item>
      </ng-template>
      <ng-template swiperSlide>
        <app-suggestion-slider-item
          [src]="'assets/media/temp/4.jpg'"
        ></app-suggestion-slider-item>
      </ng-template>
      <ng-template swiperSlide>
        <app-suggestion-slider-item
          [src]="'assets/media/temp/4.jpg'"
        ></app-suggestion-slider-item>
      </ng-template>
    </swiper>
  </div>
</div>
