@import "base/variables/colors";
@import "base/variables/spacers";

.swiper{
  height: 300px;
}

:host ::ng-deep{
  .swiper-slide{
    height: 85%!important;
  }
  .swiper-pagination{

    display: flex;
    justify-content: center;
    align-items: center;
    .swiper-pagination-bullet{
      background: map-get($theme-colors,'secondary')!important;
      opacity: 1;
      &.swiper-pagination-bullet-active{
        width: map-get($k-spacers,3);
        height:  map-get($k-spacers,3);
        background: map-get($theme-colors,'primary')!important;
      }
  }


  }
}
