@use "sass:math";
@mixin symbol-size($size) {
  > img {
    width: $size !important;
    height: $size !important;
  }

  .symbol-label {
    width: $size !important;
    height: $size !important;
  }
}
