@import "../../../../../../../styles/base/variables/colors";
@import "../../../../../../../styles/components/swiper";
@include swiper-button();

.keleman-swiper {
  margin-right: 14rem !important;
}

.related-products-title {
  border-bottom: 2px solid black;
}

.elevator-package-container {
  background-color: map-get($theme-colors, "klm-primary");
}

.swiper-start {
  position: absolute;
  right: 1rem;
  top: 1rem;

  .swiper-start-text {
    font-family: Aviny !important;
    color: white !important;
    word-wrap: break-word;
  }

  .swiper-start-image {
    max-height: 13rem;
  }
}
