@import "../shared/background-swiper";

.elevator-package-container {
  background-color: map-get($theme-colors, "klm-primary");
}
.swiper-start-image {
  max-height: 13rem;
}
@media (max-width: 768px) {
  .swiper-start-image {
    max-height: 16rem;
  }
}
