<div class="d-flex flex-column p-3">
  <mat-slider
    min="0"
    [max]="max"
    [step]="max * 0.005"
    [discrete]="true"
    [displayWith]="formatLabel"
    (change)="changePrice()"
  >
    <input [(ngModel)]="minValue" matSliderStartThumb />
    <input [(ngModel)]="maxValue" matSliderEndThumb />
  </mat-slider>
  <div class="price-values">
    <span class="price-values__item">
      از
      <input
        class="keleman-text-field text-center my-3"
        type="text"
        inputmode="numeric"
        #minIn
        [value]="minValue | number : '.0'"
        (input)="onInputMin(minIn.value)"
      />
      تومان
    </span>

    <span class="price-values__item">
      تا
      <input
        #maxIn
        class="keleman-text-field text-center my-3"
        [value]="maxValue | number : '.0'"
        (input)="onInputMax(maxIn.value)"
      />
      تومان
    </span>
  </div>
</div>
