<div class="card card-rounded">
  <div class="card-body">
    <h4 class="fw-bold text-primary mb-5">نظرات کاربران</h4>
    <div class="position-relative mb-3">
      <swiper
        [slidesPerView]="'auto'"
        [spaceBetween]="5"
        [freeMode]="true"
        [grabCursor]="true"
        [navigation]="{
          prevEl: '.k-swiper-button-next',
          nextEl: '.k-swiper-button-prev'
        }"
      >
        <ng-template swiperSlide>
          <app-comment-item></app-comment-item>
        </ng-template>
        <ng-template swiperSlide>
          <app-comment-item></app-comment-item>
        </ng-template>
        <ng-template swiperSlide>
          <app-comment-item></app-comment-item>
        </ng-template>
        <ng-template swiperSlide>
          <app-comment-item></app-comment-item>
        </ng-template>
        <ng-template swiperSlide>
          <app-comment-item></app-comment-item>
        </ng-template>
        <ng-template swiperSlide>
          <app-comment-item></app-comment-item>
        </ng-template>
        <ng-template swiperSlide>
          <app-comment-item></app-comment-item>
        </ng-template>
        <ng-template swiperSlide>
          <app-comment-item></app-comment-item>
        </ng-template>
      </swiper>
      <div class="k-swiper-button-prev">
        <span
          class="svg-icon svg-icon-5x svg-icon-primary"
          [inlineSVG]="'assets/media/icons/duotune/arrows/arr074.svg'"
        ></span>
      </div>
      <div class="k-swiper-button-next">
        <span
          class="svg-icon svg-icon-5x svg-icon-primary"
          [inlineSVG]="'assets/media/icons/duotune/arrows/arr071.svg'"
        ></span>
      </div>
    </div>
    <button class="btn rounded-4 add-comment">افزودن نظر</button>
  </div>
</div>
