:host {
  width: 100%;
}

.input-group-append,
.input-group-prepend {
  height: 100%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  line-height: 100%;
  display: flex;
  align-items: center;
}
.input-group-prepend {
  right: 0;
}
.input-group-append {
  left: 5%;
}
