<div class="form-group">
  <p class="text-warning fw-bold mb-3">جستجو</p>
  <keleman-input-group
    id="product-search"
    [placeHolder]="'محصول مورد نظر را جستجو کنید'"
    [formControl]="searchText"
    (keydown.enter)="navigateToProduct()"
  >
    <mat-icon
      class="material-icons append text-gray-300"
      *ngIf="!searchText.value"
    >
      search
    </mat-icon>

    <mat-icon
      class="material-icons append text-gray-300 cursor-pointer"
      *ngIf="searchText.value"
      (click)="searchText.reset(); navigateToProduct()"
    >
      close
    </mat-icon>
  </keleman-input-group>
</div>
