<div class="d-flex flex-column">
  <mat-slider
    [min]="min"
    [max]="max"
    [step]="500000"
    [discrete]="true"
    [displayWith]="formatLabel"
    (change)="changePrice()"
  >
    <input
      [(ngModel)]="minValue"
      matSliderStartThumb
      (ngModelChange)="formatInputValues()"
    />
    <input
      [(ngModel)]="maxValue"
      matSliderEndThumb
      (ngModelChange)="formatInputValues()"
    />
  </mat-slider>
  <div class="price-values">
    <span class="price-values__item">
      از
      <input
        class="keleman-text-field text-center my-3"
        [(ngModel)]="formattedMinValue"
      />
      تومان
    </span>

    <span class="price-values__item">
      تا
      <input
        class="keleman-text-field text-center my-3"
        [(ngModel)]="formattedMaxValue"
      />
      تومان
    </span>
  </div>
</div>
