<div
  class="card card-rounded-3 border-gray-300 product mb-3 cursor-pointer"
  [routerLink]="[product.name]"
>
  <div
    class="card-body d-flex align-items-center flex-column justify-content-between"
  >
    <keleman-icon-text
      class="rate align-self-end"
      [text]="product.rate.average.toString()!"
      [iconName]="'star'"
      [iconClass]="'text-warning'"
    ></keleman-icon-text>

    <div class="symbol symbol-200px mb-3">
      <img
        loadingLazy
        emptyImage
        [src]="product.defaultPic!"
        [alt]="product.name!"
      />
    </div>
    <h6>{{ product.name! }}</h6>

    <standalone-price
      [value]="product.price!"
      [off]="false"
      [size]="'h5'"
    ></standalone-price>

    <standalone-price
      [value]="4000000"
      [off]="true"
      [discount]="10"
      [size]="'h6'"
    ></standalone-price>
  </div>
</div>
