@media (min-width: 768px) {
  .product {
    min-height: 22.5rem;
  }
}
@media (max-width: 767px) {
  .rate {
    position: absolute;
    top: 15%;
    left: 10%;
    transform: translate(-50%, -50%);
  }
}
