<div
  class="card card-rounded-3 border-gray-300 product mb-3 cursor-pointer"
  [routerLink]="[product.name]"
>
  <div
    class="card-body d-flex align-items-center flex-row flex-md-column justify-content-md-between"
  >
    <keleman-text-with-icon
      class="rate align-self-end"
      [text]="product.rate.average.toString()!"
      [iconName]="'star'"
      [iconClass]="'text-warning'"
    ></keleman-text-with-icon>

    <div class="symbol symbol-100px symbol-lg-200px mb-3">
      <img
        loadingLazy
        emptyImage
        [src]="product.defaultPic!"
        [alt]="product.name!"
      />
    </div>
    <h6 class="align-self-start align-self-md-center flex-grow-1">
      {{ product.name! }}
    </h6>
    <div class="d-flex flex-column">
      <keleman-price
        [value]="product.price!"
        [off]="false"
        [size]="'h5'"
        class="mb-3"
      ></keleman-price>

      <keleman-price
        [value]="4000000"
        [off]="true"
        [discount]="10"
        [color]="'dark'"
        [size]="'h6'"
      ></keleman-price>
    </div>
  </div>
</div>
