html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: $font-size-base !important;
  font-weight: $font-weight-base;
  font-family: $font-family-base;
  @include media-breakpoint-down(lg) {
    font-size: $k-font-size-base * 2 !important;
  }
}

body {
  background: url("../../assets/media/static-resources/keleman-logo-background.svg")
    no-repeat 10% -15rem;
}

a {
  text-decoration: none !important;
}

.keleman-container {
  section {
    margin-bottom: 2.5rem;
  }
}

.sticky-top {
  z-index: 1000 !important;
}
