html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: $k-font-size-base * 3 !important;
  font-weight: $font-weight-base;
  font-family: $font-family-base;
  @include media-breakpoint-down(lg) {
    font-size: $k-font-size-base * 2 !important;
  }
}

// Angular integration

.form-control {
  background-color: white !important;
}

.keleman-container {
  padding: 1.5rem 0;
  section {
    margin-bottom: 2.5rem;
  }
}

@media (min-width: 992px) {
  .app-container-fit-desktop {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
@media (max-width: 599.98px) {
  .app-container-fit-mobile {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
