@use "@angular/material" as mat;

$keleman-shopping-primary: mat.define-palette(mat.$indigo-palette);
$keleman-shopping-accent: mat.define-palette(
  mat.$pink-palette,
  A200,
  A100,
  A400
);

$keleman-typography: mat.define-typography-config(
  $font-family: IRANYekanXFaNum,
);

$keleman-shopping-warn: mat.define-palette(mat.$red-palette);
$keleman-shopping-success: mat.define-palette(mat.$light-green-palette);

$keleman-shopping-theme: mat.define-light-theme(
  (
    color: (
      primary: $keleman-shopping-primary,
      accent: $keleman-shopping-accent,
      warn: $keleman-shopping-warn,
      success: $keleman-shopping-success,
    ),
    typography: $keleman-typography,
  )
);
@include mat.core();

@include mat.all-component-themes($keleman-shopping-theme);
