@use "@angular/material" as mat;

$keleman-shopping-primary: mat.define-palette(mat.$indigo-palette);
$keleman-shopping-accent: mat.define-palette(
  mat.$pink-palette,
  A200,
  A100,
  A400
);

$keleman-typography: mat.define-typography-config(
  $font-family: IRANYekanXFaNum,
);

$keleman-shopping-warn: mat.define-palette(mat.$red-palette);

$keleman-shopping-theme: mat.define-light-theme(
  (
    color: (
      primary: $keleman-shopping-primary,
      accent: $keleman-shopping-accent,
      warn: $keleman-shopping-warn,
    ),
    typography: $keleman-typography,
  )
);
@include mat.core();
@include mat.menu-theme($keleman-shopping-theme);
@include mat.dialog-theme($keleman-shopping-theme);
@include mat.bottom-sheet-theme($keleman-shopping-theme);
@include mat.slider-theme($keleman-shopping-theme);
@include mat.slide-toggle-theme($keleman-shopping-theme);
@include mat.radio-theme($keleman-shopping-theme);
