<span class="d-flex justify-content-between align-items-center">
    <h3 class="keleman-head-extra-strong-3  related-products-title">{{title}}</h3>

      <a href="#" > {{moreButtonText}} > </a>


  </span>

<div class="position-relative">
  <swiper [slidesPerView]="'auto'" [spaceBetween]="15"
          [grabCursor]="true"
          [navigation]="{  prevEl: '.k-swiper-button-next',
      nextEl: '.k-swiper-button-prev'}">

    <ng-template swiperSlide>
      <app-carousel-item></app-carousel-item>
    </ng-template>
    <ng-template swiperSlide>
      <app-carousel-item></app-carousel-item>
    </ng-template>
    <ng-template swiperSlide>
      <app-carousel-item></app-carousel-item>
    </ng-template>
    <ng-template swiperSlide>
      <app-carousel-item></app-carousel-item>
    </ng-template>
    <ng-template swiperSlide>
      <app-carousel-item></app-carousel-item>
    </ng-template>
    <ng-template swiperSlide>
      <app-carousel-item></app-carousel-item>
    </ng-template>

  </swiper>
  <div class="k-swiper-button-prev">
      <span class="svg-icon svg-icon-5x svg-icon-primary"
            [inlineSVG]="'assets/media/icons/duotune/arrows/arr074.svg'"></span>
  </div>
  <div class="k-swiper-button-next">
      <span class="svg-icon svg-icon-5x svg-icon-primary"
            [inlineSVG]="'assets/media/icons/duotune/arrows/arr071.svg'"></span>
  </div>
</div>

