.margin-top-header {
  margin-top: var(--header-height);
}

.header-container {
  margin: 0 auto;
}

@media (max-width: 768px) {
  #keleman-header {
    height: 19rem;
  }
}
@media (min-width: 540px) {
  .header-container {
    max-width: 810px !important;
  }
}

@media (min-width: 720px) {
  .header-container {
    max-width: 990px !important;
  }
}
@media (min-width: 960px) {
  .header-container {
    max-width: 1230px !important;
  }
}

@media (min-width: 1320px) {
  .header-container {
    max-width: 1650px !important;
  }
}

@media (min-width: 1480px) {
  .header-container {
    max-width: 1750px !important;
  }
}
