.offcanvas {
  max-width: 85% !important;
}

.keleman-logo {
  height: 3.125rem;
  width: 7.8rem;
  padding: 0.25rem;
}
.header-mobile {
  .basket {
    color: black !important;
    //.basket-icon {
    //  width: 3rem !important;
    //}
    .basket-count {
      position: absolute;
      left: 50%;
      top: -5% !important;
      width: 1.75rem;
      height: 1.75rem;
      text-align: center;
      font-weight: bolder;
      transform: translateX(-50%);
      background-color: $klm-secondary;
      border-radius: 50%;
      color: $klm-primary;
    }
  }
  mat-icon {
    font-size: 2.5rem;
    width: 2.5rem;
    height: 2.5rem;
  }
  .mat-badge-small.mat-badge-above .mat-badge-content {
    top: -5px !important;
    right: -5px !important;
    background-color: $klm-secondary;
    color: $klm-primary;
    font-weight: bolder;
  }
}

.dropdown-toggle::after {
  display: none !important;
}
