.navbar-nav {
  .active {
    background-color: map-get($theme-colors, "klm-primary");
    color: white !important;
  }

  .nav-item:not(.dropdown):hover {
    background-color: $gray-200;
  }

  .dropdown-toggle:after {
    display: none !important;
  }
  #navbarDropdown:focus-visible {
    outline: none !important;
  }
}

.mega-menu-body {
  width: var(--mega-menu-width) !important;
}
.dropdown-content {
  display: none;
  position: absolute;
  padding: 0 !important;

  max-width: unset !important;
  background-color: white;
  z-index: 1;
}

.article-category-list {
  mat-list-item {
    padding: 0.5rem;
    &:hover {
      background-color: $gray-300 !important;
    }
  }
}
