.navbar-nav {
  li:first-child {
    border-left: 1px solid $gray-300;
  }
  .active {
    background-color: map-get($theme-colors, "klm-primary");
    color: white !important;
  }

  .nav-item:not(.dropdown):hover {
    background-color: $gray-200;
  }

  .dropdown-toggle:after {
    display: none !important;
  }
  #navbarDropdown:focus-visible {
    outline: none !important;
  }
}
[aria-labelledby="categoryDropDown"] {
  padding: 0 !important;
}
.mat-menu-panel {
  width: var(--mega-menu-width) !important;
  max-width: unset !important;
}
