<div class="purchase card border-0 card-rounded-3 shadow">
  <div class="card-body text-center d-flex flex-column">
    <div class="flex-grow-1">
      <keleman-main-purchase></keleman-main-purchase>
    </div>
    <div class="text-center d-flex flex-column">
      <button
        class="btn btn-outline btn-outline-dashed btn-outline-primary btn-active-light-primary mb-3"
        kelemanLoadingProgress
        [loading]="
          (loadingServcie.getLoadingStateObservable('read', 'getPreFactor')
            | async)!
        "
        (click)="getPreFactor()"
      >
        دریافت پیش فاکتور
      </button>

      @if((checkoutService.selectedIndex|async)!<2){

      <button
        class="btn btn-warning submit-button align-self-center w-100"
        (click)="checkoutService.nextStep()"
      >
        ادامه
      </button>
      }
    </div>
  </div>
</div>
