<div class="card card-rounded-3 border">
  <div class="card-body">
    @if (title){
    <p class="mb-1 text-center">{{ title }}</p>
    }

    <div class="d-flex align-items-center justify-content-between fw-bold fs-3">
      <mat-icon
        class="text-success cursor-pointer"
        [class.disabled]="max ? max === value : false"
        inline
        (click)="increase()"
      >
        add</mat-icon
      >

      <span class="fw-bold">{{ value }}</span>
      <mat-icon
        class="text-danger cursor-pointer"
        [class.disabled]="(min ? min === value : value === 0) || !canDecrease"
        inline
        (click)="decrease()"
      >
        {{ removable ? (value > 1 ? "remove" : "delete") : "remove" }}
      </mat-icon>
    </div>
  </div>
</div>
