<div class="card card-rounded-1 border">
  <div class="card-body">
    <div
      class="d-flex align-items-center justify-content-between fw-bold"
      [ngClass]="{
        'fs-1': fontSize === 1,
        'fs-2': fontSize === 2,
        'fs-3': fontSize === 3,
        'fs-4': fontSize === 4,
        'fs-5': fontSize === 5,
        'fs-6': fontSize === 6
      }"
    >
      <mat-icon
        class="text-success cursor-pointer"
        [class.disabled]="(max ? max === value : false) || disableIncrease"
        inline
        (click)="increase()"
      >
        add</mat-icon
      >

      <span class="fw-bold">{{ value }}</span>
      <mat-icon
        class="text-danger cursor-pointer"
        [class.disabled]="
          (min ? min === value : value === 0) || disableDecrease
        "
        inline
        (click)="decrease()"
      >
        {{ removable ? (value > 1 ? "remove" : "delete") : "remove" }}
      </mat-icon>
    </div>
  </div>
</div>
