<div class="card card-rounded-1 border">
  <div class="card-body">
    <div class="d-flex align-items-center justify-content-between fw-bold fs-3">
      <mat-icon
        class="text-success cursor-pointer"
        [class.disabled]="(max ? max === value : false) || disableIncrease"
        inline
        (click)="increase()"
      >
        add</mat-icon
      >

      <span class="fw-bold">{{ value }}</span>
      <mat-icon
        class="text-danger cursor-pointer"
        [class.disabled]="
          (min ? min === value : value === 0) || disableDecrease
        "
        inline
        (click)="decrease()"
      >
        {{ removable ? (value > 1 ? "remove" : "delete") : "remove" }}
      </mat-icon>
    </div>
  </div>
</div>
